<f:layout name="Default" />

<f:section name="main">
<h1><f:translate key="fragebogen" /> 2 / 4</h1>

<div id="dialog-confirm" title="Webapp - IQ Anerkennungsberatung">
  <p><span class="ui-icon ui-icon-alert"></span><f:translate key="dialoganmeldungabbrechen" /></p>
</div>

<f:form.validationResults for="{object}">
	<f:if condition="{validationResults.flattenedErrors}">
		<div class="error">
			&nbsp;<b>Bitte prüfen Sie die rot markierten Felder / Please check the red highlighted fields.</b>
		</div>
	</f:if>
</f:form.validationResults>

<f:flashMessages />

<div class="frameabschluesse">
	
	<f:render partial="FormErrors" arguments="{object:Abschluss}" />
	
	<div id="AnkerAbschluesse" class="fframe formabschluss">
		<h2><f:translate key="datenabschluss" /></h2>
		<f:render partial="Abschluss/AbschlussListe4Anmeldung" arguments="{teilnehmer : teilnehmer, abschluesse: abschluesse, thisabschluss: abschluss}" />
	
		<f:form id="teilnehmerform" action="createWebapp" name="abschluss" object="{abschluss}" arguments="{teilnehmer: teilnehmer}">
			<div class="fframeabschluss-inner"><h2>Abschluss bearbeiten</h2>
				<f:render partial="Abschluss/FormFieldsAnmeldung" arguments="{abschlussjahre:abschlussjahre}" />
			</div>
			<f:form.button id="newabschlusszurueckbutton" name="btnzurueck"><f:translate key="zurueck" /></f:form.button>
			<f:form.submit class="linkbuttons" value="Speichern" id="savebutton1"/>			
		</f:form>
	</div>

</div>
<span style="color: #efefef; font-size: 0.8rem; float: right;">{beratungsstelle}</span>
</f:section>