
<f:layout name="Default" />
<f:section name="HeaderAssets">
  		<link rel="stylesheet" href="{f:uri.resource(path: 'CSS/customtp13dbadmin.css')}"/>  		
</f:section>
<f:section name="main">
<h1>Liste der Abschlüsse/Berufe</h1>

<f:flashMessages />

<table  class="tx_iqtp13db" >
	<tr>
		<th><f:translate key="tx_iqtp13db_domain_model_beruf.teilnehmer" /></th>
		<th></th>
		<th></th>
	</tr>

	<f:for each="{berufe}" as="beruf">
		<tr>
			<td><f:link.action action="show" arguments="{beruf : beruf}">{beruf.teilnehmer.nachname}, {beruf.teilnehmer.vorname}</f:link.action></td>
			<td><f:link.action action="edit" class="linkbuttons" arguments="{beruf : beruf}">Bearbeiten</f:link.action></td>
			<td><f:link.action action="delete" class="linkbuttons" arguments="{beruf : beruf}">Löschen</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action class="linkbuttons" action="new">Neuer Abschluss/Beruf</f:link.action>
</f:section>