
<f:layout name="Default" />
<f:section name="HeaderAssets">
  		<link rel="stylesheet" href="{f:uri.resource(path: 'CSS/customtp13dbadmin.css')}"/>  		
</f:section>
<f:section name="main">
<h1>Neuer Abschluss</h1>

<f:flashMessages />

<f:render partial="FormErrors" arguments="{object:Abschluss}" />

<f:form action="create" name="abschluss" object="{abschluss}" arguments="{teilnehmer: teilnehmer, calleraction: calleraction, callercontroller : callercontroller, callerpage : callerpage, thisaction : thisaction}">
	<f:form.button type="submit" class="linkbuttons" id="savebutton1">{f:translate(key:'speichern')}</f:form.button>
	<f:link.action id="linkloadoverlay-back" class="linkbuttons" action="{thisaction}" controller="{callercontroller}" arguments="{teilnehmer: teilnehmer, calleraction: calleraction, callercontroller : callercontroller, callerpage : callerpage, showabschluesse : 1}">Zurück</f:link.action>
	
	<f:render partial="Abschluss/FormFields" arguments="{abschlussjahre:abschlussjahre, staatenarr:staatenarr, berufearr:berufearr}" />
	
	<f:form.button type="submit" class="linkbuttons" id="savebutton2">{f:translate(key:'speichern')}</f:form.button>
	<f:link.action id="linkloadoverlay-edit" class="linkbuttons" action="{thisaction}" controller="{callercontroller}" arguments="{teilnehmer: teilnehmer, calleraction: calleraction, callercontroller : callercontroller, callerpage : callerpage, showabschluesse : 1}">Zurück</f:link.action>
</f:form>

</f:section>