
<f:layout name="Default" />
<f:section name="HeaderAssets">
  		<link rel="stylesheet" href="{f:uri.resource(path: 'CSS/customtp13dbadmin.css')}"/>  		
</f:section>
<f:section name="main">
<h1>Neue*r Abschluss</h1>

<f:flashMessages />

<f:render partial="FormErrors" arguments="{object:Abschluss}" />

<f:form action="create" name="abschluss" object="{abschluss}" arguments="{teilnehmer: teilnehmer, calleraction: calleraction, callercontroller : callercontroller, callerpage : callerpage, thisaction : thisaction}">
	<f:render partial="Abschluss/FormFields" arguments="{abschlussjahre:abschlussjahre}" />
	<f:form.submit class="linkbuttons" value="Speichern" />
	<f:link.action class="linkbuttons" action="{thisaction}" controller="Teilnehmer" arguments="{teilnehmer: teilnehmer, calleraction: calleraction, callercontroller : callercontroller, callerpage : callerpage, showabschluesse : 1}">Zurück</f:link.action>
</f:form>

</f:section>