
<f:layout name="Default" />
<f:section name="HeaderAssets">
  		<link rel="stylesheet" href="{f:uri.resource(path: 'CSS/customtp13dbadmin.css')}"/>  		
</f:section>
<f:section name="main">
<h1>Daten Abschluss</h1>

<f:flashMessages />

<f:render partial="Abschluss/Properties" arguments="{abschluss:abschluss}" />
<br>
<f:link.action class="linkbuttons" action="{thisaction}" controller="Teilnehmer" arguments="{teilnehmer: teilnehmer, calleraction: calleraction, callercontroller : callercontroller, callerpage : callerpage, showabschluesse : '1'}">Zurück</f:link.action>

</f:section>