<dialog id="mail4externmodal{teilnehmer.uid}" class="mail4externemail-modal">
 <div class="mail4externmodal-content">
	 <div class="mail4externmodal-header">
               <h4>E-Mail senden an: {teilnehmer.nachname}, {teilnehmer.vorname}</h4>
               <button type="button" class="mail4externclose-btn" onclick="closeEmailModal({teilnehmer.uid})">&times;</button>
           </div>
           
           <div class="mail4externmodal-body">
                 <f:form action="mail4editextern" arguments="{teilnehmer : teilnehmer, calleraction : 'listangemeldet', callerpage : callerpage}" method="post" id="emailForm_{teilnehmer.uid}">
                     <f:form.hidden name="teilnehmerId" value="{teilnehmer.uid}" />
                     
                     <div class="mail4externform-group">
                     	<div style="text-align: left;">Guten Tag {teilnehmer.vorname} {teilnehmer.nachname},</div>			                            
                         <f:form.textarea 
                             name="emailBody" 
                             id="emailBody_{teilnehmer.uid}" 
                             rows="3" 
                             cols="50" 
                             value="{mail4externstandardmailtext}"
                             required="required"
                         />
                     </div>
                     
                     <div class="mail4externform-actions">
                         <f:form.submit value="E-Mail senden" class="mail4externbtn" />
                         <button type="button" class="mail4externbtn" onclick="closeEmailModal({teilnehmer.uid})">
                             Abbrechen
                         </button>
                     </div>
                 </f:form>
             </div>
	  </div>
</dialog>

