 
<div class="fframe" id="AnkerAbschluesse"><h2>Abschlüsse</h2>
	<f:if condition="{abschluesse -> f:count()} < 4">
			<f:then>
				<f:form action="new" controller="Abschluss" arguments="{teilnehmer : teilnehmer, thisaction : thisaction, calleraction : calleraction, callercontroller : callercontroller, callerpage : callerpage}" >
					<f:form.submit value="<f:translate key='abschlusshinzu' />" />
				</f:form>
			</f:then>
	</f:if>	
	
	<f:if condition="{abschluesse}"><f:then>
	<table class="abschluesseliste">
			<thead>
				<th><f:translate key="tx_iqtp13db_domain_model_abschluss.abschlussart" /></th>
				<th><f:translate key="tx_iqtp13db_domain_model_abschluss.abschluss" /></th>
				<th><f:translate key="tx_iqtp13db_domain_model_abschluss.deutscher_referenzberuf" /></th>
				<th><f:translate key="tx_iqtp13db_domain_model_abschluss.referenzberufzugewiesen" /></th>
				<th><f:translate key="tx_iqtp13db_domain_model_abschluss.abschlussjahr" /></th>
				<th>vorherige Antragstellung</th>
				<th></th>
				<th></th>
			</thead>
			<f:for each="{abschluesse}" as="abschluss">					
					<tr>
						<td>
							<f:link.action action="show" controller="Abschluss" arguments="{abschluss : abschluss, teilnehmer : teilnehmer, calleraction : calleraction, callercontroller : callercontroller, callerpage : callerpage, thisaction : thisaction}">
								<f:for each="{abschluss.abschlussart}" as="abschlussart" iteration="iter">
									{f:if(condition: '{iter.index} > 0', then: ',', else: '')}
									<f:if condition="{abschlussart} == -1"><f:then>
										<f:translate key="ka"/>
									</f:then></f:if>
									<f:if condition="{abschlussart} == 1"><f:then>
										<f:translate key="abschlussart.1"/>
									</f:then></f:if>
									<f:if condition="{abschlussart} == 2"><f:then>
										<f:translate key="abschlussart.2"/>
									</f:then></f:if>										
								</f:for>
							</f:link.action>
						</td>
						<td>{abschluss.abschluss}</td>
						<td>{abschluss.deutscherReferenzberuf}</td>
						<td>{settings.berufe.{abschluss.referenzberufzugewiesen}}</td>
						<td>{f:if(condition: '{abschluss.abschlussjahr} == "-1"', then: 'k.A.', else: '{abschluss.abschlussjahr}')}</td>
						<td>{settings.antragstellungvorher.{abschluss.antragstellungvorher}}</td>
						<td><f:link.action class="linkbuttons" action="edit" controller="Abschluss" arguments="{abschluss : abschluss, teilnehmer : teilnehmer, calleraction : calleraction, callercontroller : callercontroller, callerpage : callerpage, thisaction : thisaction}">Bearbeiten</f:link.action></td>
						<td><f:link.action class="iconbuttons" action="delete" controller="Abschluss" arguments="{abschluss : abschluss, teilnehmer : teilnehmer, calleraction : calleraction, callercontroller : callercontroller, callerpage : callerpage, thisaction : thisaction}" onclick="return confirm('Wirklich löschen?');" ><img src="/typo3conf/ext/iqtp13db/Resources/Public/Icons/delete-640.png" width="32" height="32" alt="Löschen" /></f:link.action></td>
					</tr>
			</f:for>
		</table>
	</f:then></f:if>
</div>