<div class="fframeabschluss-inner">
	<input type="hidden" property="uid" value="{abschluss.uid}">
	
	<div class="tp13_formdivwebapp" class="tp13_options">
      <label for="abschlussart">
        <span id="infolab" title="<f:translate key='infoAbschluss' />" class="infolabel"><f:translate key="tx_iqtp13db_domain_model_abschluss.abschlussart" />
        <span class="niqfield" />
       </label>
        <f:form.select property="abschlussart" value="{abschluss.abschlussart}" options="{abschlussartarr}" optionValueField="key" optionLabelField="value" />
	</div>
	
	<div class="tp13_formdivwebapp">
	      <label for="brancheoberkat">
	        <f:translate key="tx_iqtp13db_domain_model_abschluss.branche" />
	       </label>
	       <f:form.select property="branche" prependOptionValue="" prependOptionLabel="{f:translate(key:'bw')}">
					<f:groupedFor each="{brancheunterkat}" as="branche" groupBy="brancheok" groupKey="brok">
	       				<f:form.select.optgroup label="{brancheoberkat.{brok}}">
			       			<f:for each="{branche}" as="ok">
			       				<f:form.select.option value="{ok.brancheid}">
          							{ok.titel}
        						</f:form.select.option>     				
			       			</f:for>
		       			</f:form.select.optgroup>
	       		 </f:groupedFor>
	       	</f:form.select>	     
	</div>
	
	
	<div class="tp13_formdivwebapp">
	      <label for="erwerbsland">
	        <f:translate key="tx_iqtp13db_domain_model_abschluss.erwerbsland" />
	        <span class="niqfield" />
	       </label>
	       <f:form.select property="erwerbsland" value="{abschluss.erwerbsland}" options="{staatenarr}" optionValueField="key" optionLabelField="value" />	       
	</div>
	<div class="tp13_formdivwebapp">
	      <label for="dauerBerufsausbildung">
	        <f:translate key="tx_iqtp13db_domain_model_abschluss.dauer_berufsausbildung" />
	       </label>
	        <f:form.textfield property="dauerBerufsausbildung" value="{abschluss.dauerBerufsausbildung}"/> 
	</div>
	<div class="tp13_formdivwebapp">
	      <label for="abschlussjahr">
	        <f:translate key="tx_iqtp13db_domain_model_abschluss.abschlussjahr" />
	       </label>
	        <f:form.select property="abschlussjahr" value="{abschluss.abschlussjahr}" options="{abschlussjahre}" optionValueField="value" optionLabelField="value" /> 
	</div>
	<div class="tp13_formdivwebapp">
	      <label for="ausbildungsinstitution">
	        <f:translate key="tx_iqtp13db_domain_model_abschluss.ausbildungsinstitution" />
	       </label>
	        <f:form.textfield property="ausbildungsinstitution" value="{abschluss.ausbildungsinstitution}"/> 
	</div>
	<div class="tp13_formdivwebapp">
	      <label for="ausbildungsort">
	        <f:translate key="tx_iqtp13db_domain_model_abschluss.ausbildungsort" />
	       </label>
	        <f:form.textfield property="ausbildungsort" value="{abschluss.ausbildungsort}" /> 
	</div>
	<div class="tp13_formdivwebapp">
	      <label for="abschluss">
	        <f:translate key="tx_iqtp13db_domain_model_abschluss.abschluss" />
	       </label>
	        <f:form.textfield property="abschluss" value="{abschluss.abschluss}"/> 
	</div>
	<div class="tp13_formdivwebapp" id="divantragstellungerfolgt">
			<label for="berufserfahrung">
				<f:translate key="tx_iqtp13db_domain_model_abschluss.berufserfahrung" />
				<span class="niqfield" />
			</label>
			<f:form.select property="berufserfahrung" value="{abschluss.berufserfahrung}" options="{settings.berufserfahrung}" optionValueField="key" optionLabelField="value" />				
	</div>
	
	<div class="tp13_formdivwebapp">
	      <label for="deutscherReferenzberuf">
	        <f:translate key="tx_iqtp13db_domain_model_abschluss.deutscher_referenzberuf" />
	       </label>
	        <f:form.textfield property="deutscherReferenzberuf" value="{abschluss.deutscherReferenzberuf}"/> 
	</div>
	<div class="tp13_formdivwebapp">
	      <label for="referenzberufzugewiesen">
	        <f:translate key="tx_iqtp13db_domain_model_abschluss.referenzberufzugewiesen" />
	        <span class="niqfield" />
	       </label>
	       <f:security.ifHasRole role="Webapp Admin">
				<f:then>
					<f:form.select id="selectreferenzberuf" property="referenzberufzugewiesen" value="{abschluss.referenzberufzugewiesen}" options="{berufearr}" optionValueField="key" optionLabelField="value" prependOptionValue="" prependOptionLabel="-bitte auswählen-" />
				</f:then>
				<f:else>
					<f:form.select id="selectreferenzberuf" property="referenzberufzugewiesen" value="{abschluss.referenzberufzugewiesen}" options="{berufearr}" optionValueField="key" optionLabelField="value" prependOptionValue="" prependOptionLabel="-bitte auswählen-" required="1" />
				</f:else>
			</f:security.ifHasRole>
	</div>
	
	<div id="divsonstigerberuf" class="tp13_formdivwebapp">
	      <label for="sonstigerberuf">
	        <f:translate key="tx_iqtp13db_domain_model_abschluss.sonstigerberuf" />
	        <span class="niqfield" />
	       </label>
	        <f:form.textfield id="txtsonstigerberuf" property="sonstigerberuf" value="{abschluss.sonstigerberuf}"/> 
	</div>
	<div id="divnregberuf" class="tp13_formdivwebapp">
	      <label for="nregberuf">
	        <f:translate key="tx_iqtp13db_domain_model_abschluss.nregberuf" />
	        <span class="niqfield" />
	       </label>
	        <f:form.textfield id="txtnregberuf" property="nregberuf" value="{abschluss.nregberuf}"/> 
	</div>
		
	<div class="tp13_formdivwebapp">
	      <label for="wunschberuf">
	        <f:translate key="tx_iqtp13db_domain_model_abschluss.wunschberuf" />
	       </label>
	        <f:form.textfield property="wunschberuf" value="{abschluss.wunschberuf}"/> 
	</div>
	
	<div class="tp13_formdivwebapp" id="divantragstellungvorher">
			<label for="antragstellungvorher">
				<f:translate key="tx_iqtp13db_domain_model_abschluss.antragstellungvorher" />
				<span class="niqfield" />
			</label>
			<f:form.select id="selectantragstellungvorher" property="antragstellungvorher" value="{abschluss.antragstellungvorher}" options="{settings.antragstellungvorher}" optionValueField="key" optionLabelField="value" />				
	</div>
	<div class="tp13_formdivwebapp" id="divantragstellunggwpvorher">
			<label for="antragstellunggwpvorher">
				<f:translate key="tx_iqtp13db_domain_model_abschluss.antragstellunggwpvorher" />
				<span class="niqfield" />
			</label>
			<f:form.select property="antragstellunggwpvorher" value="{abschluss.antragstellunggwpvorher}" options="{settings.ergebnisgleichwertigkeitvorher}" optionValueField="key" optionLabelField="value" />	
	</div>
	<div class="tp13_formdivwebapp" id="divantragstellungzabvorher">
			<label for="antragstellungzabvorher">
				<f:translate key="tx_iqtp13db_domain_model_abschluss.antragstellungzabvorher" />
				<span class="niqfield" />
			</label>
			<f:form.select property="antragstellungzabvorher" value="{abschluss.antragstellungzabvorher}" options="{settings.ergebniszab}" optionValueField="key" optionLabelField="value" />	
	</div>
	
	<div class="fframeadminonly"><h2>Anerkennungsverfahren</h2>
<h3>während oder nach der Beratung<br>(nicht in Anmeldeformular von Ratsuchendem/r ausfüllbar)</h3>
	<div class="tp13_formdivwebapp" id="divantragstellungerfolgt">
			<label for="antragstellungerfolgt">
				<f:translate key="tx_iqtp13db_domain_model_abschluss.antragstellungerfolgt" />
				<span class="niqfield" />
			</label>
			<f:form.select id="selectantragstellungerfolgt" property="antragstellungerfolgt" value="{abschluss.antragstellungerfolgt}" options="{settings.antragstellungerfolgt}" optionValueField="key" optionLabelField="value" />				
	</div>
	<div class="tp13_formdivwebapp" id="divantragstellunggwpdatum">
	      <label for="antragstellunggwpdatum">
	        <f:translate key="tx_iqtp13db_domain_model_abschluss.antragstellunggwpdatum" />
	        <span class="niqfield" />
	       </label>
	        <f:form.textfield class="datumtextfield" property="antragstellunggwpdatum" value="{abschluss.antragstellunggwpdatum}"/> 
	</div>
	<div class="tp13_formdivwebapp" id="divantragstellunggwpergebnis">
			<label for="antragstellunggwpergebnis">
				<f:translate key="tx_iqtp13db_domain_model_abschluss.antragstellunggwpergebnis" />
				<span class="niqfield" />
			</label>
			<f:form.select property="antragstellunggwpergebnis" value="{abschluss.antragstellunggwpergebnis}" options="{settings.ergebnisgleichwertigkeit}" optionValueField="key" optionLabelField="value" />	
	</div>
		
	<div class="tp13_formdivwebapp" id="divantragstellungzabdatum">
	      <label for="antragstellungzabdatum">
	        <f:translate key="tx_iqtp13db_domain_model_abschluss.antragstellungzabdatum" />
	        <span class="niqfield" />
	       </label>
	        <f:form.textfield class="datumtextfield" property="antragstellungzabdatum" value="{abschluss.antragstellungzabdatum}"/> 
	</div>
	<div class="tp13_formdivwebapp" id="divantragstellungzabergebnis">
			<label for="antragstellungzabergebnis">
				<f:translate key="tx_iqtp13db_domain_model_abschluss.antragstellungzabergebnis" />
				<span class="niqfield" />
			</label>
			<f:form.select property="antragstellungzabergebnis" value="{abschluss.antragstellungzabergebnis}" options="{settings.ergebniszab}" optionValueField="key" optionLabelField="value" />	
	</div>	
</div>
</div>

