	<div class="tp13_formdivwebapp" class="tp13_options">
      <label for="abschlussart">
        <span id="infolab" title="<f:translate key='infoAbschluss' />" class="infolabel"><f:translate key="tx_iqtp13db_domain_model_abschluss.abschlussart" />
       </label>
        <div class="tp13_formdivwebappmultiradio">
        		<div class="tp13_formdivwebappradio"><f:form.checkbox property="abschlussart" value="-1"  multiple="1"/><f:translate key="ka" /></div>
				<div class="tp13_formdivwebappradio"><f:form.checkbox property="abschlussart" value="1"  multiple="1"/><f:translate key="abschlussart.1" /></div>
				<div class="tp13_formdivwebappradio"><f:form.checkbox property="abschlussart" value="2"  multiple="1"/><f:translate key="abschlussart.2" /></div>
		</div>
	</div>
	<div class="tp13_formdivwebapp">
	      <label for="erwerbsland">
	        <f:translate key="tx_iqtp13db_domain_model_abschluss.erwerbsland" />
	       </label>
	        <f:form.select property="erwerbsland" options="{settings.staaten}" optionValueField="key" optionLabelField="value" /> 
	</div>
	<div class="tp13_formdivwebapp">
	      <label for="dauerBerufsausbildung">
	        <f:translate key="tx_iqtp13db_domain_model_abschluss.dauer_berufsausbildung" />
	       </label>
	        <f:form.textfield property="dauerBerufsausbildung" /> 
	</div>
	<div class="tp13_formdivwebapp">
	      <label for="abschlussjahr">
	        <f:translate key="tx_iqtp13db_domain_model_abschluss.abschlussjahr" />
	       </label>
	        <f:form.select property="abschlussjahr" value="{abschluss.abschlussjahr}" options="{abschlussjahre}" optionValueField="value" optionLabelField="value" /> 
	</div>
	<div class="tp13_formdivwebapp">
	      <label for="ausbildungsinstitution">
	        <f:translate key="tx_iqtp13db_domain_model_abschluss.ausbildungsinstitution" />
	       </label>
	        <f:form.textfield property="ausbildungsinstitution" /> 
	</div>
	<div class="tp13_formdivwebapp">
	      <label for="ausbildungsort">
	        <f:translate key="tx_iqtp13db_domain_model_abschluss.ausbildungsort" />
	       </label>
	        <f:form.textfield property="ausbildungsort" /> 
	</div>
	<div class="tp13_formdivwebapp">
	      <label for="abschluss">
	        <f:translate key="tx_iqtp13db_domain_model_abschluss.abschluss" />
	       </label>
	        <f:form.textfield property="abschluss" /> 
	</div>
	<div class="tp13_formdivwebapp" id="divantragstellungerfolgt">
		<label for="berufserfahrung">
			<f:translate key="tx_iqtp13db_domain_model_abschluss.berufserfahrung" />
		<span class="niqfield" />
		</label>
			<f:form.select property="berufserfahrung" options="{settings.berufserfahrung}" optionValueField="key" optionLabelField="value" />				
	</div>

	<div class="tp13_formdivwebapp">
	      <label for="deutscherReferenzberuf">
	        <f:translate key="tx_iqtp13db_domain_model_abschluss.deutscher_referenzberuf" />
	       </label>
	        <f:form.textfield property="deutscherReferenzberuf" /> 
	</div>
	<div class="tp13_formdivwebapp">
	      <label for="wunschberuf">
	        <f:translate key="tx_iqtp13db_domain_model_abschluss.wunschberuf" />
	       </label>
	        <f:form.textfield property="wunschberuf" /> 
	</div>
	
	<div class="tp13_formdivwebapp" id="divantragstellungvorher">
			<label for="antragstellungvorher">
				<f:translate key="tx_iqtp13db_domain_model_abschluss.antragstellungvorher" />
			</label>
			<f:form.select id="selectantragstellungvorher" property="antragstellungvorher" options="{settings.antragstellungvorher}" optionValueField="key" optionLabelField="value" />				
	</div>
	<div class="tp13_formdivwebapp" id="divantragstellunggwpvorher">
			<label for="antragstellunggwpvorher">
				<f:translate key="tx_iqtp13db_domain_model_abschluss.antragstellunggwpvorher" />
			</label>
			<f:form.select property="antragstellunggwpvorher" options="{settings.ergebnisgleichwertigkeitvorher}" optionValueField="key" optionLabelField="value" />	
	</div>
	<div class="tp13_formdivwebapp" id="divantragstellungzabvorher">
			<label for="antragstellungzabvorher">
				<f:translate key="tx_iqtp13db_domain_model_abschluss.antragstellungzabvorher" />
			</label>
			<f:form.select property="antragstellungzabvorher" options="{settings.ergebniszab}" optionValueField="key" optionLabelField="value" />	
	</div>
