	<div class="tp13_formdivwebapp" class="tp13_options">
      <label for="abschlussart">
        <span id="infolab" onclick="return showModal(this)" title="<f:translate key='infoAbschlussart' />" class="infolabel" /><f:translate key="tx_iqtp13db_domain_model_abschluss.abschlussart" />
       </label>
        <f:form.select property="abschlussart" value="{abschluss.abschlussart}" options="{abschlussartarr}" optionValueField="key" optionLabelField="value" />
	</div>
	
	<div class="tp13_formdivwebapp">
	      <label for="brancheoberkat">
	        <f:translate key="tx_iqtp13db_domain_model_abschluss.branche" />
	       </label>
	       <f:form.select id="selectbranche" property="branche" prependOptionValue="" prependOptionLabel="{f:translate(key:'bw')}">
					<f:groupedFor each="{brancheunterkat}" as="branche" groupBy="brancheok" groupKey="brok">
	       				<f:form.select.optgroup label="{brancheoberkat.{brok}}">
			       			<f:for each="{branche}" as="ok">
			       				<f:form.select.option value="{ok.brancheid}">
          							{ok.titel}
        						</f:form.select.option>     				
			       			</f:for>
		       			</f:form.select.optgroup>
	       		 </f:groupedFor>
	       	</f:form.select>	     
	</div>
	
	<div class="tp13_formdivwebapp">
	      <label for="erwerbsland">
	        <span id="infolab" onclick="return showModal(this)" title="<f:translate key='infoErwerbsland' />" class="infolabel" /><f:translate key="tx_iqtp13db_domain_model_abschluss.erwerbsland" />
	       </label>
	        <f:form.select property="erwerbsland" options="{staatenarr}" optionValueField="key" optionLabelField="value" /> 
	</div>
	<div class="tp13_formdivwebapp">
	      <label for="dauerBerufsausbildung">
	        <span id="infolab" onclick="return showModal(this)" title="<f:translate key='infoDauerBerufsausbildung' />" class="infolabel" /><f:translate key="tx_iqtp13db_domain_model_abschluss.dauer_berufsausbildung" />
	       </label>
	        <f:form.textfield placeholder="{f:translate(key: 'infoDauerBerufsausbildung')}" property="dauerBerufsausbildung" pattern="[A-Za-zÀ-ÿ0-9 ,;\(\)\-=\?`´*+.:&§%\/#@!_\[\]\{\}<>]*" /> 
	</div>
	<div class="tp13_formdivwebapp">
	      <label for="abschlussjahr">
	        <span id="infolab" onclick="return showModal(this)" title="<f:translate key='infoAbschlussjahr' />" class="infolabel" /><f:translate key="tx_iqtp13db_domain_model_abschluss.abschlussjahr" />
	       </label>
	        <f:form.select property="abschlussjahr" value="{abschluss.abschlussjahr}" options="{abschlussjahre}" optionValueField="value" optionLabelField="value" /> 
	</div>
	<div class="tp13_formdivwebapp">
	      <label for="ausbildungsinstitution">
	        <span id="infolab" onclick="return showModal(this)" title="<f:translate key='infoAusbildungsinstitution' />" class="infolabel" /><f:translate key="tx_iqtp13db_domain_model_abschluss.ausbildungsinstitution" />
	       </label>
	        <f:form.textfield placeholder="{f:translate(key: 'infoAusbildungsinstitution')}" property="ausbildungsinstitution" pattern="[A-Za-zÀ-ÿ0-9 ,;\(\)\-=\?`´*+.:&§%\/#@!_\[\]\{\}<>]*" /> 
	</div>
	<div class="tp13_formdivwebapp">
	      <label for="ausbildungsort">
	        <span id="infolab" onclick="return showModal(this)" title="<f:translate key='infoAusbildungsort' />" class="infolabel" /><f:translate key="tx_iqtp13db_domain_model_abschluss.ausbildungsort" />
	       </label>
	        <f:form.textfield placeholder="{f:translate(key: 'infoAusbildungsort')}" property="ausbildungsort" pattern="[A-Za-zÀ-ÿ0-9 ,;\(\)\-=\?`´*+.:&§%\/#@!_\[\]\{\}<>]*" /> 
	</div>
	<div class="tp13_formdivwebapp">
	      <label for="abschluss">
	        <span id="infolab" onclick="return showModal(this)" title="<f:translate key='infoAbschluss' />" class="infolabel"><f:translate key="tx_iqtp13db_domain_model_abschluss.abschluss" />
	       </label>
	        <f:form.textfield placeholder="{f:translate(key: 'infoAbschluss')}" property="abschluss" pattern="[A-Za-zÀ-ÿ0-9 ,;\(\)\-=\?`´*+.:&§%\/#@!_\[\]\{\}<>]*" /> 
	</div>
	<div class="tp13_formdivwebapp" id="divantragstellungerfolgt">
		<label for="berufserfahrung">
			<span id="infolab" onclick="return showModal(this)" title="<f:translate key='infoBerufserfahrung' />" class="infolabel" /><f:translate key="tx_iqtp13db_domain_model_abschluss.berufserfahrung" />	
		</label>
			<f:form.select property="berufserfahrung" options="{settings.berufserfahrung}" optionValueField="key" optionLabelField="value" />				
	</div>

	<div class="tp13_formdivwebapp">
	      <label for="deutscherReferenzberuf">
	        <span id="infolab" onclick="return showModal(this)" title="<f:translate key='infoMoeglicherdeutscherBeruf' />" class="infolabel" /><f:translate key="tx_iqtp13db_domain_model_abschluss.deutscher_referenzberuf" />
	       </label>
	        <f:form.textfield placeholder="{f:translate(key: 'infoMoeglicherdeutscherBeruf')}" property="deutscherReferenzberuf" pattern="[A-Za-zÀ-ÿ0-9 ,;\(\)\-=\?`´*+.:&§%\/#@!_\[\]\{\}<>]*" /> 
	</div>
	<div class="tp13_formdivwebapp">
	      <label for="wunschberuf">
	        <span id="infolab" onclick="return showModal(this)" title="<f:translate key='infoWunschberuf' />" class="infolabel" /><f:translate key="tx_iqtp13db_domain_model_abschluss.wunschberuf" />
	       </label>
	        <f:form.textfield placeholder="{f:translate(key: 'infoWunschberuf')}" property="wunschberuf" pattern="[A-Za-zÀ-ÿ0-9 ,;\(\)\-=\?`´*+.:&§%\/#@!_\[\]\{\}<>]*" /> 
	</div>
	
	<div class="tp13_formdivwebapp" id="divantragstellungvorher">
			<label for="antragstellungvorher">
				<f:translate key="tx_iqtp13db_domain_model_abschluss.antragstellungvorher" />
			</label>
			<f:form.select id="selectantragstellungvorher" property="antragstellungvorher" options="{settings.antragstellungvorher}" optionValueField="key" optionLabelField="value" />				
	</div>
	<div class="tp13_formdivwebapp" id="divantragstellunggwpvorher">
			<label for="antragstellunggwpvorher">
				<f:translate key="tx_iqtp13db_domain_model_abschluss.antragstellunggwpvorher" />
			</label>
			<f:form.select property="antragstellunggwpvorher" options="{settings.ergebnisgleichwertigkeitvorher}" optionValueField="key" optionLabelField="value" />	
	</div>
	<div class="tp13_formdivwebapp" id="divantragstellungzabvorher">
			<label for="antragstellungzabvorher">
				<f:translate key="tx_iqtp13db_domain_model_abschluss.antragstellungzabvorher" />
			</label>
			<f:form.select property="antragstellungzabvorher" options="{settings.ergebniszab}" optionValueField="key" optionLabelField="value" />	
	</div>
