
		<div class="tp13_formdivwebapp">
		  <label><f:translate key="tx_iqtp13db_domain_model_abschluss.abschlussart" />
		  <span class="niqfield" /></label>
			<f:for each="{abschlussartarr}" as="abschlussart" key="wert">
				{f:if(condition: '{abschluss.abschlussart} == {wert}', then: '<span class="propdat">{abschlussart}</span>')}
			</f:for>
		</div>
		<div class="tp13_formdivwebapp">
			<label for="erwerbsland">
				<f:translate key="tx_iqtp13db_domain_model_abschluss.erwerbsland" />
				<span class="niqfield" />
			</label>
			<f:for each="{staaten}" as="staat">
				{f:if(condition: '{abschluss.erwerbsland} == {staat.staatid}', then: '<span class="propdat">{staat.titel}</span>')}
			</f:for>		    
		</div>
		<div class="tp13_formdivwebapp">
		  <label><f:translate key="tx_iqtp13db_domain_model_abschluss.dauer_berufsausbildung" /></label>
		    <span class="propdat">{abschluss.dauerBerufsausbildung}</span>
		</div>
		<div class="tp13_formdivwebapp">
		  <label><f:translate key="tx_iqtp13db_domain_model_abschluss.abschlussjahr" /></label>
		    <span class="propdat">{abschluss.abschlussjahr}</span>
		</div>
		<div class="tp13_formdivwebapp">
		  <label><f:translate key="tx_iqtp13db_domain_model_abschluss.ausbildungsinstitution" /></label>
		    <span class="propdat">{abschluss.ausbildungsinstitution}</span>
		</div>
		<div class="tp13_formdivwebapp">
		  <label><f:translate key="tx_iqtp13db_domain_model_abschluss.ausbildungsort" /></label>
		    <span class="propdat">{abschluss.ausbildungsort}</span>
		</div>
		<div class="tp13_formdivwebapp">
		  <label><f:translate key="tx_iqtp13db_domain_model_abschluss.abschluss" /></label>
		    <span class="propdat">{abschluss.abschluss}</span>
		</div>
		<div class="tp13_formdivwebapp">
		  <label><f:translate key="tx_iqtp13db_domain_model_abschluss.berufserfahrung" />
		  <span class="niqfield" /></label>
		      <f:for each="{settings.berufserfahrung}" as="text" key="wert">
					{f:if(condition: '{abschluss.berufserfahrung} == {wert}', then: '<span class="propdat">{text}&nbsp;</span>')}
			</f:for>
		</div>

		<div class="tp13_formdivwebapp">
		  <label><f:translate key="tx_iqtp13db_domain_model_abschluss.deutscher_referenzberuf" />
		  <span class="niqfield" /></label>
		    <span class="propdat">{abschluss.deutscherReferenzberuf}</span>
		</div>
		
		<div class="tp13_formdivwebapp">
	      <label for="referenzberufzugewiesen"><f:translate key="tx_iqtp13db_domain_model_abschluss.referenzberufzugewiesen" />
	        <span class="niqfield" /></label>
	        <f:for each="{berufe}" as="beruf">
					{f:if(condition: '{abschluss.referenzberufzugewiesen} == {beruf.berufid}', then: '<span class="propdat">{beruf.titel}&nbsp;</span>')}
			</f:for>	       		       
		</div>
		
		<div class="tp13_formdivwebapp">
		      <label for="sonstigerberuf"><f:translate key="tx_iqtp13db_domain_model_abschluss.sonstigerberuf" />
		        <span class="niqfield" /></label>
		        <span class="propdat">{abschluss.sonstigerberuf}</span>	         
		</div>
		<div class="tp13_formdivwebapp">
		      <label for="nregberuf"><f:translate key="tx_iqtp13db_domain_model_abschluss.nregberuf" />
		        <span class="niqfield" /></label>
		        <span class="propdat">{abschluss.nregberuf}</span>	         
		</div>
		
		<div class="tp13_formdivwebapp">
		  <label><f:translate key="tx_iqtp13db_domain_model_abschluss.wunschberuf" /></label>
		    <span class="propdat">{abschluss.wunschberuf}</span>
		</div>
		
		<div class="tp13_formdivwebapp">
		  <label><f:translate key="tx_iqtp13db_domain_model_abschluss.antragstellungvorher" />
		  	<span class="niqfield" /></label>
		    <f:for each="{settings.antragstellungvorher}" as="text" key="wert">
					{f:if(condition: '{abschluss.antragstellungvorher} == {wert}', then: '<span class="propdat">{text}&nbsp;</span>')}
			</f:for>
		</div>
		<div class="tp13_formdivwebapp">
		  <label><f:translate key="tx_iqtp13db_domain_model_abschluss.antragstellunggwpvorher" />
		  	<span class="niqfield" /></label>
		    <f:for each="{settings.ergebnisgleichwertigkeitvorher}" as="text" key="wert">
					{f:if(condition: '{abschluss.antragstellunggwpvorher} == {wert}', then: '<span class="propdat">{text}&nbsp;</span>')}
			</f:for>
		</div>
		<div class="tp13_formdivwebapp">
		  <label><f:translate key="tx_iqtp13db_domain_model_abschluss.antragstellungzabvorher" />
		  	<span class="niqfield" /></label>
		    <f:for each="{settings.ergebniszab}" as="text" key="wert">
					{f:if(condition: '{abschluss.antragstellungzabvorher} == {wert}', then: '<span class="propdat">{text}&nbsp;</span>')}
			</f:for>
		</div>		
		<br>
		<h2>Anerkennungsverfahren</h2>
		<br>
		<div class="tp13_formdivwebapp" id="divantragstellungerfolgt">
				<label for="antragstellungerfolgt">
					<f:translate key="tx_iqtp13db_domain_model_abschluss.antragstellungerfolgt" />
					<span class="niqfield" />
				</label>
				<f:for each="{settings.antragstellungerfolgt}" as="text" key="wert">
						{f:if(condition: '{abschluss.antragstellungerfolgt} == {wert}', then: '<span class="propdat">{text}&nbsp;</span>')}
				</f:for>
		</div>
		<div class="tp13_formdivwebapp" id="divantragstellunggwpdatum">
		      <label for="antragstellunggwpdatum">
		        <f:translate key="tx_iqtp13db_domain_model_abschluss.antragstellunggwpdatum" />
		        <span class="niqfield" />
		       </label>
		       <span class="propdat">{abschluss.antragstellunggwpdatum}</span>
		</div>
		<div class="tp13_formdivwebapp" id="divantragstellunggwpergebnis">
				<label for="antragstellunggwpergebnis">
					<f:translate key="tx_iqtp13db_domain_model_abschluss.antragstellunggwpergebnis" />
					<span class="niqfield" />
				</label>
				<f:for each="{settings.ergebnisgleichwertigkeit}" as="text" key="wert">
						{f:if(condition: '{abschluss.antragstellunggwpergebnis} == {wert}', then: '<span class="propdat">{text}&nbsp;</span>')}
				</f:for>
		</div>
		<div class="tp13_formdivwebapp" id="divantragstellungzabdatum">
		      <label for="antragstellungzabdatum">
		        <f:translate key="tx_iqtp13db_domain_model_abschluss.antragstellungzabdatum" />
		        <span class="niqfield" />
		       </label>
		       <span class="propdat">{abschluss.antragstellungzabdatum}</span>
		</div>
		<div class="tp13_formdivwebapp" id="divantragstellungzabergebnis">
				<label for="antragstellungzabergebnis">
					<f:translate key="tx_iqtp13db_domain_model_abschluss.antragstellungzabergebnis" />
					<span class="niqfield" />
				</label>
				<f:for each="{settings.ergebniszab}" as="text" key="wert">
						{f:if(condition: '{abschluss.antragstellungzabergebnis} == {wert}', then: '<span class="propdat">{text}&nbsp;</span>')}
				</f:for>				
		</div>	
