<div class="frame"><h2>Daten Berater</h2>
	<div class="tp13_formdiv100">
		<div class="tp13_formdiv33">
			<label for="name">
				<f:translate key="tx_iqtp13db_domain_model_berater.name" />
			</label><br />
				<f:form.textfield property="name" /><br />
		</div>
		<div class="tp13_formdiv33">
			<label for="organisation">
				<f:translate key="tx_iqtp13db_domain_model_berater.organisation" />
			</label><br />
				<f:form.textfield property="organisation" /><br />
		</div>
	</div>
</div>
<div style="clear: both;"></div>
