<div class="fframe"><h2>Daten Berater*in</h2>
	<div class="tp13_formdivwebapp">
			<label for="name">
				<f:translate key="tx_iqtp13db_domain_model_berater.name" />
			</label>
				<f:form.textfield property="name" />
	</div>
	<div class="tp13_formdivwebapp">
			<label for="kuerzel">
				<f:translate key="tx_iqtp13db_domain_model_berater.kuerzel" />
			</label>
				<f:form.textfield property="kuerzel" />
	</div>
	<div class="tp13_formdivwebapp">
			<label for="organisation">
				<f:translate key="tx_iqtp13db_domain_model_berater.organisation" />
			</label>
				<f:form.textfield property="organisation" />
	</div>
</div>
