
<f:layout name="Default" />

<f:section name="main">
<h1><f:translate key="fragebogen" /> 4 / 5</h1>
<br>
<f:flashMessages />

<f:form action="anmeldseite4redirect"  name="beratungseite4" object="{beratungseite4}">
	<f:render partial="Beratung/FormFieldsAnmeldung4" arguments="{_all}" />
	<f:form.hidden property="datum" value="{heute->f:format.date(format: 'd.m.Y')}" />
	<f:form.button name="btnzurueck"><f:translate key="zurueck" /></f:form.button>
	<f:form.button name="btnweiter"><f:translate key="weiter" /></f:form.button>
	<div style="margin: 10px;">&nbsp;</div>
</f:form>

</f:section>