
<f:layout name="Default" />

<f:section name="main">
<h1><f:translate key="fragebogen" /> 5 / 5</h1>
<br>
<f:flashMessages />
 
<div class="frame"><h2><f:translate key="dokumente" /></h2>
	<p>
		<f:format.raw><f:translate key="dokumenteintro" /></f:format.raw>
		<b>{foldersize} %</b>
	</p>
	<table>
	<f:for each="{dokumente}" as="dokument">
		<tr>
		<td>{dokument.name}</td>
		<td><f:link.action class="linkbuttons" action="deleteFileBeratungExtern" controller="Dokument" arguments="{dokument:dokument, beratung:beratung, teilnehmer:teilnehmer}"><f:translate key="loeschen" /></f:link.action></td>
		</tr>
	</f:for>
	</table>
	<f:form method="post" controller="Dokument" arguments="{beratung:beratung, teilnehmer:teilnehmer}" action="saveFileBeratungExtern" name="dokument" object="{dokument}" enctype="multipart/form-data" noCacheHash="true" ><br />
		<div class="tp13_formdiv100">
 	       <f:translate key="dokumentauswaehlen" />:
				<f:form.upload name="file" /><br>
				<f:form.submit value="Upload file" ></f:form.submit>			
		</div>
	</f:form>
</div>

<f:form action="anmeldungcompleteredirect" controller="Beratung" name="beratung" object="{beratung}">
	<div style="margin: 10px;">&nbsp;</div>
	
	<f:translate key="hinweisdatenueberpruefen" /> 
	<f:render partial="Teilnehmer/PropertiesAnmeldung" arguments="{teilnehmer:teilnehmer}" />
	<f:render partial="Beratung/PropertiesAnmeldung" arguments="{beratung:beratung, berater:berater}" /> 
	
	<f:form.hidden property="datum" value="{heute->f:format.date(format: 'd.m.Y')}" />
	<f:form.button name="btnzurueck"><f:translate key="zurueck" /></f:form.button>
	<f:form.button name="btnAbsenden"><f:translate key="absenden" /></f:form.button>
</f:form>

</f:section>
