<f:layout name="Default" />
<f:section name="HeaderAssets">
  		<link rel="stylesheet" href="{f:uri.resource(path: 'CSS/customtp13dbadmin.css')}"/>  		
</f:section>

<f:section name="main">
<h1>Filter</h1>
<f:form method="post" controller="Beratung" action="listniqerfassung" name="listniqerfassung"  noCacheHash="true" >
		Name: <f:form.textfield size="20" value="{filtername}" name="name" />&nbsp;&nbsp;
		Ort: <f:form.textfield size="20" value="{filterort}" name="ort" />&nbsp;&nbsp;
		Beruf: <f:form.textfield size="20" value="{filterberuf}" name="beruf" />&nbsp;&nbsp;
		Geburtsland: <f:form.textfield value="{filterland}" size="20" name="land" />&nbsp;&nbsp;&nbsp;&nbsp;
		<f:if condition="{filteron}"><f:then><f:form.button name="filteraus" value="1" >Filter löschen</f:form.button></f:then></f:if>
		<f:form.submit name="filteran" value="Filtern" />			
</f:form>
<br>
<f:flashMessages />
<h1>Liste NIQ Erfassung: {beratungen -> f:count()} Einträge </h1>

<f:widget.paginate objects="{beratungen}" as="beratungenpart" configuration="{itemsPerPage: 50, insertAbove: 1}"> 
	<table  class="tx_iqtp13db" >
		<tr>
			<th><f:link.action action="listniqerfassung" arguments="{orderby : 'teilnehmer.nachname'}"><f:translate key="tx_iqtp13db_domain_model_teilnehmer.nachname" /></f:link.action></th>
			<th><f:link.action action="listniqerfassung" arguments="{orderby : 'teilnehmer.vorname'}"><f:translate key="tx_iqtp13db_domain_model_teilnehmer.vorname" /></f:link.action></th>
			<th><f:link.action action="listniqerfassung" arguments="{orderby : 'teilnehmer.schonberaten'}">Bereits<br>beraten</f:link.action></th>
			<th><f:link.action action="listniqerfassung" arguments="{orderby : 'teilnehmer.verificationDate'}"><f:translate key="anmeldedatum" /></f:link.action></th>
			<th><f:link.action action="listniqerfassung" arguments="{orderby : 'teilnehmer.ort'}"><f:translate key="tx_iqtp13db_domain_model_teilnehmer.plz" />/<f:translate key="tx_iqtp13db_domain_model_teilnehmer.ort" /></f:link.action></th>
			<th><f:link.action action="listniqerfassung" arguments="{orderby : 'teilnehmer.bescheidfruehererAnerkennungsantrag'}">Früherer<br>Bescheid</f:link.action></th>
			<th><f:link.action action="listniqerfassung" arguments="{orderby : 'teilnehmer.leistungsbezugjanein'}">Leistung</f:link.action></th>
			<th><f:link.action action="listniqerfassung" arguments="{orderby : 'berater.kuerzel'}"><f:translate key="tx_iqtp13db_domain_model_beratung.berater" /></f:link.action></th>
			<th><f:link.action action="listniqerfassung" arguments="{orderby : 'datum'}"><f:translate key="tx_iqtp13db_domain_model_beratung.datum" /></f:link.action></th>
			<th><f:link.action action="listniqerfassung" arguments="{orderby : 'teilnehmer.deutscherReferenzberuf1'}">Referenzberuf</f:link.action></th>
			<th><f:link.action action="listniqerfassung" arguments="{orderby : 'erstberatungabgeschlossen'}">Fertig</f:link.action></th>
			<th> </th>
			<th> </th>
			<th> </th>
			<th> </th>
		</tr>
	
		<f:for each="{beratungenpart}" as="beratung" iteration="it">
			{f:variable(name: 'fk', value: '{folgekontakte.{it.index}}')}
		
			<tr>
				<td><f:link.action action="show" arguments="{beratung : beratung, folgekontakte : fk, calleraction: calleraction, callercontroller : callercontroller}">{beratung.teilnehmer.nachname}</f:link.action></td>
				<td>{beratung.teilnehmer.vorname}</td>
				<td>{f:if(condition: '{beratung.teilnehmer.schonberaten} == 1', then: '✓', else: '')}</td>
				<td><f:format.date format="d.m.Y">@{beratung.teilnehmer.verificationDate}</f:format.date></td>
				<td>{beratung.teilnehmer.plz} {beratung.teilnehmer.ort}</td>
				<td>{f:if(condition: '{beratung.teilnehmer.bescheidfruehererAnerkennungsantrag} == 1', then: '✓', else: '')}</td>
				<td>{f:if(condition: '{beratung.teilnehmer.leistungsbezugjanein} == 1', then: '✓', else: '')}</td>
				<td>{beratung.berater.kuerzel}</td> 
				<td><f:format.date format="d.m.Y">{beratung.datum}</f:format.date></td>
				<td>{beratung.teilnehmer.deutscherReferenzberuf1} {f:if(condition: '{beratung.teilnehmer.deutscherReferenzberuf2} != ""', then: ', {beratung.teilnehmer.deutscherReferenzberuf2}', else: '')} </td>
				<td>
				<f:if condition="{beratung.erstberatungabgeschlossen} > 0">
				<f:then>
					<f:format.date format="d.m.Y">{beratung.erstberatungabgeschlossen}</f:format.date>			
				</f:then>
				</f:if>				
				</td>
				<td><f:link.action class="linkbuttons" action="edit" arguments="{teilnehmer : beratung.teilnehmer, calleraction: calleraction, callercontroller : callercontroller}" controller="Teilnehmer">Anmeldedaten</f:link.action></td>
				<td><f:link.action class="linkbuttons" action="edit" arguments="{beratung : beratung, calleraction: calleraction, callercontroller : callercontroller}">Erstberatung</f:link.action></td>
				<td><f:link.action class="linkbuttons" action="new" arguments="{beratung : beratung, calleraction: calleraction, callercontroller : callercontroller}" controller="Folgekontakt">Folgekontakt</f:link.action></td>
				<td><f:link.action class="iconbuttons" action="delete" arguments="{teilnehmer : beratung.teilnehmer, calleraction: calleraction, callercontroller : callercontroller}" controller="Teilnehmer" onclick="return confirm('Wirklich löschen?');"><img src="/typo3conf/ext/iqtp13db/Resources/Public/Icons/delete-640.png" width="32" height="32" alt="Löschen" /></f:link.action></td>
			</tr>
			<f:if condition="{anzfolgekontakte.{it.index}} != 0"><f:then>
				<f:render partial="Folgekontakte4List" arguments="{folgekontakte : folgekontakte, beratung : beratung, calleraction: calleraction, callercontroller : callercontroller}" />
			</f:then></f:if>
		</f:for>
	</table>
</f:widget.paginate> 
</f:section>



