
<f:layout name="Default" />

<f:section name="main">
<h1>Beratung anzeigen</h1>

<f:flashMessages />
<f:render partial="Beratung/Properties" arguments="{_all}" />
<f:link.action class="linkbuttons" action="edit" arguments="{beratung:beratung, teilnehmer:teilnehmer}">Bearbeiten</f:link.action>
<f:link.action class="linkbuttons" action="new" arguments="{teilnehmer:teilnehmer}" >Neue Beratung</f:link.action>
<f:link.action class="linkbuttons" action="show" controller="Teilnehmer" arguments="{teilnehmer:teilnehmer}" >Zurück zum Beratenen</f:link.action><br />

<div class="frame"><h2>Dokumente</h2>
<table>
<f:for each="{dokumente}" as="dokument">
	<tr>
	<td>{dokument.name}</td>
	<td>{dokument.pfad}</td>
	<td><f:link.action class="linkbuttons" action="deleteFileBeratung" controller="Dokument" arguments="{dokument:dokument, beratung:beratung, teilnehmer:teilnehmer}">Löschen</f:link.action></td>
	</tr>
</f:for>
</table>
	<f:form method="post" controller="Dokument" arguments="{beratung:beratung, teilnehmer:teilnehmer}" action="saveFileBeratung" name="dokument" object="{dokument}" enctype="multipart/form-data" noCacheHash="true" ><br />
		<div class="tp13_formdiv100">
 	       Dokument auswählen:
			<f:form.upload name="formdoc[0]"  /><f:form.submit value="Dokument hochladen" />			
		</div>
	</f:form>
</div>
<div style="clear: both;"></div>
</f:section>