
<f:layout name="Default" />

<f:section name="main">
<h1>Liste Schulungen</h1>

<f:flashMessages />

<table  class="tx_iqtp13db" >
	<tr>
		<th><f:translate key="tx_iqtp13db_domain_model_schulung.datum" /></th>
		<th><f:translate key="tx_iqtp13db_domain_model_schulung.institution" /></th>
		<th><f:translate key="tx_iqtp13db_domain_model_schulung.massnahmebereich" /></th>
		<th><f:translate key="tx_iqtp13db_domain_model_schulung.art" /></th>
		<th><f:translate key="tx_iqtp13db_domain_model_schulung.zeit_umfang" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{schulungs}" as="schulung">
		<tr>
			<td><f:link.action action="show" arguments="{schulung : schulung}"><f:format.date format="d.m.Y">{schulung.datum}</f:format.date></f:link.action></td>
			<td>{schulung.institution}</td>
			<td>{schulung.massnahmebereich}</td>
			<td>{schulung.art}</td>
			<td>{schulung.zeitUmfang}</td>
			<td><f:link.action class="linkbuttons" action="edit" arguments="{schulung : schulung}">Bearbeiten</f:link.action></td>
			<td><f:link.action class="linkbuttons" action="delete" arguments="{schulung : schulung}">Löschen</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action class="linkbuttons" action="new">Neue Schulung</f:link.action>
</f:section>