<div class="fframe">
		<div class="tp13_formdivwebapp">
			<label for="titel">
				<f:translate key="tx_iqtp13db_domain_model_gruppenberatung.titel" />
			</label>
				<f:form.textfield property="titel" value="{titel}" size="15" />	
		</div>
		
		<div class="tp13_formdivwebapp">
			<label for="beschreibung" class="tp13_options">
				<f:translate key="tx_iqtp13db_domain_model_gruppenberatung.beschreibung" />
			</label>
				<f:form.textarea property="beschreibung" rows="10" cols="100" />
		</div>

		<div class="tp13_formdivwebapp">
			<label for="datum">
				<f:translate key="tx_iqtp13db_domain_model_gruppenberatung.datum" />
			</label>
				<f:form.textfield type="date" class="datumtextfield" property="datum" value="{datum}" />
		</div>
		<div class="tp13_formdivwebapp">
			<label for="ort" class="tp13_options">
				<f:translate key="tx_iqtp13db_domain_model_gruppenberatung.ort" />
			</label>
				<f:form.textfield property="ort" value="{ort}" size="15" />	
		</div>
		
</div>
