<div class="frame"><h2><f:translate key="persdaten" /></h2>

		<div class="tp13_formdivwebapp1">
			<label for="einwilligung" style="float: left;">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.einwilligung" />
			</label>
				<div class="tp13_formdivwebappradio"><f:form.checkbox id="ein1" property="einwilligung" value="1" /></div>
				<div style="clear: both;"></div>
		</div>
		<div class="tp13_formdivwebapp2">
			<label for="nachname">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.nachname" />
			</label>
				<f:form.textfield  property="nachname" />
		</div>
		<div class="tp13_formdivwebapp1">
			<label for="vorname">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.vorname" />
			</label>
				<f:form.textfield  property="vorname" />
		</div>
		<div class="tp13_formdivwebapp2">
			<label for="strasse">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.strasse" />
			</label>
				<f:form.textfield property="strasse" />
		</div>
		<div class="tp13_formdivwebapp1">
			<label for="plz">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.plz" />
			</label>
				<f:form.textfield property="plz" />
		</div>
		<div class="tp13_formdivwebapp2">
			<label for="ort">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.ort" />
			</label>
				<f:form.textfield property="ort" />
		</div>
		<div class="tp13_formdivwebapp1">
			<label for="email">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.email" />
			</label>
				<f:form.textfield  property="email" />
		</div>
		<div class="tp13_formdivwebapp2">
			<label for="telefon">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.telefon" />
			</label>
				<f:form.textfield  property="telefon" />
		</div>
		<div class="tp13_formdivwebapp1">
			<label for="geburtsjahr">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.geburtsjahr" />
			</label>
				<f:form.textfield size="8" property="geburtsjahr" />
		</div>
		<div class="tp13_formdivwebapp2">
			<label for="geburtsland">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.geburtsland" />
			</label>
				<f:form.textfield  property="geburtsland" />
		</div>
		<div class="tp13_formdivwebapp1">
			<label for="geschlecht" style="float: left;">
			<f:translate key="tx_iqtp13db_domain_model_teilnehmer.geschlecht" />
			</label>
			<div class="tp13_formdivwebappradio"><f:form.radio property="geschlecht" value="2"/><f:translate key="maennlich" /></div>
			<div class="tp13_formdivwebappradio"><f:form.radio property="geschlecht" value="1"/><f:translate key="weiblich" /></div>
			<div class="tp13_formdivwebappradio"><f:form.radio property="geschlecht" value="3"/><f:translate key="divers" /></div>
			<div style="clear: both;"></div>
		</div>
		<div class="tp13_formdivwebapp2">
			<label for="ersteStaatsangehoerigkeit">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.erste_staatsangehoerigkeit" />
			</label>
			<f:form.textfield  property="ersteStaatsangehoerigkeit" />
		</div>
		<div class="tp13_formdivwebapp1">
			<label for="zweiteStaatsangehoerigkeit">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.zweite_staatsangehoerigkeit" />
			</label>
				<f:form.textfield  property="zweiteStaatsangehoerigkeit" />
		</div>
		<div class="tp13_formdivwebapp2">
			<label for="einreisejahr">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.einreisejahr" />
			</label>
				<f:form.textfield size="5" property="einreisejahr" />
		</div>
		<div class="tp13_formdivwebapp1">
			<label for="wohnsitzDeutschland" style="float: left;">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.wohnsitz_deutschland" />
			</label>
			<div class="tp13_formdivwebappradio"><f:form.radio id="checkwohnsitzDeutschland1" property="wohnsitzDeutschland" value="1" /><f:translate key="ja" /></div>
			<div class="tp13_formdivwebappradio"><f:form.radio id="checkwohnsitzDeutschland0" property="wohnsitzDeutschland" value="2" /><f:translate key="nein" /></div>
			<div style="clear: both;"></div>
		</div>
		<div class="tp13_formdivwebapp2">
			<label id="labelinputwohnsitzJaBundesland" for="wohnsitzJaBundesland">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.wohnsitz_ja_bundesland" />
			</label>
				<f:form.select property="wohnsitzJaBundesland" options="{settings.bundeslaender}" optionValueField="key" optionLabelField="value" />
		</div>
		<div class="tp13_formdivwebapp1">
			<label id="labelwohnsitzNeinIn" for="wohnsitzNeinIn">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.wohnsitz_nein_in" />
			</label>
				<f:form.textfield  id="inputwohnsitzNeinIn" property="wohnsitzNeinIn" />
		</div>
		<div class="tp13_formdivwebapp2">
			<label id="labelgeplanteEinreise" for="geplanteEinreise">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.geplante_einreise" />
			</label>
				<f:form.textfield  id="inputgeplanteEinreise" property="geplanteEinreise" />
		</div>
		<div class="tp13_formdivwebapp1">
			<label for="kontaktVisastelle" style="float: left;">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.kontakt_visastelle" />
			</label>
			<div class="tp13_formdivwebappradio"><f:form.radio id="kontaktVisastelle1" property="kontaktVisastelle" value="1" /><f:translate key="ja" /></div>
			<div class="tp13_formdivwebappradio"><f:form.radio id="kontaktVisastelle0" property="kontaktVisastelle" value="2" /><f:translate key="nein" /></div>
			<div style="clear: both;"></div>
		</div>
		<div class="tp13_formdivwebapp2">
			<label id="labelvisumsantrag" for="visumsantrag">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.visumsantrag" />
			</label>
				<f:form.textfield  id="inputvisumsantrag" property="visumsantrag" />
		</div>
		
</div>
	
<div class="frame"><h2><f:translate key="deutschkenntnisse" /></h2>
		<div class="tp13_formdivwebapp1">
			<label for="deutschkenntnisse" style="float: left;">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.deutschkenntnisse" />
			</label>
				<div class="tp13_formdivwebappradio"><f:form.radio property="deutschkenntnisse" value="1" /><f:translate key="ja" /></div>
				<div class="tp13_formdivwebappradio"><f:form.radio property="deutschkenntnisse" value="2" /><f:translate key="nein" /></div>
				<div style="clear: both;"></div>
		</div>
		<div class="tp13_formdivwebapp2">
			<label id="labelzertsprachniveau" for="zertifikatSprachniveau">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.zertifikat_sprachniveau" />
			</label>
				<f:form.select property="zertifikatSprachniveau" options="{settings.zertifikatlevel}" optionValueField="key" optionLabelField="value" />
		</div>
		<div class="tp13_formdivwebapp2">
			<label id="labelsprachen" for="sprachen">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.sprachen" />
			</label>
				<f:form.textfield id="inputsprachen" size="35" property="sprachen" />
		</div>
</div>
<div style="clear: both;"></div>

<div class="frame"><h2><f:translate key="auslaendischerabschluss" /></h2>
		<div class="tp13_formdivwebapp1">
			<label for="abschlussart" style="float: left;">
				<span id="infolab" title="<f:translate key='infoAbschluss' />" class="infolabel"><f:translate key="tx_iqtp13db_domain_model_teilnehmer.abschlussart" />
			</label>
				<div class="tp13_formdivwebappradio"><f:form.checkbox property="abschlussartA" value="1" /><f:translate key="abschlussartoption1" /></div>
				<div class="tp13_formdivwebappradio"><f:form.checkbox property="abschlussartH" value="1" /><f:translate key="abschlussartoption2" /></div>
				<div style="clear: both;"></div>
		</div>
		<div class="tp13_formdivwebapp2">
				<div class="headabschlusslinks"><f:translate key="headabschlusslinks" /></div>
				<div class="headabschlussrechts"><a id="mlink" onclick="showDetail();" style="display: inline;"><f:translate key="headabschlussrechts" /></a></div>
		</div>
		<div class="tp13_formdivwebapp2">
				<label for="erwerbsland1">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.erwerbsland" />
			</label>
				<f:form.textfield class="smallertextfield" property="erwerbsland1" />
				<f:form.textfield class="smallertextfield2" property="erwerbsland2" />
		</div>
		<div class="tp13_formdivwebapp1">
			<label for="dauerBerufsausbildung">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.dauer_berufsausbildung" />
			</label>
				<f:form.textfield class="smallertextfield" property="dauerBerufsausbildung1" />
				<f:form.textfield class="smallertextfield2" property="dauerBerufsausbildung2" />
		</div>
		<div class="tp13_formdivwebapp2">
			<label for="abschlussjahr">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.abschlussjahr" />
			</label>
				<f:form.textfield class="smallertextfield" property="abschlussjahr1" />
				<f:form.textfield class="smallertextfield2" property="abschlussjahr2" />
		</div>
		<div class="tp13_formdivwebapp1">
			<label for="ausbildungsinstitution">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.ausbildungsinstitution" />
			</label>
				<f:form.textfield class="smallertextfield" property="ausbildungsinstitution1" />
				<f:form.textfield class="smallertextfield2" property="ausbildungsinstitution2" />
		</div>
		<div class="tp13_formdivwebapp2">
			<label for="ausbildungsort">
				<span id="infolab" title="<f:translate key='infoAusbildungsort' />" class="infolabel"><f:translate key="tx_iqtp13db_domain_model_teilnehmer.ausbildungsort" />
			</label>
				<f:form.textfield class="smallertextfield" property="ausbildungsort1" />
				<f:form.textfield class="smallertextfield2" property="ausbildungsort2" />
		</div>
		<div class="tp13_formdivwebapp1">
			<label for="originaltitelAbschluss">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.abschluss" />
			</label>
				<f:form.textfield class="smallertextfield" property="abschluss1" />
				<f:form.textfield class="smallertextfield2" property="abschluss2" />
		</div>
		<div class="tp13_formdivwebapp2">
			<label for="deutschAbschlusstitel">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.deutsch_abschlusstitel" />
			</label>
				<f:form.textfield class="smallertextfield" property="deutschAbschlusstitel1" />
				<f:form.textfield class="smallertextfield2" property="deutschAbschlusstitel2" />
		</div>
		<div class="tp13_formdivwebapp1">
			<label for="deutscherReferenzberuf">
				<span id="infolab" title="<f:translate key='infodeutscherBeruf' />" class="infolabel"><f:translate key="tx_iqtp13db_domain_model_teilnehmer.deutscher_referenzberuf" />
			</label>
				<f:form.textfield class="smallertextfield" property="deutscherReferenzberuf1" />
				<f:form.textfield class="smallertextfield2" property="deutscherReferenzberuf2" />
		</div>
		<div class="tp13_formdivwebapp2">
			<label id="labelberufserfahrung" for="berufserfahrung">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.berufserfahrung" />
			</label>
				<f:form.textfield class="smallertextfield" id="inputberufserfahrung" property="berufserfahrung1" />
				<f:form.textfield class="smallertextfield2" id="inputberufserfahrung" property="berufserfahrung2" />
		</div>
		<div class="tp13_formdivwebapp1">
			<label id="labelausbildungsfremdeberufserfahrung1" for="ausbildungsfremdeberufserfahrung1">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.ausbildungsfremdeberufserfahrung1" />
			</label>
				<f:form.textfield class="smallertextfield" id="inputwunschberuf" property="wunschberuf1" />
				<f:form.textfield class="smallertextfield2" id="inputwunschberuf" property="wunschberuf2" />
		</div>
		<div class="tp13_formdivwebapp2">
			<label for="originalDokumenteAbschluss" style="float: left;">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.original_dokumente_abschluss" /></span>
			</label>
				<f:form.select class="smallertextfield" property="originalDokumenteAbschluss1" options="{settings.dokumenteabschluss}" optionValueField="key" optionLabelField="value" />
				<f:form.select class="smallertextfield2" property="originalDokumenteAbschluss2" options="{settings.dokumenteabschluss}" optionValueField="key" optionLabelField="value" />
		</div>

</div>
<div style="clear: both;"></div>

<div class="frame"><h2><f:translate key="beruflichesituation" /></h2>
		<div class="tp13_formdivwebapp1">
			<label for="erwerbsstatus" style="float: left;">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.erwerbsstatus" /></span>
			</label>
				<div class="tp13_formdivwebappmultiradio">
				<f:for each="{settings.erwerbsstatus}" as="text" key="wert">
					<f:form.radio property="erwerbsstatus" value="{wert}" checked="{teilnehmer.erwerbsstatus} == {wert}" />{text}<br />
				</f:for>
				</div>
				<div style="clear: both;"></div>
		</div>
		<div class="tp13_formdivwebapp2">
			<label for="leistungsbezug" style="float: left;">
				<span id="infolab" title="<f:translate key='infoBezugsart' />" class="infolabel"><f:translate key="tx_iqtp13db_domain_model_teilnehmer.leistungsbezug" />
			</label>
				<div class="tp13_formdivwebappmultiradio">
				<f:for each="{settings.leistungsbezug}" as="text" key="wert">
					<f:form.radio property="leistungsbezug" value="{wert}" checked="{teilnehmer.leistungsbezug} == {wert}" />{text}<br />
				</f:for>
				</div>
				<div style="clear: both;"></div>
		</div>
</div>
<div style="clear: both;"></div>

<div class="frame"><h2><f:translate key="fruehereantraege" /></h2>
		<div class="tp13_formdivwebapp1">
			<label for="fruehererAntrag" style="float: left;">
				<span id="infolab" title="<f:translate key='infofruehererAntrag' />" class="infolabel"><f:translate key="tx_iqtp13db_domain_model_teilnehmer.frueherer_antrag" />
			</label>
			<div class="tp13_formdivwebappradio"><f:form.radio id="checkboxfruehererAntrag" property="fruehererAntrag" value="1" /><f:translate key="ja" /></div>
			<div class="tp13_formdivwebappradio"><f:form.radio id="checkboxfruehererAntrag" property="fruehererAntrag" value="2" /><f:translate key="nein" /></div>
			<div style="clear: both;"></div>
		</div>
		<div class="tp13_formdivwebapp2">
			<label id="labelfruehererAntragReferenzberuf" for="fruehererAntragReferenzberuf">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.frueherer_antrag_referenzberuf" />
			</label>
				<f:form.textfield id="inputfruehererAntragReferenzberuf" property="fruehererAntragReferenzberuf" /><br />
		</div>
		<div class="tp13_formdivwebapp1">
			<label id="labelfruehererAntragInstitution" for="fruehererAntragInstitution">
				<span id="infolab" title="<f:translate key='infoInstitution' />" class="infolabel"><f:translate key="tx_iqtp13db_domain_model_teilnehmer.frueherer_antrag_institution" />
			</label>
				<f:form.textfield id="inputfruehererAntragInstitution" property="fruehererAntragInstitution" /><br />
		</div>
		<div class="tp13_formdivwebapp2">
			<label id="labelbescheidfruehererAnerkennungsantrag" for="bescheidfruehererAnerkennungsantrag" style="float: left;">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.bescheidfrueherer_anerkennungsantrag" />
			</label>
				<div class="tp13_formdivwebappradio"><f:form.checkbox id="inputbescheidfruehererAnerkennungsantrag" property="bescheidfruehererAnerkennungsantrag" value="1" /></div>
				<div style="clear: both;"></div>
		</div>
</div>
<div style="clear: both;"></div>

