{namespace iqtp13db=Ud\Iqtp13db\ViewHelpers}
<div class="fframeadminonly">Blau gestrichelte Linie umrahmt Felder, die nur im Webapp-Backend von Berater*innen ausgefüllt werden können.</div>
<div class="fframe">
		<div class="tp13_formdivwebapp">
			<label for="einwilligung">
				Einwilligung&nbsp;<f:form.checkbox id="ein1" property="einwilligung" value="1" />
			</label>				
				<span class="einwilligungtext">Dem Ratsuchenden ggf. die <a href="{settings.datenschutzeinwilligungurl}" target="_blank">Informationen zur Datenverarbeitung</a> vorlesen.</span>			
		</div>		
		<div class="tp13_formdivwebapp">
			<label for="schonberaten">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.schonberaten" />
			</label>
			<div class="tp13_options">
				<div class="tp13_formdivwebappradio"><f:form.radio id="schonberaten1" property="schonberaten" value="1" /><span class="abschlussradiotext"><f:translate key="ja" /></span></div>
				<div class="tp13_formdivwebappradio"><f:form.radio id="schonberaten2" property="schonberaten" value="2" /><span class="abschlussradiotext"><f:translate key="nein" /></span></div>
			</div>
		</div>
		<div id="divschonberatenvon" class="tp13_formdivwebapp">
			<label for="schonberatenvon">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.schonberatenvon" />
			</label>
				<f:form.textfield id="txtschonberatenvon" property="schonberatenvon" />
		</div>
</div>
<div class="fframe"><h2><f:translate key="persdaten" /></h2>
		<div class="tp13_formdivwebapp">
			<label for="nachname">
				<span id="infolab" title="<f:translate key='infoNachname' />" class="infolabel"><f:translate key="tx_iqtp13db_domain_model_teilnehmer.nachname" />
				<span class="niqfield" />
			</label>
				<f:form.textfield  property="nachname" />
		</div>
		<div class="tp13_formdivwebapp">
			<label for="vorname">
				<span id="infolab" title="<f:translate key='infoVorname' />" class="infolabel"><f:translate key="tx_iqtp13db_domain_model_teilnehmer.vorname" />
				<span class="niqfield" />
			</label>
				<f:form.textfield property="vorname" />
		</div>
		<div class="tp13_formdivwebapp">
			<label for="plz">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.plz" />/<f:translate key="tx_iqtp13db_domain_model_teilnehmer.ort" />
			</label>
				<f:form.textfield class="plztextfield" property="plz" /><f:form.textfield class="orttextfield" property="ort" />
		</div>
		<div class="tp13_formdivwebapp">
			<label for="email">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.email" />
			</label>
				<f:form.textfield property="email" />
		</div>	
		<div class="tp13_formdivwebapp">
			<label for="email">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.confirmemail" />
			</label>			
				<f:form.textfield property="confirmemail" />
		</div>		
		<div class="tp13_formdivwebapp">
			<label for="telefon">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.telefon" />
			</label>
				<f:form.textfield  property="telefon" />
		</div>
		<div class="tp13_formdivwebapp">
			<label for="lebensalter">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.lebensalter" />
				<span class="niqfield" />
			</label>
				<f:form.select property="lebensalter" options="{altervonbis}" optionValueField="value" optionLabelField="value" /> 
				{iqtp13db:isint(field:'{teilnehmer.lebensalter}',then:'',else:'{teilnehmer.lebensalter}')}
		</div>
		<div class="tp13_formdivwebapp">
			<label for="geburtsland">
				<span id="infolab" title="<f:translate key='infoGeburtsland' />" class="infolabel"><f:translate key="tx_iqtp13db_domain_model_teilnehmer.geburtsland" />
			</label>
			<f:form.select property="geburtsland" options="{wohnsitzstaaten}" optionValueField="value" optionLabelField="value" />
			{iqtp13db:isint(field:'{teilnehmer.geburtsland}',then:'',else:'{teilnehmer.geburtsland}')}
		</div>
		<div class="tp13_formdivwebapp">
			<label class="tp13_options" for="geschlecht">
			<f:translate key="tx_iqtp13db_domain_model_teilnehmer.geschlecht" />
			<span class="niqfield" />
			</label>
			<div class="tp13_options">
				<div class="tp13_formdivwebappradio"><f:form.radio property="geschlecht" value="2"/><span class="abschlussradiotext"><f:translate key="maennlich" /></span></div>
				<div class="tp13_formdivwebappradio"><f:form.radio property="geschlecht" value="1"/><span class="abschlussradiotext"><f:translate key="weiblich" /></span></div>
				<div class="tp13_formdivwebappradio"><f:form.radio property="geschlecht" value="3"/><span class="abschlussradiotext"><f:translate key="divers" /></span></div>
				<div class="tp13_formdivwebappradio"><f:form.radio property="geschlecht" value="-1"/><span class="abschlussradiotext">k.A.</span></div>
			</div>
			<div style="clear: both;"></div>
		</div>
		
		<div class="tp13_formdivwebapp">
			<label for="ersteStaatsangehoerigkeit">
				<span id="infolab" title="<f:translate key='infoStaatsangehoerigkeit' />" class="infolabel"><f:translate key="tx_iqtp13db_domain_model_teilnehmer.erste_staatsangehoerigkeit" />
				<span class="niqfield" />
			</label>
				<f:form.select property="ersteStaatsangehoerigkeit" options="{staatsangehoerigkeitstaaten}" optionValueField="value" optionLabelField="value" />
				{iqtp13db:isint(field:'{teilnehmer.ersteStaatsangehoerigkeit}',then:'',else:'{teilnehmer.ersteStaatsangehoerigkeit}')}
		</div>
		<div class="tp13_formdivwebapp">
			<label for="zweiteStaatsangehoerigkeit">
				<span id="infolab" title="<f:translate key='infoStaatsangehoerigkeit' />" class="infolabel"><f:translate key="tx_iqtp13db_domain_model_teilnehmer.zweite_staatsangehoerigkeit" />
			</label>
				<f:form.select property="zweiteStaatsangehoerigkeit" options="{staatsangehoerigkeitstaaten}" optionValueField="value" optionLabelField="value" />
				{iqtp13db:isint(field:'{teilnehmer.zweiteStaatsangehoerigkeit}',then:'',else:'{teilnehmer.zweiteStaatsangehoerigkeit}')}
		</div>
		<div class="tp13_formdivwebapp">
			<label class="tp13_options" for="wohnsitzDeutschland">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.wohnsitz_deutschland" />
				<span class="niqfield" />
			</label>
			<div class="tp13_options">
				<div class="tp13_formdivwebappradio"><f:form.radio id="checkwohnsitzDeutschland1" property="wohnsitzDeutschland" value="1" /><span class="abschlussradiotext"><f:translate key="ja" /></span></div>
				<div class="tp13_formdivwebappradio"><f:form.radio id="checkwohnsitzDeutschland2" property="wohnsitzDeutschland" value="2" /><span class="abschlussradiotext"><f:translate key="nein" /></span></div>
				<div class="tp13_formdivwebappradio"><f:form.radio id="checkwohnsitzDeutschland0" property="wohnsitzDeutschland" value="-1" /><span class="abschlussradiotext"><f:translate key="ka" /></span></div>
			</div>
			<div style="clear: both;"></div>
		</div>
		<div id="labeleinreisejahr" class="tp13_formdivwebapp">
			<label for="einreisejahr">
				<span id="infolab" title="<f:translate key='infoJahrEinreise' />" class="infolabel"><f:translate key="tx_iqtp13db_domain_model_teilnehmer.einreisejahr" />
				<span class="niqfield" />(Format: JJJJ)
			</label>
				<f:form.textfield id="inputeinreisejahr" size="5" property="einreisejahr" />
		</div>
		<div class="tp13_formdivwebapp">
			<label id="labelwohnsitzNeinIn" for="wohnsitzNeinIn">
				<span id="infolab" title="<f:translate key='infoWohnsitzinDeutschlandNein' />" class="infolabel"><f:translate key="tx_iqtp13db_domain_model_teilnehmer.wohnsitz_nein_in" />
				<span class="niqfield" />
			</label>
				<f:form.select id="inputwohnsitzNeinIn" property="wohnsitzNeinIn" options="{wohnsitzstaaten}" optionValueField="value" optionLabelField="value" />
				{iqtp13db:isint(field:'{teilnehmer.wohnsitzNeinIn}',then:'',else:'{teilnehmer.wohnsitzNeinIn}')}
		</div>	
		<div class="tp13_formdivwebapp" id="divaufenthaltsstatus">
			<label for="aufenthaltsstatus" class="tp13_options">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.aufenthaltsstatus" />
				<span class="niqfield" />
			</label>
			<div class="tp13_formdivwebappmultiradio">
			<span class="togglebutton" id="toggleallaufenthaltsstatus">Alle ein-/ausblenden</span>
				<f:for each="{settings.aufenthaltsstatus}" as="text" key="wert" iteration="iter">
					<div class="tp13_formdivwebappradio" id="divaufenthaltsstatusradio{iter.index}">	
						<f:form.radio property="aufenthaltsstatus" value="{wert}" checked="{teilnehmer.aufenthaltsstatus} == {wert}" id="aufenthaltsstatusradio{iter.index}"/><span class="abschlussradiotext">{text}</span>
					</div>
				</f:for>
			</div>			
		</div>
		<div class="tp13_formdivwebapp">
			<label for="aufenthaltsstatusfreitext">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.aufenthaltsstatusfreitext" />
			</label>
				<f:form.textarea property="aufenthaltsstatusfreitext" rows="2" cols="50" />
		</div>		
</div>

<div class="fframe"><h2><f:translate key="deutschkenntnisse" /></h2>
		<div class="tp13_formdivwebapp">
			<label for="deutschkenntnisse" class="tp13_options">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.deutschkenntnisse" />
				<span class="niqfield" />
			</label>
			<div class="tp13_options">
				<div class="tp13_formdivwebappradio"><f:form.radio id="checkdeutschkenntnisse1" property="deutschkenntnisse" value="1" /><span class="abschlussradiotext"><f:translate key="ja" /></span></div>
				<div class="tp13_formdivwebappradio"><f:form.radio id="checkdeutschkenntnisse2" property="deutschkenntnisse" value="2" /><span class="abschlussradiotext"><f:translate key="nein" /></span></div>
				<div class="tp13_formdivwebappradio"><f:form.radio id="checkdeutschkenntnisse0" property="deutschkenntnisse" value="-1" /><span class="abschlussradiotext"><f:translate key="ka" /></span></div>
			</div>
		</div>
		<div class="tp13_formdivwebapp">
			<label id="labelzertsprachniveau" for="zertifikatSprachniveau">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.zertifikat_sprachniveau" />
				<span class="niqfield" />
			</label>
				<f:form.select id="selectzertsprachniveau" property="zertifikatSprachniveau" options="{settings.zertifikatlevel}" optionValueField="key" optionLabelField="value" />
		</div>
</div>


<div class="fframe"><h2><f:translate key="beruflichesituation" /></h2>
		<div class="tp13_formdivwebapp">
			<label for="erwerbsstatus" class="tp13_options">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.erwerbsstatus" /></span>
				<span class="niqfield" />
			</label>			
			<div class="tp13_formdivwebappmultiradio">				
				<span class="togglebutton" id="toggleallerwerbsstatus">Alle ein-/ausblenden</span>
				<f:for each="{settings.erwerbsstatus}" as="text" key="wert" iteration="iter">
					<div class="tp13_formdivwebappradio" id="diverwerbsstatusradio{iter.index}">
						<f:form.radio property="erwerbsstatus" value="{wert}" checked="{teilnehmer.erwerbsstatus} == {wert}" id="erwerbsstatusradio{iter.index}"/><span class="abschlussradiotext">{text}</span>
					</div>
				</f:for>
			</div>				
		</div>
		<div class="tp13_formdivwebapp">
			<label for="leistungsbezugjanein" class="tp13_options">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.leistungsbezugjanein" />
				<span class="niqfield" />
			</label>
			<div class="tp13_formdivwebappradio"><f:form.radio id="optleistungsbezugjanein1" property="leistungsbezugjanein" value="1" /><span class="abschlussradiotext"><f:translate key="ja" /></span></div>
			<div class="tp13_formdivwebappradio"><f:form.radio id="optleistungsbezugjanein2" property="leistungsbezugjanein" value="2" /><span class="abschlussradiotext"><f:translate key="nein" /></span></div>
			<div class="tp13_formdivwebappradio"><f:form.radio id="optleistungsbezugjanein3" property="leistungsbezugjanein" value="3" /><span class="abschlussradiotext"><f:translate key="ka" /></span></div>
		</div>		
		<div class="tp13_formdivwebapp" id="divleistungsbezug">
			<label for="leistungsbezug" class="tp13_options">
				<span id="infolab" title="<f:translate key='infoBezugsart' />" class="infolabel"><f:translate key="tx_iqtp13db_domain_model_teilnehmer.leistungsbezug" />
				<span class="niqfield" />
			</label>
			<div class="tp13_formdivwebappmultiradio">
				<f:for each="{settings.leistungsbezug}" as="text" key="wert">
					<div class="tp13_formdivwebappradio"><f:form.radio property="leistungsbezug" value="{wert}" checked="{teilnehmer.leistungsbezug} == {wert}" /><span class="abschlussradiotext">{text}</span></div>
				</f:for>
			</div>
		</div>
		<div class="tp13_formdivwebapp" id="einwdatenanAA">
			<label for="einwilligungdatenanAA" class="tp13_options">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.einwilligungdatenan_a_a" />
			</label>
			<div class="tp13_formdivwebappradio"><f:form.radio id="opteinwilligungdatenanAA1" property="einwilligungdatenanAA" value="1" /><span class="abschlussradiotext"><f:translate key="ja" /></span></div>
			<div class="tp13_formdivwebappradio"><f:form.radio id="opteinwilligungdatenanAA2" property="einwilligungdatenanAA" value="2" /><span class="abschlussradiotext"><f:translate key="nein" /></span></div>
		</div>
</div>

<div class="fframe" id="datenAA"><h2><f:translate key="datenjobcenterarbeitsagentur" /></h2>
		<div class="tp13_formdivwebapp">
			<label for="einwilligungdatenanAAdatum">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.einwilligungdatenan_a_adatum" />
			</label>
				<f:form.textfield class="datumtextfield" property="einwilligungdatenanAAdatum" value="{teilnehmer.einwilligungdatenanAAdatum}" />				
		</div>
		<div class="tp13_formdivwebapp">
			<label for="einwilligungdatenanAAmedium">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.einwilligungdatenan_a_amedium" />
			</label>
			<div class="tp13_formdivwebappmultiradio">
				<div class="tp13_formdivwebappradio"><f:form.checkbox property="einwilligungdatenanAAmedium" value="1" multiple="1"/>{settings.einwilligungaamedium.1}</div>
				<div class="tp13_formdivwebappradio"><f:form.checkbox property="einwilligungdatenanAAmedium" value="2" multiple="1"/>{settings.einwilligungaamedium.2}</div>
				<div class="tp13_formdivwebappradio"><f:form.checkbox property="einwilligungdatenanAAmedium" value="3" multiple="1"/>{settings.einwilligungaamedium.3}</div>
				<div class="tp13_formdivwebappradio"><f:form.checkbox property="einwilligungdatenanAAmedium" value="4" multiple="1"/>{settings.einwilligungaamedium.4}</div>
			</div>				
		</div>
		<div class="tp13_formdivwebapp">
			<label for="nameBeraterAA">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.name_berater_a_a" />
			</label>
				<f:form.textfield property="nameBeraterAA" />
		</div>		
		<div class="tp13_formdivwebapp">
			<label for="nameBeraterAA">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.kontakt_berater_a_a" />
			</label>
				<f:form.textfield property="kontaktBeraterAA" />
		</div>		
		<div class="tp13_formdivwebapp">
			<label for="kundennummerAA">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.kundennummer_a_a" />
			</label>
				<f:form.textfield property="kundennummerAA" />
		</div>				
</div>

  <div class="fframeadminonly"><h2>Datenweitergabe anerkennende Stelle</h2>
  <h3>(nicht in Anmeldeformular von Ratsuchendem/r ausfüllbar)</h3>
    <div class="tp13_formdivwebapp">
      <label for="einwAnerkstelle" class="tp13_options">
        <f:translate key="tx_iqtp13db_domain_model_teilnehmer.einw_anerkstelle" />
        </label>
        <div class="tp13_formdivwebappradio"><f:form.radio id="opteinwAnerkstelle1" property="einwAnerkstelle" value="1" /><span class="abschlussradiotext"><f:translate key="ja" /></span></div>
        <div class="tp13_formdivwebappradio"><f:form.radio id="opteinwAnerkstelle2" property="einwAnerkstelle" value="2" /><span class="abschlussradiotext"><f:translate key="nein" /></span></div>
        </div>
  		<div id="einwanerkenndatum" class="tp13_formdivwebapp">
  			<label for="einwAnerkstelledatum">
  				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.einw_anerkstelledatum" />
  			</label>
  				<f:form.textfield id="txteinwanerkenndatum" class="datumtextfield" property="einwAnerkstelledatum" value="{teilnehmer.einwAnerkstelledatum}" />				
  		</div>
  		<div id="einwanerkennmedium" class="tp13_formdivwebapp">
  			<label for="einwAnerkstellemedium">
  				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.einw_anerkstellemedium" />
  			</label>
  			<div class="tp13_formdivwebappmultiradio">
  				<div class="tp13_formdivwebappradio"><f:form.checkbox id="chkeinwanerkennmedium1" property="einwAnerkstellemedium" value="1" multiple="1"/>{settings.einwilligungaamedium.1}</div>
  				<div class="tp13_formdivwebappradio"><f:form.checkbox id="chkeinwanerkennmedium2" property="einwAnerkstellemedium" value="2" multiple="1"/>{settings.einwilligungaamedium.2}</div>
  				<div class="tp13_formdivwebappradio"><f:form.checkbox id="chkeinwanerkennmedium3" property="einwAnerkstellemedium" value="3" multiple="1"/>{settings.einwilligungaamedium.3}</div>
  				<div class="tp13_formdivwebappradio"><f:form.checkbox id="chkeinwanerkennmedium4" property="einwAnerkstellemedium" value="4" multiple="1"/>{settings.einwilligungaamedium.4}</div>
  			</div>				
  		</div>
  		<div id="einwanerkennname" class="tp13_formdivwebapp">
  			<label for="einwAnerkstellename">
  				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.einw_anerkstellename" />
  			</label>
  				<f:form.textfield id="txteinwanerkennname" property="einwAnerkstellename" />
  		</div>		
  		<div id="einwanerkennkontakt" class="tp13_formdivwebapp">
  			<label for="einwAnerkstellekontakt">
  				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.einw_anerkstellekontakt" />
  			</label>
  				<f:form.textfield id="txteinwanerkennkontakt" property="einwAnerkstellekontakt" />
  		</div>		  					
  </div> 
      
  <div class="fframe"><h2>Datenweitergabe weitere Person</h2>
    <div class="tp13_formdivwebapp">
      <label for="einwPerson" class="tp13_options">
        <f:translate key="tx_iqtp13db_domain_model_teilnehmer.einw_person" />
        </label>
        <div class="tp13_formdivwebappradio"><f:form.radio id="opteinwPerson1" property="einwPerson" value="1" /><span class="abschlussradiotext"><f:translate key="ja" /></span></div>
        <div class="tp13_formdivwebappradio"><f:form.radio id="opteinwPerson2" property="einwPerson" value="2" /><span class="abschlussradiotext"><f:translate key="nein" /></span></div>
        </div>
  		<div id="einwpersondatum" class="tp13_formdivwebapp">
  			<label for="einwPersondatum">
  				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.einw_persondatum" />
  			</label>
  				<f:form.textfield id="txteinwpersondatum" class="datumtextfield" property="einwPersondatum" value="{teilnehmer.einwPersondatum}" id="datepicker4" />				
  		</div>
  		<div id="einwpersonmedium" class="tp13_formdivwebapp">
  			<label for="einwPersonmedium">
  				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.einw_personmedium" />
  			</label>
  			<div class="tp13_formdivwebappmultiradio">
  				<div class="tp13_formdivwebappradio"><f:form.checkbox id="chkeinwpersondatum1" property="einwPersonmedium" value="1" multiple="1"/>{settings.einwilligungweiterepersonmedium.1}</div>
  				<div class="tp13_formdivwebappradio"><f:form.checkbox id="chkeinwpersondatum2" property="einwPersonmedium" value="2" multiple="1"/>{settings.einwilligungweiterepersonmedium.2}</div>
  				<div class="tp13_formdivwebappradio"><f:form.checkbox id="chkeinwpersondatum3" property="einwPersonmedium" value="3" multiple="1"/>{settings.einwilligungweiterepersonmedium.3}</div>
  				<div class="tp13_formdivwebappradio"><f:form.checkbox id="chkeinwpersondatum4" property="einwPersonmedium" value="4" multiple="1"/>{settings.einwilligungweiterepersonmedium.4}</div>
  			</div>				
  		</div>
  		<div id="einwpersonname" class="tp13_formdivwebapp">
  			<label for="einwPersonname">
  				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.einw_personname" />
  			</label>
  				<f:form.textfield id="txteinwpersonname" property="einwPersonname" />
  		</div>		
  		<div id="einwpersonkontakt" class="tp13_formdivwebapp">
  			<label for="einwPersonkontakt">
  				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.einw_personkontakt" />
  			</label>
  				<f:form.textfield id="txteinwpersonkontakt" property="einwPersonkontakt" />
  		</div>		  					
  </div>
  
<div class="fframe"><h2>Sonstiges</h2>
		<div class="tp13_formdivwebapp">
			<label for="nameBeratungsstelle" class="tp13_options">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.name_beratungsstelle" />
				<span class="niqfield" />
			</label>
			
			<div class="tp13_formdivwebappmultiradio">
				<span class="togglebutton" id="toggleallberatungsstelle">Alle ein-/ausblenden</span>
				<f:for each="{settings.beratungsstelle}" as="text" key="wert" iteration="iter">
					<div class="tp13_formdivwebappradio" id="divberatungsstelleradio{iter.index}">
						<f:form.radio property="nameBeratungsstelle" value="{wert}" checked="{teilnehmer.nameBeratungsstelle} == {wert}" id="beratungsstelleradio{iter.index}"/><span class="abschlussradiotext">{text}</span>
					</div>
				</f:for>
			</div>
		</div>
		<div class="tp13_formdivwebapp">
  			<label for="wieberaten">
  				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.wieberaten" />
  			</label>
  			<div class="tp13_formdivwebappmultiradio">
  				<f:for each="{wieberatenarr}" as="option" key="key">
					<f:variable name="varstring">{value -> f:for(each: '{teilnehmer.wieberaten}', as: 'value')}</f:variable>
					<div class="tp13_formdivwebappradio">
						<f:form.checkbox name="teilnehmer[wieberaten]" checked="{iqtp13db:instring(haystack:'{varstring}',needle:'{key}',then:'TRUE',else:'FALSE')}" multiple="1" value="{key}" />{option}
					</div>
				</f:for>
  			</div>				
  		</div>
		<div class="tp13_formdivwebapp">
			<label for="notizen" class="tp13_options">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.notizen" />
			</label>
				<f:form.textarea property="notizen" rows="10" cols="100" />
		</div>
		
</div>
