{namespace iqtp13db=Ud\Iqtp13db\ViewHelpers}
<div class="fframe"><h2><f:translate key="beruflichesituation" /></h2>
		<div class="tp13_formdivwebapp">
			<label for="erwerbsstatus" class="tp13_options">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.erwerbsstatus" /></span>
			</label>
			<div class="tp13_formdivwebappmultiradio">
				<f:for each="{settings.erwerbsstatus}" as="text" key="wert">
					<div class="tp13_formdivwebappradio"><f:form.radio property="erwerbsstatus" value="{wert}" checked="{teilnehmer.erwerbsstatus} == {wert}" /><span class="abschlussradiotext">{text}</span></div>
				</f:for>
			</div>				
		</div>
		<div class="tp13_formdivwebapp">
			<label for="leistungsbezugjanein" class="tp13_options">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.leistungsbezugjanein" />
			</label>
			<div class="tp13_formdivwebappradio"><f:form.radio id="optleistungsbezugjanein1" property="leistungsbezugjanein" value="1" /><span class="abschlussradiotext"><f:translate key="ja" /></span></div>
			<div class="tp13_formdivwebappradio"><f:form.radio id="optleistungsbezugjanein2" property="leistungsbezugjanein" value="2" /><span class="abschlussradiotext"><f:translate key="nein" /></span></div>
		</div>		
		<div class="tp13_formdivwebapp" id="divleistungsbezug">
			<label for="leistungsbezug" class="tp13_options">
				<span id="infolab" title="<f:translate key='infoBezugsart' />" class="infolabel"><f:translate key="tx_iqtp13db_domain_model_teilnehmer.leistungsbezug" />
			</label>
			<div class="tp13_formdivwebappmultiradio">
				<f:for each="{settings.leistungsbezug}" as="text" key="wert">
					<div class="tp13_formdivwebappradio"><f:form.radio property="leistungsbezug" value="{wert}" checked="{teilnehmer.leistungsbezug} == {wert}" /><span class="abschlussradiotext">{text}</span></div>
				</f:for>
			</div>
		</div>
</div>

<div class="fframe" id="datenAA"><h2><f:translate key="datenjobcenterarbeitsagentur" /></h2>
		<div class="tp13_formdivwebapp">
			<label for="nameBeraterAA">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.name_berater_a_a" />
			</label>
				<f:form.textfield property="nameBeraterAA" />
		</div>		
		<div class="tp13_formdivwebapp">
			<label for="nameBeraterAA">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.kontakt_berater_a_a" />
			</label>
				<f:form.textfield property="kontaktBeraterAA" />
		</div>		
		<div class="tp13_formdivwebapp">
			<label for="kundennummerAA">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.kundennummer_a_a" />
			</label>
				<f:form.textfield property="kundennummerAA" />
		</div>				
</div>

<div class="fframe"><h2><f:translate key="datenweitereperson" /></h2>
    <div class="tp13_formdivwebapp">
      <label for="einwPerson" class="tp13_options">
        <f:translate key="tx_iqtp13db_domain_model_teilnehmer.einw_person" />
        </label>
        <div class="tp13_formdivwebappradio"><f:form.radio id="opteinwPerson1" property="einwPerson" value="1" /><span class="abschlussradiotext"><f:translate key="ja" /></span></div>
        <div class="tp13_formdivwebappradio"><f:form.radio id="opteinwPerson2" property="einwPerson" value="2" /><span class="abschlussradiotext"><f:translate key="nein" /></span></div>
        </div>
  		<div id="einwpersonname" class="tp13_formdivwebapp">
  			<label for="einwPersonname">
  				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.einw_personname" />
  			</label>
  				<f:form.textfield id="txteinwpersonname" property="einwPersonname" />
  		</div>		
  		<div id="einwpersonkontakt" class="tp13_formdivwebapp">
  			<label for="einwPersonkontakt">
  				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.einw_personkontakt" />
  			</label>
  				<f:form.textfield id="txteinwpersonkontakt" property="einwPersonkontakt" />
  		</div>		  					
</div>
  
<div class="fframe"><h2><f:translate key="beratung" /></h2>
		<div class="tp13_formdivwebapp">
			<label for="nameBeratungsstelle" class="tp13_options">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.name_beratungsstelle" />
			</label>
			<div class="tp13_formdivwebappmultiradio">
				<f:for each="{settings.beratungsstelle}" as="text" key="wert">
					<div class="tp13_formdivwebappradio"><f:form.radio property="nameBeratungsstelle" value="{wert}" checked="{teilnehmer.nameBeratungsstelle} == {wert}" /><span class="abschlussradiotext">{text}</span></div>
				</f:for>
			</div>
		</div>
		<div class="tp13_formdivwebapp">
  			<label for="wieberaten">
  				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.wieberaten" />
  			</label>
  			<div class="tp13_formdivwebappmultiradio">
  				<f:for each="{wieberatenarr}" as="option" key="key">
					<f:variable name="varstring">{value -> f:for(each: '{teilnehmer.wieberaten}', as: 'value')}</f:variable>
					<div class="tp13_formdivwebappradio">
						<f:form.checkbox name="teilnehmer[wieberaten]" checked="{iqtp13db:instring(haystack:'{varstring}',needle:'{key}',then:'TRUE',else:'FALSE')}" multiple="1" value="{key}" />{option}
					</div>
				</f:for>	
  			</div>				
  		</div>
		<label for="notizen" class="tp13_options">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.notizen" />
		</label>
		<div class="tp13_formdivwebappnotizen">
			<f:form.textarea property="notizen" pattern="\p{Latin}|[0-9]|[[:space:]]|\:|\,|\.|\(|\)|\-|\\|\/|\+|\@|\`|\.|\&" rows="10" cols="100" />
		</div>
		<div class="frameeinwilligung">
			<f:form.checkbox id="ein1" property="einwilligunginfo" value="1" />
			<span class="einwilligungtext"><f:translate key="tx_iqtp13db_domain_model_teilnehmer.einwilligunginfotext" /></span>
		</div>
</div>



