<div class="frameeinwilligung">
	<f:form.checkbox id="ein1" property="einwilligung" value="1" />
	<span class="einwilligungtext"><f:format.raw><f:translate key="tx_iqtp13db_domain_model_teilnehmer.einwilligungtext" /></f:format.raw></span>
</div>
<div class="frame"><h2><f:translate key="persdaten" /></h2>
		<div class="tp13_formdivwebapp1">
			<label for="nachname">
				<span id="infolab" title="<f:translate key='infoNachname' />" class="infolabel"><f:translate key="tx_iqtp13db_domain_model_teilnehmer.nachname" />
			</label>
				<f:form.textfield  property="nachname" />
		</div>
		<div class="tp13_formdivwebapp2">
			<label for="vorname">
				<span id="infolab" title="<f:translate key='infoVorname' />" class="infolabel"><f:translate key="tx_iqtp13db_domain_model_teilnehmer.vorname" />
			</label>
				<f:form.textfield  property="vorname" />
		</div>
		<div class="tp13_formdivwebapp1">
			<label for="strasse">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.strasse" />
			</label>
				<f:form.textfield  property="strasse" />
		</div>
		<div class="tp13_formdivwebapp2">
			<label for="plz">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.plz" />/<f:translate key="tx_iqtp13db_domain_model_teilnehmer.ort" />
			</label>
				<f:form.textfield class="plztextfield" property="plz" /><f:form.textfield class="orttextfield" property="ort" />
		</div>
		<div class="tp13_formdivwebapp1">
			<label for="email">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.email" />
			</label>
				<f:form.textfield  property="email" />
				<f:form.validationResults for="tnseite1.email">
					<f:for each="{validationResults.flattenedErrors}" key="propertyName" as="errors">
						<f:if condition="{errors.0.code} == '1221559976'"><p class="errormessage">{errors.0.message}</p></f:if>
					</f:for>
				</f:form.validationResults>
		</div>
		<div class="tp13_formdivwebapp2">
			<label for="telefon">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.telefon" />
			</label>
				<f:form.textfield  property="telefon" />
		</div>
		<div class="tp13_formdivwebapp1">
			<label for="geburtsjahr">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.geburtsjahr" />
			</label>
				<f:form.textfield size="8" property="geburtsjahr" />
		</div>
		<div class="tp13_formdivwebapp2">
			<label for="geburtsland">
				<span id="infolab" title="<f:translate key='infoGeburtsland' />" class="infolabel"><f:translate key="tx_iqtp13db_domain_model_teilnehmer.geburtsland" />
			</label>
				<f:form.textfield  property="geburtsland" />
		</div>
		<div class="tp13_formdivwebapp1">
			<label class="tp13_options" for="geschlecht">
			<f:translate key="tx_iqtp13db_domain_model_teilnehmer.geschlecht" />
			</label>
			<div class="tp13_options">
				<div class="tp13_formdivwebappradio"><f:form.radio property="geschlecht" value="2"/><span class="abschlussradiotext"><f:translate key="maennlich" /></span></div>
				<div class="tp13_formdivwebappradio"><f:form.radio property="geschlecht" value="1"/><span class="abschlussradiotext"><f:translate key="weiblich" /></span></div>
				<div class="tp13_formdivwebappradio"><f:form.radio property="geschlecht" value="3"/><span class="abschlussradiotext"><f:translate key="divers" /></span></div>
			</div>
			<div style="clear: both;"></div>
		</div>
		
		<div class="tp13_formdivwebapp2">
			<label for="ersteStaatsangehoerigkeit">
				<span id="infolab" title="<f:translate key='infoStaatsangehoerigkeit' />" class="infolabel"><f:translate key="tx_iqtp13db_domain_model_teilnehmer.erste_staatsangehoerigkeit" />
			</label>
			<f:form.textfield  property="ersteStaatsangehoerigkeit" />
		</div>
		<div class="tp13_formdivwebapp1">
			<label for="zweiteStaatsangehoerigkeit">
				<span id="infolab" title="<f:translate key='infoStaatsangehoerigkeit' />" class="infolabel"><f:translate key="tx_iqtp13db_domain_model_teilnehmer.zweite_staatsangehoerigkeit" />
			</label>
				<f:form.textfield  property="zweiteStaatsangehoerigkeit" />
		</div>
		<div class="tp13_formdivwebapp2">
			<label for="einreisejahr">
				<span id="infolab" title="<f:translate key='infoJahrEinreise' />" class="infolabel"><f:translate key="tx_iqtp13db_domain_model_teilnehmer.einreisejahr" />
			</label>
				<f:form.textfield size="5" property="einreisejahr" />
		</div>
		<div class="tp13_formdivwebapp1">
			<label class="tp13_options" for="wohnsitzDeutschland">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.wohnsitz_deutschland" />
			</label>
			<div class="tp13_options">
				<div class="tp13_formdivwebappradio"><f:form.radio id="checkwohnsitzDeutschland1" property="wohnsitzDeutschland" value="1" /><span class="abschlussradiotext"><f:translate key="ja" /></span></div>
				<div class="tp13_formdivwebappradio"><f:form.radio id="checkwohnsitzDeutschland0" property="wohnsitzDeutschland" value="2" /><span class="abschlussradiotext"><f:translate key="nein" /></span></div>
			</div>
			<div style="clear: both;"></div>
		</div>
		<div class="tp13_formdivwebapp2">
			<label for="wohnsitzJaBundesland">
				<span id="infolab" title="<f:translate key='infoBundesland' />" class="infolabel"><f:translate key="tx_iqtp13db_domain_model_teilnehmer.wohnsitz_ja_bundesland" />
			</label>
				<f:form.select property="wohnsitzJaBundesland" options="{settings.bundeslaender}" optionValueField="key" optionLabelField="value" />
		</div>
		<div class="tp13_formdivwebapp1">
			<label id="labelwohnsitzNeinIn" for="wohnsitzNeinIn">
				<span id="infolab" title="<f:translate key='infoWohnsitzinDeutschlandNein' />" class="infolabel"><f:translate key="tx_iqtp13db_domain_model_teilnehmer.wohnsitz_nein_in" />
			</label>
				<f:form.textfield  id="inputwohnsitzNeinIn" property="wohnsitzNeinIn" />
		</div>
		<div class="tp13_formdivwebapp2">
			<label id="labelgeplanteEinreise" for="geplanteEinreise">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.geplante_einreise" />
			</label>
				<f:form.textfield  id="inputgeplanteEinreise" property="geplanteEinreise" />
		</div>
		<div class="tp13_formdivwebapp1">
			<label for="kontaktVisastelle" style="float: left;">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.kontakt_visastelle" />
			</label>
			<div class="tp13_formdivwebappradio"><f:form.radio id="kontaktVisastelle1" property="kontaktVisastelle" value="1" /><span class="abschlussradiotext"><f:translate key="ja" /></span></div>
			<div class="tp13_formdivwebappradio"><f:form.radio id="kontaktVisastelle0" property="kontaktVisastelle" value="2" /><span class="abschlussradiotext"><f:translate key="nein" /></span></div>
			<div style="clear: both;"></div>
		</div>
		<div class="tp13_formdivwebapp2">
			<label id="labelvisumsantrag" for="visumsantrag">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.visumsantrag" />
			</label>
				<f:form.textfield  id="inputvisumsantrag" property="visumsantrag" />
		</div>
</div>


