<div class="fframe"><h2><f:translate key="persdaten" /></h2>
		<f:if condition="{teilnehmer.schonberaten} == 1">
			<f:then>
				<div class="tp13_formdivwebapp">
					<label for="nachname">
						<f:translate key="tx_iqtp13db_domain_model_teilnehmer.schonberatenvon" />
					</label>
						<span class="propdat">{teilnehmer.schonberatenvon}</span>
				</div>
			</f:then>
		</f:if>	
		<div class="tp13_formdivwebapp">
			<label for="nachname">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.nachname" />
			</label>
				<span class="propdat">{teilnehmer.nachname}</span>
				<div class="historie">
				<f:for each="{historie}" as="hist" key="wert">
					{f:if(condition: '{hist.property} == "nachname"', then: '<span class="historieval">{hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
				</f:for>
				</div>
				
		</div>
		<div class="tp13_formdivwebapp">
			<label for="vorname">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.vorname" />
			</label>
				<span class="propdat">{teilnehmer.vorname}</span>
				<div class="historie">
				<f:for each="{historie}" as="hist" key="wert">
					{f:if(condition: '{hist.property} == "vorname"', then: '<span class="historieval">{hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
				</f:for>
				</div>
		</div>
		<div class="tp13_formdivwebapp">
			<label for="vorname">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.plz" />
			</label>
				<span class="propdat">{teilnehmer.plz}</span>
				<div class="historie">
				<f:for each="{historie}" as="hist" key="wert">
					{f:if(condition: '{hist.property} == "plz"', then: '<span class="historieval">{hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
				</f:for>
				</div>
		</div>
		<div class="tp13_formdivwebapp">
			<label for="vorname">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.ort" />
			</label>
				<span class="propdat">{teilnehmer.ort}</span>
				<div class="historie">
				<f:for each="{historie}" as="hist" key="wert">
					{f:if(condition: '{hist.property} == "ort"', then: '<span class="historieval">{hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
				</f:for>
				</div>
		</div>		
		<div class="tp13_formdivwebapp">
			<label for="email">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.email" />
			</label>
				<span class="propdat">{teilnehmer.email}</span>
				<div class="historie">
				<f:for each="{historie}" as="hist" key="wert">
					{f:if(condition: '{hist.property} == "email"', then: '<span class="historieval">{hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
				</f:for>
				</div>
		</div>
		<div class="tp13_formdivwebapp">
			<label for="telefon">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.telefon" />
			</label>
				<span class="propdat">{teilnehmer.telefon}</span>
				<div class="historie">
				<f:for each="{historie}" as="hist" key="wert">
					{f:if(condition: '{hist.property} == "telefon"', then: '<span class="historieval">{hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
				</f:for>
				</div>
		</div>
		<div class="tp13_formdivwebapp">
			<label for="geburtsjahr">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.lebensalter" />
			</label>
				<span class="propdat">{teilnehmer.lebensalter}</span>
				<div class="historie">
				<f:for each="{historie}" as="hist" key="wert">
					{f:if(condition: '{hist.property} == "lebensalter"', then: '<span class="historieval">{hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
				</f:for>
				</div>
		</div>
		<div class="tp13_formdivwebapp">
			<label for="geburtsland">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.geburtsland" />
			</label>
				<span class="propdat">{teilnehmer.geburtsland}</span>
				<div class="historie">
				<f:for each="{historie}" as="hist" key="wert">
					{f:if(condition: '{hist.property} == "geburtsland"', then: '<span class="historieval">{hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
				</f:for>
				</div>
				
		</div>
		<div class="tp13_formdivwebapp">
			<label for="geschlecht">
			<f:translate key="tx_iqtp13db_domain_model_teilnehmer.geschlecht" />
			</label>
			<span class="propdat">
			<f:if condition="{teilnehmer.geschlecht} == 2"><f:then>
				<f:translate key="maennlich" />
			</f:then>
			<f:else>
				<f:if condition="{teilnehmer.geschlecht} == 1"><f:then>
					<f:translate key="weiblich" />
				</f:then>
				<f:else>
					<f:translate key=divers />
				</f:else>
				</f:if>
			</f:else>
			</f:if>
			</span>
			<div class="historie">
			<f:for each="{historie}" as="hist" key="wert">
					{f:if(condition: '{hist.property} == "geschlecht"', then: '<span class="historieval">{hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
			</f:for>
			</div>
		</div>
		<div class="tp13_formdivwebapp">
			<label for="ersteStaatsangehoerigkeit">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.erste_staatsangehoerigkeit" />
			</label>
			<span class="propdat">{teilnehmer.ersteStaatsangehoerigkeit}</span>
			<div class="historie">
			<f:for each="{historie}" as="hist" key="wert">
					{f:if(condition: '{hist.property} == "ersteStaatsangehoerigkeit"', then: '<span class="historieval">{hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
			</f:for>
			</div>
		</div>
		<div class="tp13_formdivwebapp">
			<label for="zweiteStaatsangehoerigkeit">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.zweite_staatsangehoerigkeit" />
			</label>
				<span class="propdat">{teilnehmer.zweiteStaatsangehoerigkeit}</span>
				<div class="historie">
				<f:for each="{historie}" as="hist" key="wert">
					{f:if(condition: '{hist.property} == "zweiteStaatsangehoerigkeit"', then: '<span class="historieval">{hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
				</f:for>
				</div>
		</div>
		<div class="tp13_formdivwebapp">
			<label for="einreisejahr">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.einreisejahr" />
			</label>
				<span class="propdat">{teilnehmer.einreisejahr}</span>
				<div class="historie">
				<f:for each="{historie}" as="hist" key="wert">
					{f:if(condition: '{hist.property} == "einreisejahr"', then: '<span class="historieval">{hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
				</f:for>
				</div>
		</div>
		<div class="tp13_formdivwebapp">
			<label for="wohnsitzDeutschland">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.wohnsitz_deutschland" />
			</label>
			<span class="propdat">
			<f:if condition="{teilnehmer.wohnsitzDeutschland} == 1"><f:then>
				<f:translate key="ja" />
			</f:then>
			<f:else>
				<f:translate key="nein" />
			</f:else>
			</f:if>
			</span>
			<div class="historie">
			<f:for each="{historie}" as="hist" key="wert">
					{f:if(condition: '{hist.property} == "wohnsitzDeutschland"', then: '<span class="historieval">{hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
			</f:for>
			</div>
		</div>
		<div class="tp13_formdivwebapp">
			<label id="labelwohnsitzNeinIn4propertypage" for="wohnsitzNeinIn">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.wohnsitz_nein_in" />
			</label>
				<span class="propdat">{teilnehmer.wohnsitzNeinIn}</span>
				<div class="historie">
				<f:for each="{historie}" as="hist" key="wert">
					{f:if(condition: '{hist.property} == "wohnsitzNeinIn"', then: '<span class="historieval">{hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
				</f:for>
				</div>
		</div>
		
		<div class="tp13_formdivwebapp">
			<label for="ortskraftafghanistan">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.ortskraftafghanistan" />
			</label>
			<span class="propdat">
			<f:if condition="{teilnehmer.ortskraftafghanistan} == 1">
				<f:then>
					<f:translate key="ja" />
				</f:then>
				<f:else>
					<f:translate key="nein" />
				</f:else>
			</f:if>
			</span>
			<div class="historie">
			<f:for each="{historie}" as="hist" key="wert">
				{f:if(condition: '{hist.property} == "ortskraftafghanistan"', then: '<span class="historieval">{hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
			</f:for>
			</div>
		</div>
		
		
		<div class="tp13_formdivwebapp">
			<label for="aufenthaltsstatus">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.aufenthaltsstatus" />
			</label>
				<f:for each="{settings.aufenthaltsstatus}" as="text" key="wert">
					{f:if(condition: '{teilnehmer.aufenthaltsstatus} == {wert}', then: '<span class="propdat">{text}</span>')}					 
				</f:for>
				<div class="historie">
				<f:for each="{historie}" as="hist" key="wert">
					{f:if(condition: '{hist.property} == "aufenthaltsstatus"', then: '<span class="historieval">{hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
				</f:for>
				</div>
		</div>
		<div class="tp13_formdivwebapp">
			<label for="aufenthaltsstatusfreitext">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.aufenthaltsstatusfreitext" />
			</label>
				<span class="propdat"><f:format.html>{teilnehmer.aufenthaltsstatusfreitext}</f:format.html></span>
				<div class="historie">
				<f:for each="{historie}" as="hist" key="wert">
					{f:if(condition: '{hist.property} == "aufenthaltsstatusfreitext"', then: '<span class="historieval">{hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
				</f:for>
				</div>
		</div>
</div>

<div class="fframe"><h2><f:translate key="deutschkenntnisse" /></h2>
		<div class="tp13_formdivwebapp">
			<label for="deutschkenntnisse">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.deutschkenntnisse" />
			</label>
				<f:for each="{settings.deutschkenntnisse}" as="text" key="wert">
					{f:if(condition: '{teilnehmer.deutschkenntnisse} == {wert}', then: '<span class="propdat">{text}</span>')}					 
				</f:for>
				<div class="historie">
				<f:for each="{historie}" as="hist" key="wert">
					{f:if(condition: '{hist.property} == "deutschkenntnisse"', then: '<span class="historieval">{hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
				</f:for>
				</div>
		</div>
		<div class="tp13_formdivwebapp">
			<label id="labelzertsprachniveau" for="zertifikatSprachniveau">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.zertifikat_sprachniveau" />
			</label>
			<f:for each="{settings.zertifikatlevel}" as="text" key="wert">
					{f:if(condition: '{teilnehmer.zertifikatSprachniveau} == {wert}', then: '<span class="propdat">{text}</span>')}					 
			</f:for>
			<div class="historie">
				<f:for each="{historie}" as="hist" key="wert">
					{f:if(condition: '{hist.property} == "zertifikatSprachniveau"', then: '<span class="historieval">{hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
				</f:for>
				</div>
		</div>		
</div>

<div class="fframe"><h2><f:translate key="auslaendischerabschluss" /></h2>
		<div class="tp13_formdivwebapp">
			<label for="abschlussart">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.abschlussart" />
			</label>
				<f:for each="{teilnehmer.abschlussart1}" as="abschlussart1">
					<f:for each="{settings.abschlussart}" as="text" key="wert">
						{f:if(condition: '{abschlussart1} == {wert}', then: '<span class="propdat">{text}</span>')}
					</f:for>
				</f:for>
				<div class="historie">
				<f:for each="{historie}" as="hist" key="wert">
					{f:if(condition: '{hist.property} == "abschlussart1"', then: '<span class="historieval">{hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
				</f:for>
				</div>
				<f:for each="{teilnehmer.abschlussart2}" as="abschlussart2">
					<f:for each="{settings.abschlussart}" as="text" key="wert">
						{f:if(condition: '{abschlussart2} == {wert}', then: '<span class="propdat">{text}</span>')}
					</f:for>
				</f:for>		
				<div class="historie">
				<f:for each="{historie}" as="hist" key="wert">
					{f:if(condition: '{hist.property} == "abschlussart2"', then: '<span class="historieval">{hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
				</f:for>
				</div>
		</div>
		<div class="tp13_formdivwebapp">
				<label for="erwerbsland">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.erwerbsland" />
			</label>
				<span class="propdat">{teilnehmer.erwerbsland1};{teilnehmer.erwerbsland2}</span>
				<div class="historie">
				<f:for each="{historie}" as="hist" key="wert">
					{f:if(condition: '{hist.property} == "erwerbsland1"', then: '<span class="historieval">1: {hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}
					{f:if(condition: '{hist.property} == "erwerbsland2"', then: '<span class="historieval">2: {hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
				</f:for>
				</div>
		</div>
		<div class="tp13_formdivwebapp">
			<label for="dauerBerufsausbildung">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.dauer_berufsausbildung" />
			</label>
				<span class="propdat">{teilnehmer.dauerBerufsausbildung1};{teilnehmer.dauerBerufsausbildung2}</span>
				<div class="historie">
				<f:for each="{historie}" as="hist" key="wert">
					{f:if(condition: '{hist.property} == "dauerBerufsausbildung1"', then: '<span class="historieval">1: {hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}
					{f:if(condition: '{hist.property} == "dauerBerufsausbildung2"', then: '<span class="historieval">2: {hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
				</f:for>
				</div>
		</div>
		<div class="tp13_formdivwebapp">
			<label for="abschlussjahr">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.abschlussjahr" />
			</label>
				<span class="propdat">{teilnehmer.abschlussjahr1};{teilnehmer.abschlussjahr2}</span>
				<div class="historie">
				<f:for each="{historie}" as="hist" key="wert">
					{f:if(condition: '{hist.property} == "abschlussjahr1"', then: '<span class="historieval">1: {hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}
					{f:if(condition: '{hist.property} == "abschlussjahr2"', then: '<span class="historieval">2: {hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
				</f:for>
				</div>
		</div>
		<div class="tp13_formdivwebapp">
			<label for="ausbildungsinstitution">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.ausbildungsinstitution" />
			</label>
				<span class="propdat">{teilnehmer.ausbildungsinstitution1};{teilnehmer.ausbildungsinstitution2}</span>
				<div class="historie">
				<f:for each="{historie}" as="hist" key="wert">
					{f:if(condition: '{hist.property} == "ausbildungsinstitution1"', then: '<span class="historieval">1: {hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}
					{f:if(condition: '{hist.property} == "ausbildungsinstitution2"', then: '<span class="historieval">2: {hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
				</f:for>
				</div>
		</div>
		<div class="tp13_formdivwebapp">
			<label for="ausbildungsort">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.ausbildungsort" />
			</label>
				<span class="propdat">{teilnehmer.ausbildungsort1};{teilnehmer.ausbildungsort2}</span>
				<div class="historie">
				<f:for each="{historie}" as="hist" key="wert">
					{f:if(condition: '{hist.property} == "ausbildungsort1"', then: '<span class="historieval">1: {hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}
					{f:if(condition: '{hist.property} == "ausbildungsort2"', then: '<span class="historieval">2: {hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
				</f:for>
				</div>
		</div>
		<div class="tp13_formdivwebapp">
			<label for="originaltitelAbschluss">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.abschluss" />
			</label>
				<span class="propdat">{teilnehmer.abschluss1};{teilnehmer.abschluss2}</span>
				<div class="historie">
				<f:for each="{historie}" as="hist" key="wert">
					{f:if(condition: '{hist.property} == "abschluss1"', then: '<span class="historieval">1: {hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}
					{f:if(condition: '{hist.property} == "abschluss2"', then: '<span class="historieval">2: {hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
				</f:for>
				</div>
		</div>
		<div class="tp13_formdivwebapp">
					<label for="deutscherReferenzberuf">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.deutscher_referenzberuf" />
			</label>
				<span class="propdat">{teilnehmer.deutscherReferenzberuf1};{teilnehmer.deutscherReferenzberuf2}</span>
				<div class="historie">
				<f:for each="{historie}" as="hist" key="wert">
					{f:if(condition: '{hist.property} == "deutscherReferenzberuf1"', then: '<span class="historieval">1: {hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}
					{f:if(condition: '{hist.property} == "deutscherReferenzberuf2"', then: '<span class="historieval">2: {hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
				</f:for>
				</div>
		</div>
		<div class="tp13_formdivwebapp">
			<label for="berufserfahrungAusland">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.berufserfahrung" />
			</label>
			<span class="propdat">{teilnehmer.berufserfahrung1};{teilnehmer.berufserfahrung2}</span>
				<div class="historie">
				<f:for each="{historie}" as="hist" key="wert">
					{f:if(condition: '{hist.property} == "berufserfahrung1"', then: '<span class="historieval">1: {hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}
					{f:if(condition: '{hist.property} == "berufserfahrung2"', then: '<span class="historieval">2: {hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
				</f:for>
				</div>
		</div>
		<div class="tp13_formdivwebapp">
			<label id="labelausbildungsfremdeberufserfahrung1" for="ausbildungsfremdeberufserfahrung1">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.ausbildungsfremdeberufserfahrung1" />
			</label>
				<span class="propdat">{teilnehmer.ausbildungsfremdeberufserfahrung1};{teilnehmer.ausbildungsfremdeberufserfahrung2}</span>
				<div class="historie">
				<f:for each="{historie}" as="hist" key="wert">
					{f:if(condition: '{hist.property} == "ausbildungsfremdeberufserfahrung1"', then: '<span class="historieval">1: {hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}
					{f:if(condition: '{hist.property} == "ausbildungsfremdeberufserfahrung2"', then: '<span class="historieval">2: {hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
				</f:for>
				</div>
		</div>		
</div>

<div class="fframe"><h2><f:translate key="beruflichesituation" /></h2>
		<div class="tp13_formdivwebapp">
			<label for="erwerbsstatus">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.erwerbsstatus" />
			</label>
				<f:for each="{settings.erwerbsstatus}" as="text" key="wert">
					{f:if(condition: '{teilnehmer.erwerbsstatus} == {wert}', then: '<span class="propdat">{text}</span>')}					 
				</f:for>
				<div class="historie">
				<f:for each="{historie}" as="hist" key="wert">
					{f:if(condition: '{hist.property} == "erwerbsstatus"', then: '<span class="historieval">{hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
				</f:for>
				</div>
		</div>
		<div class="tp13_formdivwebapp">
			<label for="leistungsbezugjanein">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.leistungsbezugjanein" />
			</label>
			<span class="propdat"><f:if condition="{teilnehmer.leistungsbezugjanein} == 1"><f:then>
				<f:translate key="ja" />
			</f:then>
			</f:if>
			<f:if condition="{teilnehmer.leistungsbezugjanein} == 2"><f:then>
				<f:translate key="nein" />
			</f:then>
			</f:if>
			<f:if condition="{teilnehmer.leistungsbezugjanein} == 3"><f:then>
				<f:translate key="ka" />
			</f:then>
			</f:if></span>
			<div class="historie">
			<f:for each="{historie}" as="hist" key="wert">
				{f:if(condition: '{hist.property} == "leistungsbezugjanein"', then: '<span class="historieval">{hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
			</f:for>
			</div>
		</div>
		<f:if condition="{teilnehmer.leistungsbezugjanein} == 1"><f:then>
			<div class="tp13_formdivwebapp">
				<label for="leistungsbezug">
					<f:translate key="tx_iqtp13db_domain_model_teilnehmer.leistungsbezug" />
				</label>
					<f:for each="{settings.leistungsbezug}" as="text" key="wert">
						{f:if(condition: '{teilnehmer.leistungsbezug} == {wert}', then: '<span class="propdat">{text}</span>')}					 
					</f:for>
					<div class="historie">
					<f:for each="{historie}" as="hist" key="wert">
						{f:if(condition: '{hist.property} == "leistungsbezug"', then: '<span class="historieval">{hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
					</f:for>
					</div>
			</div>
			<div class="tp13_formdivwebapp">
				<label for="einwilligungdatenanAA">
					<f:translate key="tx_iqtp13db_domain_model_teilnehmer.einwilligungdatenan_a_a" />
				</label>
				<span class="propdat"><f:if condition="{teilnehmer.einwilligungdatenanAA} == 1"><f:then>
					<f:translate key="ja" />
				</f:then>
				<f:else>
					<f:translate key="nein" />
				</f:else>
				</f:if></span>
				<div class="historie">
				<f:for each="{historie}" as="hist" key="wert">
					{f:if(condition: '{hist.property} == "einwilligungdatenanAA"', then: '<span class="historieval">{hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
				</f:for>
				</div>
			</div>
		</f:then>
		</f:if>
</div>


<f:if condition="{teilnehmer.einwilligungdatenanAA} == 1">
<f:then>
	<div class="fframe"><h2><f:translate key="datenjobcenterarbeitsagentur" /></h2>
		<div class="tp13_formdivwebapp">
			<label for="nameBeraterAA">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.name_berater_a_a" />
			</label>
				<span class="propdat">{teilnehmer.nameBeraterAA}</span>
				<div class="historie">
				<f:for each="{historie}" as="hist" key="wert">
					{f:if(condition: '{hist.property} == "nameBeraterAA"', then: '<span class="historieval">{hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
				</f:for>
				</div>
		</div>
		<div class="tp13_formdivwebapp">
			<label for="kontaktBeraterAA">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.kontakt_berater_a_a" />
			</label>
				<span class="propdat">{teilnehmer.kontaktBeraterAA}</span>
				<div class="historie">
				<f:for each="{historie}" as="hist" key="wert">
					{f:if(condition: '{hist.property} == "kontaktBeraterAA"', then: '<span class="historieval">{hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
				</f:for>
				</div>
		</div>
		<div class="tp13_formdivwebapp">
			<label for="kundennummerAA">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.kundennummer_a_a" />
			</label>
				<span class="propdat">{teilnehmer.kundennummerAA}</span>
				<div class="historie">
				<f:for each="{historie}" as="hist" key="wert">
					{f:if(condition: '{hist.property} == "kundennummerAA"', then: '<span class="historieval">{hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
				</f:for>
				</div>
		</div>
	</div>
</f:then>
</f:if>



	<div class="fframe"><h2>Datenweitergabe anerkennende Stelle</h2>
  <div class="tp13_formdivwebapp">
				<label for="einwAnerkstelle">
					<f:translate key="tx_iqtp13db_domain_model_teilnehmer.einw_anerkstelle" />
				</label>
				<span class="propdat"><f:if condition="{teilnehmer.einwAnerkstelle} == 1"><f:then>
					<f:translate key="ja" />
				</f:then>
				<f:else>
					<f:translate key="nein" />
				</f:else>
				</f:if></span>
				<div class="historie">
				<f:for each="{historie}" as="hist" key="wert">
					{f:if(condition: '{hist.property} == "einwAnerkstelle"', then: '<span class="historieval">{hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
				</f:for>
				</div>
			</div>
      
      <div class="tp13_formdivwebapp">
  			<label for="einwAnerkstelledatum">
  				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.einw_anerkstelledatum" />
  			</label>
  				<span class="propdat">{teilnehmer.einwAnerkstelledatum}</span>
  				<div class="historie">
  				<f:for each="{historie}" as="hist" key="wert">
  					{f:if(condition: '{hist.property} == "einwAnerkstelledatum"', then: '<span class="historieval">{hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
  				</f:for>
  				</div>
  		</div>

      <div class="tp13_formdivwebapp">
  			<label for="einwAnerkstellemedium">
  				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.einw_anerkstellemedium" />
  			</label>
  				<f:for each="{settings.einwilligungaamedium}" as="text" key="wert">
					{f:if(condition: '{teilnehmer.einwAnerkstellemedium.0} == {wert}', then: '<span class="propdat">{text}</span>')}					 
				</f:for>

  				<div class="historie">
  				<f:for each="{historie}" as="hist" key="wert">
  					{f:if(condition: '{hist.property} == "einwAnerkstellemedium"', then: '<span class="historieval">{hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
  				</f:for>
  				</div>
  		</div>
      
		<div class="tp13_formdivwebapp">
			<label for="einwAnerkstellename">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.einw_anerkstellename" />
			</label>
				<span class="propdat">{teilnehmer.einwAnerkstellename}</span>
				<div class="historie">
				<f:for each="{historie}" as="hist" key="wert">
					{f:if(condition: '{hist.property} == "einwAnerkstellename"', then: '<span class="historieval">{hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
				</f:for>
				</div>
		</div>
		<div class="tp13_formdivwebapp">
			<label for="einwAnerkstellekontakt">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.einw_anerkstellekontakt" />
			</label>
				<span class="propdat">{teilnehmer.einwAnerkstellekontakt}</span>
				<div class="historie">
				<f:for each="{historie}" as="hist" key="wert">
					{f:if(condition: '{hist.property} == "einwAnerkstellekontakt"', then: '<span class="historieval">{hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
				</f:for>
				</div>
		</div>
	
	</div>
	
	
	<div class="fframe"><h2>Datenweitergabe weitere Person</h2>
  <div class="tp13_formdivwebapp">
				<label for="einwPerson">
					<f:translate key="tx_iqtp13db_domain_model_teilnehmer.einw_person" />
				</label>
				<span class="propdat"><f:if condition="{teilnehmer.einwPerson} == 1"><f:then>
					<f:translate key="ja" />
				</f:then>
				<f:else>
					<f:translate key="nein" />
				</f:else>
				</f:if></span>
				<div class="historie">
				<f:for each="{historie}" as="hist" key="wert">
					{f:if(condition: '{hist.property} == "einwPerson"', then: '<span class="historieval">{hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
				</f:for>
				</div>
			</div>
      
      <div class="tp13_formdivwebapp">
  			<label for="einwPersondatum">
  				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.einw_persondatum" />
  			</label>
  				<span class="propdat">{teilnehmer.einwPersondatum}</span>
  				<div class="historie">
  				<f:for each="{historie}" as="hist" key="wert">
  					{f:if(condition: '{hist.property} == "einwPersondatum"', then: '<span class="historieval">{hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
  				</f:for>
  				</div>
  		</div>

      <div class="tp13_formdivwebapp">
  			<label for="einwPersonmedium">
  				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.einw_personmedium" />
  			</label>
  				<f:for each="{settings.einwilligungaamedium}" as="text" key="wert">
					{f:if(condition: '{teilnehmer.einwPersonmedium.0} == {wert}', then: '<span class="propdat">{text}</span>')}					 
				</f:for>
  				<div class="historie">
  				<f:for each="{historie}" as="hist" key="wert">
  					{f:if(condition: '{hist.property} == "einwPersonmedium"', then: '<span class="historieval">{hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
  				</f:for>
  				</div>
  		</div>
      
		<div class="tp13_formdivwebapp">
			<label for="einwPersonname">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.einw_personname" />
			</label>
				<span class="propdat">{teilnehmer.einwPersonname}</span>
				<div class="historie">
				<f:for each="{historie}" as="hist" key="wert">
					{f:if(condition: '{hist.property} == "einwPersonname"', then: '<span class="historieval">{hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
				</f:for>
				</div>
		</div>
		<div class="tp13_formdivwebapp">
			<label for="einwPersonkontakt">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.einw_personkontakt" />
			</label>
				<span class="propdat">{teilnehmer.einwPersonkontakt}</span>
				<div class="historie">
				<f:for each="{historie}" as="hist" key="wert">
					{f:if(condition: '{hist.property} == "einwPersonkontakt"', then: '<span class="historieval">{hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
				</f:for>
				</div>
		</div>
	
	</div>
	
<div class="fframe"><h2><f:translate key="fruehereantraege" /></h2>
		<div class="tp13_formdivwebapp">
			<label for="fruehererAntrag">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.frueherer_antrag" />
			</label>
			<span class="propdat"><f:if condition="{teilnehmer.fruehererAntrag} == 1"><f:then>
				<f:translate key="ja" />
			</f:then>
			<f:else>
				<f:translate key="nein" />
			</f:else>
			</f:if></span>
			<div class="historie">
			<f:for each="{historie}" as="hist" key="wert">
				{f:if(condition: '{hist.property} == "fruehererAntrag"', then: '<span class="historieval">{hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
			</f:for>
			</div>
		</div>		
	<f:if condition="{teilnehmer.fruehererAntrag} == 1">
	<f:then>
		<div class="tp13_formdivwebapp">
			<label id="labelfruehererAntragReferenzberuf" for="fruehererAntragReferenzberuf">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.frueherer_antrag_referenzberuf" />
			</label>
				<span class="propdat">{teilnehmer.fruehererAntragReferenzberuf}</span>
			<div class="historie">
			<f:for each="{historie}" as="hist" key="wert">
				{f:if(condition: '{hist.property} == "fruehererAntragReferenzberuf"', then: '<span class="historieval">{hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
			</f:for>
			</div>

		</div>
		<div class="tp13_formdivwebapp">
			<label id="labelfruehererAntragInstitution" for="fruehererAntragInstitution">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.frueherer_antrag_institution" />
			</label>
				<span class="propdat">{teilnehmer.fruehererAntragInstitution}</span>
			<div class="historie">
			<f:for each="{historie}" as="hist" key="wert">
				{f:if(condition: '{hist.property} == "fruehererAntragInstitution"', then: '<span class="historieval">{hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
			</f:for>
			</div>

		</div>
		<div class="tp13_formdivwebapp">
			<label id="labelfruehererAntragInstitution" for="fruehererAntragInstitution">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.bescheidfrueherer_anerkennungsantrag" />
			</label>
			<span class="propdat"><f:if condition="{teilnehmer.bescheidfruehererAnerkennungsantrag} == 1"><f:then>
				<f:translate key="ja" />
			</f:then>
			<f:else>
				<f:translate key="nein" />
			</f:else>
			</f:if></span>
			<div class="historie">
			<f:for each="{historie}" as="hist" key="wert">
				{f:if(condition: '{hist.property} == "bescheidfruehererAnerkennungsantrag"', then: '<span class="historieval">{hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
			</f:for>
			</div>

		</div>
	</f:then>
	</f:if>		
</div>


<div class="fframe">
	<div class="tp13_formdivwebapp">
		<label for="nameBeratungsstelle">
			<f:translate key="tx_iqtp13db_domain_model_teilnehmer.name_beratungsstelle" />
		</label>
			<f:for each="{settings.beratungsstelle}" as="text" key="wert">
				{f:if(condition: '{teilnehmer.nameBeratungsstelle} == {wert}', then: '<span class="propdat">{text}</span>')}					 
			</f:for>
			<div class="historie">
			<f:for each="{historie}" as="hist" key="wert">
				{f:if(condition: '{hist.property} == "nameBeratungsstelle"', then: '<span class="historieval">{hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
			</f:for>
			</div>

	</div>
	<div class="tp13_formdivwebapp">
		<label for="notizen">
			<f:translate key="tx_iqtp13db_domain_model_teilnehmer.notizen" />
		</label>
			<span class="propdat"><f:format.html>{teilnehmer.notizen}</f:format.html></span>
			<div class="historie">
			<f:for each="{historie}" as="hist" key="wert">
				{f:if(condition: '{hist.property} == "notizen"', then: '<span class="historieval">{hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
			</f:for>
			</div>

	</div>
	<div id="divniqchiffre" class="tp13_formdivwebapp">
		<label for="niqchiffre">
			<f:translate key="tx_iqtp13db_domain_model_teilnehmer.niqchiffre" />
		</label>
			<span class="propdat"><f:format.html>{teilnehmer.niqchiffre}</f:format.html></span>
			<div class="historie">
			<f:for each="{historie}" as="hist" key="wert">
				{f:if(condition: '{hist.property} == "niqchiffre"', then: '<span class="historieval">{hist.tstamp -> f:format.date(format: "d.m.Y H:i")}, {hist.berater.kuerzel}, <b>{hist.oldvalue} -> {hist.newvalue}</b></span>')}					 
			</f:for>
			</div>

	</div>
</div>

<b>Verification Code:</b> {teilnehmer.verificationCode} <b>VerificationIP:</b> {teilnehmer.verificationIp} <b>VerificationDate:</b> <f:format.date format="d.m.Y - H:i">{teilnehmer.verificationDate}</f:format.date><br>

