{namespace iqtp13db=Ud\Iqtp13db\ViewHelpers}
	<div class="fframe"><h2><f:translate key="persdaten" /></h2>
		<f:if condition="{schonberaten} == 1">
			<f:then>
				<div class="tp13_formdivwebapp">
					<label for="nachname">
						<f:translate key="tx_iqtp13db_domain_model_teilnehmer.schonberatenvon" />
					</label>
						<span class="propdat">{teilnehmer.schonberatenvon}</span>
				</div>
			</f:then>
		</f:if>	
		<div class="tp13_formdivwebapp">
			<label for="nachname">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.nachname" />
			</label>
				<span class="propdat">{teilnehmer.nachname}</span>
		</div>
		<div class="tp13_formdivwebapp">
			<label for="vorname">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.vorname" />
			</label>
				<span class="propdat">{teilnehmer.vorname}</span>
		</div>
		<div class="tp13_formdivwebapp">
			<label for="vorname">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.plz" />
			</label>
				<span class="propdat">{teilnehmer.plz}</span>
		</div>
		<div class="tp13_formdivwebapp">
			<label for="vorname">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.ort" />
			</label>
				<span class="propdat">{teilnehmer.ort}</span>
		</div>		
		<div class="tp13_formdivwebapp">
			<label for="email">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.email" />
			</label>
				<span class="propdat">{teilnehmer.email}</span>
		</div>
		<div class="tp13_formdivwebapp">
			<label for="telefon">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.telefon" />
			</label>
				<span class="propdat">{teilnehmer.telefon}</span>
		</div>
		<div class="tp13_formdivwebapp">
			<label for="geburtsjahr">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.lebensalter" />
			</label>
				<span class="propdat">{f:if(condition: '{teilnehmer.lebensalter} == -1000', then: '-', else: '{teilnehmer.lebensalter}')}</span>
		</div>
		<div class="tp13_formdivwebapp">
			<label for="geburtsland">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.geburtsland" />
			</label>
				<f:for each="{settings.staaten}" as="text" key="wert">
					{f:if(condition: '{teilnehmer.geburtsland} == {wert}', then: '<span class="propdat">{text}</span>')}					 
				</f:for>
				{iqtp13db:isint(field:'{teilnehmer.geburtsland}',then:'',else:'<span class="propdat">{teilnehmer.geburtsland}</span>')}
		</div>
		<div class="tp13_formdivwebapp">
			<label for="geschlecht">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.geschlecht" />
			</label>
			<span class="propdat">
			<f:if condition="{teilnehmer.geschlecht} == 2"><f:then>
				<f:translate key="maennlich" />
			</f:then>
			<f:else>
				<f:if condition="{teilnehmer.geschlecht} == 1"><f:then>
					<f:translate key="weiblich" />
				</f:then>
				<f:else>
					<f:translate key=divers />
				</f:else>
				</f:if>
			</f:else>
			</f:if>
			</span>
		</div>
		<div class="tp13_formdivwebapp">
			<label for="ersteStaatsangehoerigkeit">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.erste_staatsangehoerigkeit" />
			</label>
			<f:for each="{settings.staaten}" as="text" key="wert">
				{f:if(condition: '{teilnehmer.ersteStaatsangehoerigkeit} == {wert}', then: '<span class="propdat">{text}</span>')}					 
			</f:for>
			{iqtp13db:isint(field:'{teilnehmer.ersteStaatsangehoerigkeit}',then:'',else:'<span class="propdat">{teilnehmer.ersteStaatsangehoerigkeit}</span>')}
		</div>
		<div class="tp13_formdivwebapp">
			<label for="zweiteStaatsangehoerigkeit">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.zweite_staatsangehoerigkeit" />
			</label>
				<f:for each="{settings.staaten}" as="text" key="wert">
					{f:if(condition: '{teilnehmer.zweiteStaatsangehoerigkeit} == {wert}', then: '<span class="propdat">{text}</span>')}					 
				</f:for>
				{iqtp13db:isint(field:'{teilnehmer.zweiteStaatsangehoerigkeit}',then:'',else:'<span class="propdat">{teilnehmer.zweiteStaatsangehoerigkeit}</span>')}				
		</div>		
		<div class="tp13_formdivwebapp">
			<label for="wohnsitzDeutschland">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.wohnsitz_deutschland" />
			</label>
			<span class="propdat">
			<f:if condition="{teilnehmer.wohnsitzDeutschland} == 1"><f:then>
				<f:translate key="ja" />
			</f:then>
			<f:else>
				<f:if condition="{teilnehmer.wohnsitzDeutschland} == 2"><f:then>
					<f:translate key="nein" />
				</f:then>
				<f:else>
					k.A.
				</f:else>
				</f:if>
			</f:else>
			</f:if>
			</span>
		</div>
		<div class="tp13_formdivwebapp">
			<label for="einreisejahr">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.einreisejahr" />
			</label>
				<span class="propdat">{teilnehmer.einreisejahr}</span>
		</div>
		<f:if condition="{teilnehmer.wohnsitzDeutschland} == 2">
			<div class="tp13_formdivwebapp">
				<label id="labelwohnsitzNeinIn4propertypage" for="wohnsitzNeinIn">
					<f:translate key="tx_iqtp13db_domain_model_teilnehmer.wohnsitz_nein_in" />
				</label>
					<f:for each="{settings.staaten}" as="text" key="wert">
						{f:if(condition: '{teilnehmer.wohnsitzNeinIn} == {wert}', then: '<span class="propdat">{text}</span>')}					 
					</f:for>
					{iqtp13db:isint(field:'{teilnehmer.wohnsitzNeinIn}',then:'',else:'<span class="propdat">{teilnehmer.wohnsitzNeinIn}</span>')}
			</div>
		</f:if>
		
		<div class="tp13_formdivwebapp">
			<label for="aufenthaltsstatus">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.aufenthaltsstatus" />
			</label>
				<f:for each="{settings.aufenthaltsstatus}" as="text" key="wert">
					{f:if(condition: '{teilnehmer.aufenthaltsstatus} == {wert}', then: '<span class="propdat">{text}</span>')}					 
				</f:for>
		</div>
		<div class="tp13_formdivwebapp">
			<label for="aufenthaltsstatusfreitext">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.aufenthaltsstatusfreitext" />
			</label>
				<span class="propdat"><f:format.html>{teilnehmer.aufenthaltsstatusfreitext}</f:format.html></span>
		</div>
</div>

<div class="fframe"><h2><f:translate key="deutschkenntnisse" /></h2>
		<div class="tp13_formdivwebapp">
			<label for="deutschkenntnisse">
			<f:translate key="tx_iqtp13db_domain_model_teilnehmer.deutschkenntnisse" />
			</label>
			<span class="propdat">
			<f:if condition="{teilnehmer.deutschkenntnisse} == 1"><f:then>
				<f:translate key="ja" />
			</f:then>
			<f:else>
				<f:if condition="{teilnehmer.deutschkenntnisse} == 2"><f:then>
					<f:translate key="nein" />
				</f:then>
				<f:else>
					<f:if condition="{teilnehmer.deutschkenntnisse} == -1"><f:then>
						<f:translate key="ka" />
					</f:then>
					<f:else>
						
					</f:else>
					</f:if>
				</f:else>
				</f:if>
			</f:else>
			</f:if>
			</span>
		</div>
		<div class="tp13_formdivwebapp">
			<label id="labelzertsprachniveau" for="zertifikatSprachniveau">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.zertifikat_sprachniveau" />
			</label>
			<f:for each="{settings.zertifikatlevel}" as="text" key="wert">
					{f:if(condition: '{teilnehmer.zertifikatSprachniveau} == {wert}', then: '<span class="propdat">{text}</span>')}					 
			</f:for>
		</div>		
</div>

<div class="fframe"><h2><f:translate key="beruflichesituation" /></h2>
		<div class="tp13_formdivwebapp">
			<label for="erwerbsstatus">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.erwerbsstatus" />
			</label>
				<f:for each="{settings.erwerbsstatus}" as="text" key="wert">
					{f:if(condition: '{teilnehmer.erwerbsstatus} == {wert}', then: '<span class="propdat">{text}</span>')}					 
				</f:for>
		</div>
		<div class="tp13_formdivwebapp">
			<label for="leistungsbezugjanein">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.leistungsbezugjanein" />
			</label>
			<span class="propdat"><f:if condition="{teilnehmer.leistungsbezugjanein} == 1"><f:then>
				<f:translate key="ja" />
			</f:then>
			</f:if>
			<f:if condition="{teilnehmer.leistungsbezugjanein} == 2"><f:then>
				<f:translate key="nein" />
			</f:then>
			</f:if>
			<f:if condition="{teilnehmer.leistungsbezugjanein} == 3"><f:then>
				<f:translate key="ka" />
			</f:then>
			</f:if></span>
		</div>
		<f:if condition="{teilnehmer.leistungsbezugjanein} == 1"><f:then>
			<div class="tp13_formdivwebapp">
				<label for="leistungsbezug">
					<f:translate key="tx_iqtp13db_domain_model_teilnehmer.leistungsbezug" />
				</label>
					<f:for each="{settings.leistungsbezug}" as="text" key="wert">
						{f:if(condition: '{teilnehmer.leistungsbezug} == {wert}', then: '<span class="propdat">{text}</span>')}					 
					</f:for>
			</div>			
		</f:then>
		</f:if>
</div>


<div class="fframe"><h2><f:translate key="datenjobcenterarbeitsagentur" /></h2>
		<div class="tp13_formdivwebapp">
			<label for="nameBeraterAA">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.name_berater_a_a" />
			</label>
				<span class="propdat">{teilnehmer.nameBeraterAA}</span>
		</div>
		<div class="tp13_formdivwebapp">
			<label for="kontaktBeraterAA">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.kontakt_berater_a_a" />
			</label>
				<span class="propdat">{teilnehmer.kontaktBeraterAA}</span>
		</div>
		<div class="tp13_formdivwebapp">
			<label for="kundennummerAA">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.kundennummer_a_a" />
			</label>
				<span class="propdat">{teilnehmer.kundennummerAA}</span>
		</div>
</div>

<div class="fframe"><h2>Datenweitergabe anerkennende Stelle</h2>
  <div class="tp13_formdivwebapp">
				<label for="einwAnerkstelle">
					<f:translate key="tx_iqtp13db_domain_model_teilnehmer.einw_anerkstelle" />
				</label>
				<span class="propdat"><f:if condition="{teilnehmer.einwAnerkstelle} == 1"><f:then>
					<f:translate key="ja" />
				</f:then>
				<f:else>
					<f:translate key="nein" />
				</f:else>
				</f:if></span>
			</div>
      
      <div class="tp13_formdivwebapp">
  			<label for="einwAnerkstelledatum">
  				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.einw_anerkstelledatum" />
  			</label>
  				<span class="propdat">{teilnehmer.einwAnerkstelledatum}</span>
  		</div>

      <div class="tp13_formdivwebapp">
  			<label for="einwAnerkstellemedium">
  				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.einw_anerkstellemedium" />
  			</label>
  				<f:for each="{teilnehmer.einwAnerkstellemedium}" as="text" key="wert">				
					<f:for each="{settings.einwilligungaamedium}" as="textset" key="wertset">					
						{f:if(condition: '{text} == {wertset}', then: '<span class="propdat">{textset}</span>')}
					</f:for>
				</f:for>
  		</div>
      
		<div class="tp13_formdivwebapp">
			<label for="einwAnerkstellename">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.einw_anerkstellename" />
			</label>
				<span class="propdat">{teilnehmer.einwAnerkstellename}</span>
		</div>
		<div class="tp13_formdivwebapp">
			<label for="einwAnerkstellekontakt">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.einw_anerkstellekontakt" />
			</label>
				<span class="propdat">{teilnehmer.einwAnerkstellekontakt}</span>
		</div>
	
	</div>
	
	
<div class="fframe"><h2><f:translate key="datenweitereperson" /></h2>
  <div class="tp13_formdivwebapp">
				<label for="einwPerson">
					<f:translate key="tx_iqtp13db_domain_model_teilnehmer.einw_person" />
				</label>
				<span class="propdat"><f:if condition="{teilnehmer.einwPerson} == 1"><f:then>
					<f:translate key="ja" />
				</f:then>
				<f:else>
					<f:translate key="nein" />
				</f:else>
				</f:if></span>
			</div>
      
      <div class="tp13_formdivwebapp">
  			<label for="einwPersondatum">
  				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.einw_persondatum" />
  			</label>
  				<span class="propdat">{teilnehmer.einwPersondatum}</span>
  		</div>

      <div class="tp13_formdivwebapp">
  			<label for="einwPersonmedium">
  				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.einw_personmedium" />
  			</label>
  				<f:for each="{teilnehmer.einwPersonmedium}" as="text" key="wert">				
					<f:for each="{settings.einwilligungweiterepersonmedium}" as="textset" key="wertset">					
						{f:if(condition: '{text} == {wertset}', then: '<span class="propdat">{textset}</span>')}
					</f:for>
				</f:for>
  		</div>
      
		<div class="tp13_formdivwebapp">
			<label for="einwPersonname">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.einw_personname" />
			</label>
				<span class="propdat">{teilnehmer.einwPersonname}</span>
		</div>
		<div class="tp13_formdivwebapp">
			<label for="einwPersonkontakt">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.einw_personkontakt" />
			</label>
				<span class="propdat">{teilnehmer.einwPersonkontakt}</span>
		</div>
	
</div>

<div class="fframe"><h2><f:translate key="beratung" /></h2>
	<div class="tp13_formdivwebapp">
		<label for="nameBeratungsstelle">
			<f:translate key="tx_iqtp13db_domain_model_teilnehmer.name_beratungsstelle" />
		</label>
			<f:for each="{settings.beratungsstelle}" as="text" key="wert">
				{f:if(condition: '{teilnehmer.nameBeratungsstelle} == {wert}', then: '<span class="propdat">{text}</span>')}					 
			</f:for>
	</div>
	<div class="tp13_formdivwebapp">
  			<label for="wieberaten">
  				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.wieberaten" />
  			</label>
			<f:for each="{teilnehmer.wieberaten}" as="wieberaten">
				<f:for each="{settings.wieberaten}" as="text" key="wert">
					{f:if(condition: '{wieberaten} == {wert}', then: '<span class="propdat">{text}</span>')}
				</f:for>
			</f:for>	
 	</div>
	<div class="tp13_formdivwebapp">
		<label for="notizen">
			<f:translate key="tx_iqtp13db_domain_model_teilnehmer.notizen" />
		</label>
			<span class="propdat"><f:format.html>{teilnehmer.notizen}</f:format.html></span>
	</div>
	<div class="tp13_formdivwebapp">
				<label for="einwilligunginfo">
					<f:translate key="tx_iqtp13db_domain_model_teilnehmer.einwilligunginfo" />
				</label>
				<span class="propdat"><f:if condition="{teilnehmer.einwilligunginfo} == 1"><f:then>
					<f:translate key="ja" />
				</f:then>
				<f:else>
					<f:translate key="nein" />
				</f:else>
				</f:if></span>
	</div>		
	<div id="divniqchiffre" class="tp13_formdivwebapp">
		<label for="niqchiffre">
			<f:translate key="tx_iqtp13db_domain_model_teilnehmer.niqchiffre" />
		</label>
			<span class="propdat"><f:format.html>{teilnehmer.niqchiffre}</f:format.html></span>
	</div>
</div>

<div class="fframe"><h2>Erstberatung</h2>
		<div class="tp13_formdivwebapp">
			<label for="datum">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.beratungdatum" />
			</label>
				<span class="propdat"><f:if condition="{teilnehmer.beratungdatum} != '0000-00-00'">{teilnehmer.beratungdatum -> f:format.date(format: 'd.m.Y')}</f:if></span>
		</div>
		<div class="tp13_formdivwebapp">
			<label for="berater">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.berater" />
			</label>
				<span class="propdat">{teilnehmer.berater.username}</span>
		</div>
		<div class="tp13_formdivwebapp">
			<label for="beratungsart">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.beratungsart" />
			</label>
			<f:for each="{teilnehmer.beratungsart}" as="beratungart">
				<f:for each="{settings.beratungsart}" as="text" key="wert">
					{f:if(condition: '{beratungart} == {wert}', then: '<span class="propdat">{text}</span>')}
				</f:for>
			</f:for>		
		</div>
		<f:for each="{beratungsart}" as="beratungart">
		<f:if condition="{beratungart} == 1"><f:then>
			<div class="tp13_formdivwebapp">
				<label for="beratungsartfreitext">
					<f:translate key="tx_iqtp13db_domain_model_teilnehmer.beratungsartfreitext" />
				</label>
					<span class="propdat">{teilnehmer.beratungartfreitext}</span>
			</div>
			<div class="tp13_formdivwebapp">
				<label for="beratungsort">
					<f:translate key="tx_iqtp13db_domain_model_teilnehmer.beratungsort" />
				</label>
					<span class="propdat">{teilnehmer.beratungsort}</span>
			</div>
		</f:then>
		</f:if>
		</f:for>
		<div class="tp13_formdivwebapp">
			<label for="beratungsdauer">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.beratungsdauer" />
			</label>
				<span class="propdat">{teilnehmer.beratungsdauer}</span>
		</div>		
		<div class="tp13_formdivwebapp">
			<label for="anerkennendestellen">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.anerkennendestellen" />
			</label>
			<span class="propdat">{teilnehmer.anerkennendestellen}</span>
		</div>
		<div class="tp13_formdivwebapp">
			<label for="anerkennungsberatung">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.anerkennungsberatung" />
			</label>
			<f:for each="{teilnehmer.anerkennungsberatung}" as="anerkennungsberatung">
				<f:for each="{settings.anerkennungsberatung}" as="text" key="wert">
					{f:if(condition: '{anerkennungsberatung} == {wert}', then: '<span class="propdat">{text}</span><br>')}
				</f:for>
			</f:for>	
		</div>
		<div class="tp13_formdivwebapp">
			<label for="anerkennungsberatungfreitext">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.anerkennungsberatungfreitext" />
			</label>
			<span class="propdat">{teilnehmer.anerkennungsberatungfreitext}</span>
		</div>
		<div class="tp13_formdivwebapp">
			<label for="qualifizierungsberatung">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.qualifizierungsberatung" />
			</label>
			<f:for each="{teilnehmer.qualifizierungsberatung}" as="qualifizierungsberatung">
				<f:for each="{settings.qualifizierungsberatung}" as="text" key="wert">
					{f:if(condition: '{qualifizierungsberatung} == {wert}', then: '<span class="propdat">{text}</span><br>')}
				</f:for>
			</f:for>			
		</div>
		<div class="tp13_formdivwebapp">
			<label for="qualifizierungsberatungfreitext">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.qualifizierungsberatungfreitext" />
			</label>
			<span class="propdat">{teilnehmer.qualifizierungsberatungfreitext}</span>
		</div>
		
		<div class="tp13_formdivwebapp">
			<label for="beratungzu">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.beratungzu" />
			</label>
			<span class="propdat"><f:format.html>{f:if(condition: '{teilnehmer.beratungzu} == 1', then: 'Ja', else: 'Nein')}</f:format.html></span>
		</div>
		<div class="tp13_formdivwebapp">
			<label for="anerkennungszuschussbeantragt">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.anerkennungszuschussbeantragt" />
			</label>
			<span class="propdat"><f:format.html>{f:if(condition: '{teilnehmer.anerkennungszuschussbeantragt} == 1', then: 'Ja', else: 'Nein')}</f:format.html></span>
		</div>		
		<div class="tp13_formdivwebapp">
			<label for="kooperationgruppe">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.kooperationgruppe" />
			</label>
			<span class="propdat"><f:format.html>{teilnehmer.kooperationgruppe}</f:format.html></span>
		</div>
	
		<div class="tp13_formdivwebapp">
			<label for="notizen">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.beratungnotizen" />
			</label>
			<span class="propdat">{teilnehmer.beratungnotizen}</span>
		</div>
		<div class="tp13_formdivwebapp">
			<label for="erstberatungabgeschlossen">
				<f:translate key="tx_iqtp13db_domain_model_teilnehmer.erstberatungabgeschlossen" />
			</label>
			<span class="propdat"><f:if condition="{teilnehmer.beratungdatum} != '0000-00-00'">{teilnehmer.erstberatungabgeschlossen -> f:format.date(format: 'd.m.Y')}</f:if></span>		
		</div>
</div>
<b>Verification Code:</b> {teilnehmer.verificationCode} <b>VerificationIP:</b> {teilnehmer.verificationIp} <b>VerificationDate:</b> <f:format.date format="d.m.Y - H:i">{teilnehmer.verificationDate}</f:format.date><br>

