<f:section name="HeaderAssets">
  		<link rel="stylesheet" href="{f:uri.resource(path: 'CSS/customtp13dbadmin.css')}"/>  		
</f:section>

<f:layout name="DefaultBackend" />

<f:section name="main">

<f:if condition="{firstcolheader} != ''">
<f:then>
	<script>
		(function($) {
		    $(document).ready(function() {
		    	location.href = "#berufstaatstatsframe"; 
		    });
		})(jQuery);		
	</script>
</f:then>
</f:if>

<f:flashMessages />

<div class="uebersicht-beratungsstelle">
	<div><span class="label-beratungsstelle">Anzahl Beratungsstellen gesamt:</span> <span class="value-beratungsstelle">{anzberatungsstellen}</span></div>
	<div><span class="label-beratungsstelle">Anzahl Berater:innen gesamt:</span> <span class="value-beratungsstelle">{anzalleberater}</span></div>	
</div>

<h1>Beratungsstellen-Ansicht wechseln</h1>

<div class="beratungsstellenwechsel">
	<f:form method="post" controller="Administration" action="adminuebersicht" name="switchberatungsstelle" enctype="multipart/form-data" >
		<label for="beratungsstellenauswahl">
			Auswahl Beratungsstelle
		</label>
		<f:form.select name="bstellen" id="selectbstelle" options="{alleberatungsstellensortiert}" optionValueField="niqbid" optionLabelField="title" value="{niqbidselected}"/>
		<f:if condition="{anzuserberatungsstellen} > 1"><f:form.button class="linkbuttons abbruchbtn" type="submit" name="remove" value="Wechselmodus aus" id="removebs" >Wechselmodus aus</f:form.button></f:if>	
	</f:form>
</div>


<h1>Beratungsstellen</h1>

<table class="beratungsstellen">
	<th>Name Beratungsstelle</th>
	<th>Bundesland</th>
	<th>NIQBID</th>
	<th>Anzahl Berater:innen</th>
	<th>Anzahl Angemeldet (unbestätigt)</th>
	<th>Anzahl Angemeldet (bestätigt)</th>
	<th>Anzahl in Beratung</th>
	<th>Anzahl im Archiv</th>
	<f:for each="{alleberatungsstellen}" as="beratungsstelle" iteration="iter">
		<tr>
			<td>{beratungsstelle.title} {f:if(condition:'{beratungsstelle.nichtiq} == 1',then: '<b>(Nicht IQ)</b>')}</td>
			<td>{beratungsstelle.bundesland}</td>
			<td>{beratungsstelle.niqbid}</td>
			<td>{anzberater.{beratungsstelle.uid}}</td>
			<td>{anzratsuchendeanmeld0.{beratungsstelle.uid}}</td>
			<td style="background-color: #7a970133;">{anzratsuchendeanmeld1.{beratungsstelle.uid}}</td>
			<td>{anzratsuchendeerstb.{beratungsstelle.uid}}</td>
			<td>{anzratsuchendearch.{beratungsstelle.uid}}</td>
		</tr>
	</f:for>
	
</table>

<h1>Anmeldungen (nur bestätigte) letzte 7 Tage</h1>
<table>
	<tbody>
	<tr>
		<f:for each="{neuanmeldungen7tage}" as="neuanmeld" iteration="iter">
			<th>{neuanmeld.tag}</th>
		</f:for>
	</tr>
	<tr>
		<f:for each="{neuanmeldungen7tage}" as="neuanmeld" iteration="iter">
			<td>{neuanmeld.wert}</td>
		</f:for>
	</tr>
	</tbody>
</table>

<h1>Statistik aktuell</h1>
<table>
	<tbody>
	<tr>
		<th>Anmeldungen wartend (davon bestätigt/unbestätigt)</th>
		<th>Erstberatungen laufend</th>
		<th>Erstberatungen abgeschlossen</th>
		<th>Total archiviert</th>
	</tr>
	<tr>
		<td>{aktuelleanmeldungen} ({aktuelleanmeldungenbestaetigt}/{aktuelleanmeldungenunbestaetigt})</td>
		<td>{aktuellerstberatungen}</td>
		<td>{aktuellberatungenfertig}</td>
		<td>{archivierttotal}</td>
	</tr>
	</tbody>
</table>

<h1>Statistik gesamt</h1>
<table>
	<tbody>
	<tr>
		<th>Ratsuchende (nur bestätigt)</th>
		<th>davon fertig beraten</th>
		<th>davon fertig beraten und archiviert</th>
	</tr>
	<tr>
		<td>{statsgesamtratsuchende}</td>
		<td>{statsgesamtfertigberaten}</td>
		<td>{statsgesamtarchiviert}</td>
	</tr>
	</tbody>
</table>

<h2>Statistik letzte 12 Monate alle Beratungsstellen</h2>
<f:form method="post" controller="Administration" action="adminuebersicht" name="switchbundesland" enctype="multipart/form-data" >
		<label for="bundeslandauswahl">
			Auswahl Bundesland
		</label>
		<f:form.select name="bundeslandauswahl" id="selectbundesland" options="{allebundeslaender}" optionValueField="bundesland" optionLabelField="bundesland" prependOptionValue="%" prependOptionLabel="-alle-" value="{bundeslandselected}"/>
</f:form>
<br>
<table class="uebersicht-statistik">
	<tr>
		<th></th>
		<f:for each="{monatsnamen}" as="monat" iteration="iter">
			<th {f:if(condition: '{iter.index} == {aktmonat}', then: 'style="background-color: #ffcaf2;"')}> {monat} {f:if(condition: '{iter.index} > {aktmonat}', then: '{letztesjahr}', else: '{diesesjahr}')}</th>
		</f:for>
		<th>Summe</th>
	</tr>
	<tr>
		<th>Anmeldungen</th>
		<f:for each="{angemeldeteTN}" as="tn" iteration="iter">
			<td {f:if(condition: '{iter.index} == {aktmonat}', then: 'style="background-color: #ffcaf2;"')}>{tn}</td>
		</f:for>
		<td>{SUMangemeldeteTN}</td>
	</tr>
	<tr>
		<th>Erstberatungen</th>
		<f:for each="{erstberatung}" as="eb" iteration="iter">
			<td {f:if(condition: '{iter.index} == {aktmonat}', then: 'style="background-color: #ffcaf2;"')}>{eb}</td>
		</f:for>
		<td>{SUMerstberatung}</td>
	</tr>
	<tr>
		<th>Folgekontakte</th>
		<f:for each="{qfolgekontakte}" as="qf" iteration="iter">
			<td {f:if(condition: '{iter.index} == {aktmonat}', then: 'style="background-color: #ffcaf2;"')}>{qf}</td>
		</f:for>
		<td>{SUMqfolgekontakte}</td>
	</tr>
	<tr>
		<th>Beratungen fertig</th>
		<f:for each="{beratungfertig}" as="bf" iteration="iter">
			<td {f:if(condition: '{iter.index} == {aktmonat}', then: 'style="background-color: #ffcaf2;"')}>{bf}</td>
		</f:for>
		<td>{SUMberatungfertig}</td>
	</tr>
	<tr>
		<th>davon NIQ erfasst</th>
		<f:for each="{niqerfasst}" as="ni" iteration="iter">
			<td {f:if(condition: '{iter.index} == {aktmonat}', then: 'style="background-color: #ffcaf2;"')}>{ni}</td>
		</f:for>
		<td>{SUMniqerfasst}</td>
	</tr>
		<tr>
		<th>&Oslash; Tage Wartezeit</th>
		<f:for each="{totalavgmonthw}" as="avgw" iteration="iter">
			<td {f:if(condition: '{iter.index} == {aktmonat}', then: 'style="background-color: #ffcaf2;"')}><f:format.number>{avgw}</f:format.number></td>
		</f:for>
		<td><f:format.number>{SUMtotalavgmonthw}</f:format.number></td>
	</tr>
	</tr>
		<tr>
		<th>&Oslash; Tage Beratungsdauer</th>
		<f:for each="{totalavgmonthb}" as="avgb" iteration="iter">
			<td {f:if(condition: '{iter.index} == {aktmonat}', then: 'style="background-color: #ffcaf2;"')}><f:format.number>{avgb}</f:format.number></td>
		</f:for>
		<td><f:format.number>{SUMtotalavgmonthb}</f:format.number></td>
	</tr>
</table>

<h1>Statistik nach Beruf / Staatsangehörigkeit</h1>
<div class="filterframe exportfilterform" id="berufstaatstatsframe">
	<f:form class="statsform" method="post" controller="Administration" action="adminuebersicht" name="berufstaatstats" >
			Auswahl Bundesland: <f:form.select name="filterbundesland" options="{allebundeslaender}" optionValueField="bundesland" optionLabelField="bundesland" prependOptionValue="%" prependOptionLabel="-alle-" value="{filterbundesland}"/>
			Auswahl Status: <f:form.select value="{filterberatungsstatus}" name="filterberatungsstatus" options="{beratungsstatusarr}" optionValueField="key" optionLabelField="value" />
			von: <f:form.textfield size="10" id="datepickerfiltervon" value="{filtervon}" name="filtervon" />
			bis: <f:form.textfield size="10" id="datepickerfilterbis" value="{filterbis}" name="filterbis" />				
			<br>
			Auswahl Erste Staatsangehörigkeit: <f:form.select name="filterstaat" options="{staatenarr}" optionValueField="key" optionLabelField="value" prependOptionValue="%" prependOptionLabel="-alle-" value="{filterstaat}"/>
			Auswahl Beruf/Abschluss: <f:form.select name="filterberuf" options="{berufearr}" optionValueField="key" optionLabelField="value" prependOptionValue="%" prependOptionLabel="-alle-" value="{filterberuf}"/>
			<br>
			<f:form.button id="linkloadoverlay-export" type="submit" name="showstats">Statistik anzeigen</f:form.button>
	</f:form>
</div>

<f:if condition="{firstcolheader} != ''">
<f:then>
	<div id="statistikoutput">
		<table>
			<tbody>
			<tr>
				<th></th>
				<th>{firstcolheader}</th>
				<th>Anzahl</th>
				<th>Anteil</th>
			</tr>
			<f:for each="{ausgabearray}" as="element" key="key">
				<tr>
					<td>{key + 1}</td>
					<td>{element.titel}</td>
					<td>{element.anz}</td>
					<td><f:format.number decimals="1" decimalSeparator="," thousandsSeparator=".">{element.anteil}</f:format.number> %</td>
				</tr>
			</f:for>
			</tbody>
		</table>
	</div>
	<b>Gesamtzahl: {anzgesamt}</b><pre>(Anm.: In der Tabelle werden nur die ersten 20 Werte ausgegeben.)</pre>
</f:then>
</f:if>

<h2>Letzte 50 Anmeldungen</h2>
<div class="pretablediv">
	<table class="tx_iqtp13db listangemeldet" >
		<tr>
			<th>UID</th>
			<th><f:translate key="tx_iqtp13db_domain_model_teilnehmer.nachname" /></th>
			<th><f:translate key="tx_iqtp13db_domain_model_teilnehmer.vorname" /></th>
			<th>Timestamp</th>
			<th>Anmeldedatum</th>
			<th>Beratungsstelle</th>
			<th>Beratungsstatus</th>
			<th>PLZ</th>
			<th>Ort</th>
			<th>E-Mail</th>
			<th>Gruppe</th>
		</tr>

		<f:for each="{letzteanmeldungen}" as="teilnehmer" iteration="it">
			<f:if condition="{teilnehmer.verificationDate} != 0"><f:then>
				<tr class="bestaetigt">
			</f:then>
			<f:else>
				{f:if(condition: "{teilnehmer.verificationDate} == 0 AND {teilnehmer.beratungdatum} != ''", then: '<tr class="unbestaetigt-beraten">', else: '<tr>')}	
			</f:else>
			</f:if>
				<td><f:link.action action="show" controller="Teilnehmer" arguments="{teilnehmer : teilnehmer, calleraction: 'adminuebersicht', callercontroller : 'Administration'}">{teilnehmer.uid}</f:link.action></td>
				<td><f:link.action action="show" controller="Teilnehmer" arguments="{teilnehmer : teilnehmer, calleraction: 'adminuebersicht', callercontroller : 'Administration'}">{teilnehmer.nachname}</f:link.action></td>
				<td><f:link.action action="show" controller="Teilnehmer" arguments="{teilnehmer : teilnehmer, calleraction: 'adminuebersicht', callercontroller : 'Administration'}">{teilnehmer.vorname}</f:link.action></td>
				<td class="tdcenter">{f:format.date(date: teilnehmer.tstamp, format:"d.m.Y H:i:s")}</td>
				<td class="tdcenter">{f:if(condition: '{teilnehmer.verificationDate} == 0', then: 'unbestätigt', else: '{f:format.date(date: teilnehmer.verificationDate, format:"d.m.Y H:i:s")}')}</td>
				<td>{teilnehmer.niqidberatungsstelle}</td>
				<td>{teilnehmer.beratungsstatus} = 
				{f:if(condition: '{teilnehmer.beratungsstatus} == 99', then: 'im Anmeldeformular')}
				{f:if(condition: '{teilnehmer.beratungsstatus} == 0', then: 'nicht bestätigt')}
				{f:if(condition: '{teilnehmer.beratungsstatus} == 1', then: 'bestätigt')}
				{f:if(condition: '{teilnehmer.beratungsstatus} == 2', then: 'in Beratung')}
				{f:if(condition: '{teilnehmer.beratungsstatus} == 3', then: 'Beratung fertig')}
				{f:if(condition: '{teilnehmer.beratungsstatus} == 4', then: 'archiviert')}</td>
				<td>{teilnehmer.plz}</td>
				<td>{teilnehmer.ort}</td>
				<td>{teilnehmer.email}</td>
				<td>{teilnehmer.kooperationgruppe}</td>
			</tr>
		</f:for>
	</table>
</div>

<h1>Doppelte PLZ zugewiesen</h1>
<table>
	<tbody>
	<tr>
		<th>PLZ</th>
		<th>Beratungsstellen</th>
	</tr>
	<f:for each="{doppelteplzarray}" as="plzeintrag" key="plz">
		<tr>
			<td>{plz}</td>
			<td><f:for each="{plzeintrag}" as="bst">{bst.title} ({bst.niqbid}), </f:for></td>
		</tr>
	</f:for>
	</tbody>
</table>
</f:section>