<f:section name="HeaderAssets">
  		<link rel="stylesheet" href="{f:uri.resource(path: 'CSS/customtp13dbadmin.css')}"/>  		
</f:section>

<f:layout name="DefaultBackend" />

<f:section name="main">

<f:if condition="{firstcolheader} != ''">
<f:then>
	<script>
		(function($) {
		    $(document).ready(function() {
		    	location.href = "#berufstaatstatsframe"; 
		    });
		})(jQuery);		
	</script>
</f:then>
</f:if>

<f:flashMessages />

<div class="uebersicht-beratungsstelle">
	<div><span class="label-beratungsstelle">Anzahl Beratungsstellen gesamt:</span> <span class="value-beratungsstelle">{anzberatungsstellen}</span></div>
	<div><span class="label-beratungsstelle">Anzahl Berater:innen gesamt:</span> <span class="value-beratungsstelle">{anzalleberater}</span></div>	
</div>

<h1>Beratungsstellen-Ansicht wechseln</h1>

<div class="beratungsstellenwechsel">
	<f:form method="post" controller="Administration" action="adminuebersicht" name="switchberatungsstelle" enctype="multipart/form-data" >
		<label for="beratungsstellenauswahl">
			Auswahl Beratungsstelle
		</label>
		<f:form.select name="bstellen" id="selectbstelle" options="{alleberatungsstellensortiert}" optionValueField="niqbid" optionLabelField="title" value="{niqbid}"/>
		<f:if condition="{anzuserberatungsstellen} > 1"><f:form.button class="linkbuttons abbruchbtn" type="submit" name="remove" value="Wechselmodus aus" id="removebs" >Wechselmodus aus</f:form.button></f:if>	
	</f:form>
</div>

<details>
	<summary class="backend-summary">Alle Beratungsstellen</summary>
	<table class="beratungsstellen">	
		<th>Name Beratungsstelle</th>
		<th>Bundesland</th>
		<th>NIQBID</th>
		<th>Anzahl Berater:innen</th>
		<th>Anzahl Angemeldet (unbestätigt)</th>
		<th>Anzahl Angemeldet (bestätigt)</th>
		<th>Anzahl in Beratung</th>
		<th>Anzahl im Archiv</th>
		<f:for each="{alleberatungsstellen}" as="beratungsstelle" iteration="iter">
			<tr>
				<td>{beratungsstelle.title} {f:if(condition:'{beratungsstelle.nichtiq} == 1',then: '<b>(Nicht IQ)</b>')}</td>
				<td>{beratungsstelle.bundesland}</td>
				<td>{beratungsstelle.niqbid}</td>
				<td>{anzberater.{beratungsstelle.uid}}</td>
				<td>{anzratsuchendeanmeld0.{beratungsstelle.uid}}</td>
				<td style="background-color: #7a970133;">{anzratsuchendeanmeld1.{beratungsstelle.uid}}</td>
				<td>{anzratsuchendeerstb.{beratungsstelle.uid}}</td>
				<td>{anzratsuchendearch.{beratungsstelle.uid}}</td>
			</tr>
		</f:for>
	</table>
</details>
<br>
<h2>UID Abfrage</h2>
<div>
<f:form method="post" controller="Administration" action="adminuebersicht" name="checkuid" enctype="multipart/form-data" >
	<label>Eingabe UID oder E-Mail-Adresse</label>
	<f:form.textfield name="uideingabe"/>
	<f:form.button type="submit" class="linkbuttons" name="zeigeTN">Suche</f:form.button>
</f:form>
<f:if condition="{tndaten}">
	<div style="background-color: #6060601c; margin-top: 1rem; width: 60rem; padding: 1rem">
		<table>
		<th>UID</th>
		<th>Name Beratungsstelle</th>
		<th>Beratungsstatus</th>
		<th>Nachname</th>
		<th>Vorname</th>
		<th>E-Mail</th>
		<th>Datum Anmeldung</th>
		<th>Datum Beratung abgeschlossen</th>
		<tr>
			<td>{tndaten.uid}</td>
		 	<td>{tndaten.beratungsstelle}</td>
            <td>{tndaten.beratungsstatus}</td>
            <td>{tndaten.nachname}</td>
            <td>{tndaten.vorname}</td>
            <td>{tndaten.email}</td>
			<td><f:format.date format="d.m.Y">{tndaten.anmeldedatum}</f:format.date></td>
			<td><f:format.date format="d.m.Y">{tndaten.erstberatungabgeschlossen}</f:format.date></td>
		</tr>
	</table>

	</div>
</f:if>
</div>

<h1>Übersicht Statistik</h1>
<table>
	<tbody>
	<tr>
		<th colspan="8">
			Anmeldungen (nur bestätigte) letzte 7 Tage
		</th>
	</tr>
	<tr>
		<f:for each="{neuanmeldungen7tage}" as="neuanmeld" iteration="iter">
			<th>{neuanmeld.tag}</th>
		</f:for>
	</tr>
	<tr>
		<f:for each="{neuanmeldungen7tage}" as="neuanmeld" iteration="iter">
			<td>{neuanmeld.wert}</td>
		</f:for>
	</tr>
	</tbody>
</table>
<table>
	<tbody>
	<tr>
		<th>Anmeldungen wartend (davon bestätigt/unbestätigt)</th>
		<th>Erstberatungen laufend</th>
		<th>Erstberatungen abgeschlossen</th>
		<th>Total archiviert</th>
	</tr>
	<tr>
		<td>{aktuelleanmeldungen} ({aktuelleanmeldungenbestaetigt}/{aktuelleanmeldungenunbestaetigt})</td>
		<td>{aktuellerstberatungen}</td>
		<td>{aktuellberatungenfertig}</td>
		<td>{archivierttotal}</td>
	</tr>
	</tbody>
</table>
<table>
	<tbody>
	<tr>
		<th>Ratsuchende (nur bestätigt)</th>
		<th>davon fertig beraten</th>
		<th>davon fertig beraten und archiviert</th>
	</tr>
	<tr>
		<td>{statsgesamtratsuchende}</td>
		<td>{statsgesamtfertigberaten}</td>
		<td>{statsgesamtarchiviert}</td>
	</tr>
	</tbody>
</table>
<br>
<div class="filterframe">
	<h2>Jahres-Statistik</h2>
	<f:form class="filterform" method="post" controller="Administration" action="adminuebersicht" name="switchbundesland" enctype="multipart/form-data" >		
			Bundesland:
			<f:form.select name="bundeslandauswahl" options="{allebundeslaender}" optionValueField="bundesland" optionLabelField="bundesland" prependOptionValue="%" prependOptionLabel="-alle-" value="{bundeslandselected}"/>
			Jahr:
			<f:form.select name="jahrauswahl" options="{jahrauswahl}" prependOptionValue="0" prependOptionLabel="-letzte 12 Monate-" value="{jahrselected}"/>
			Erste Staatsangehörigkeit: 
			<f:form.select name="filterstaat" options="{staatenarr}" optionValueField="key" optionLabelField="value" prependOptionValue="%" prependOptionLabel="-alle-" value="{filterstaat}"/>			
			Beratungsstelle:
			<f:form.select name="filterbstelle" options="{alleberatungsstellensortiert}" optionValueField="niqbid" optionLabelField="title" prependOptionValue="%" prependOptionLabel="-alle-" value="{filterniqbid}"/>
			<div style=" ">
				<f:form.button id="linkloadoverlay-export" type="submit" name="showstats">Statistik anzeigen</f:form.button>
				<f:form.button id="linkloadoverlay-export" type="submit" name="statsexport">Statistik exportieren</f:form.button>
			</div>		
	</f:form>
</div>

<table class="uebersicht-statistik">
	<tr>
		<th></th>
		<f:for each="{monatsnamen}" as="monat" iteration="iter">
			<th {f:if(condition: '{iter.index} == {aktmonat}', then: 'style="background-color: #ffcaf2;"')}> {monat}</th>
		</f:for>
		<th>Summe</th>
	</tr>
	<tr>
		<th>Anmeldungen</th>
		<f:for each="{angemeldeteTN}" as="tn" iteration="iter">
			<td {f:if(condition: '{iter.index} == {aktmonat}', then: 'style="background-color: #ffcaf2;"')}>{tn}</td>
		</f:for>
		<td>{SUMangemeldeteTN}</td>
	</tr>
	<tr>
		<th>Erstberatungen</th>
		<f:for each="{erstberatung}" as="eb" iteration="iter">
			<td {f:if(condition: '{iter.index} == {aktmonat}', then: 'style="background-color: #ffcaf2;"')}>{eb}</td>
		</f:for>
		<td>{SUMerstberatung}</td>
	</tr>
	<tr>
		<th>Folgekontakte</th>
		<f:for each="{qfolgekontakte}" as="qf" iteration="iter">
			<td {f:if(condition: '{iter.index} == {aktmonat}', then: 'style="background-color: #ffcaf2;"')}>{qf}</td>
		</f:for>
		<td>{SUMqfolgekontakte}</td>
	</tr>
	<tr>
		<th>Beratungen fertig</th>
		<f:for each="{beratungfertig}" as="bf" iteration="iter">
			<td {f:if(condition: '{iter.index} == {aktmonat}', then: 'style="background-color: #ffcaf2;"')}>{bf}</td>
		</f:for>
		<td>{SUMberatungfertig}</td>
	</tr>
	<tr>
		<th>&Oslash; Tage Wartezeit</th>
		<f:for each="{totalavgmonthw}" as="avgw" iteration="iter">
			<td {f:if(condition: '{iter.index} == {aktmonat}', then: 'style="background-color: #ffcaf2;"')}><f:format.number>{avgw}</f:format.number></td>
		</f:for>
		<td><f:format.number>{SUMtotalavgmonthw}</f:format.number></td>
	</tr>
	</tr>
		<tr>
		<th>&Oslash; Tage Beratungsdauer</th>
		<f:for each="{totalavgmonthb}" as="avgb" iteration="iter">
			<td {f:if(condition: '{iter.index} == {aktmonat}', then: 'style="background-color: #ffcaf2;"')}><f:format.number>{avgb}</f:format.number></td>
		</f:for>
		<td><f:format.number>{SUMtotalavgmonthb}</f:format.number></td>
	</tr>
</table>

<f:if condition="{abschlussartanmeldungen}">
	<f:then>
		<table>
			<tr>
				<th>Abschlussart alle Anmeldungen {f:if(condition: '{jahrselected} == 99', then: 'seit 01/2023', else: 'in {jahrselected}')}</th><th>Anzahl</th>
			</tr>
			<f:for each="{abschlussartanmeldungen}" as="abschlussart" iteration="iter">
				<tr><td>{arrabschlussart.{abschlussart.abschlussart}}</td><td>{abschlussart.anz}</td></tr>
			</f:for>
		</table>
	</f:then>
</f:if>
<f:if condition="{abschlussartberatungabgeschl}">
	<f:then>
		<table>
			<tr>
				<th>Abschlussart alle Beratenen {f:if(condition: '{jahrselected} == 99', then: 'seit 01/2023', else: 'in {jahrselected}')}</th><th>Anzahl</th>
			</tr>
			<f:for each="{abschlussartberatungabgeschl}" as="abschlussart" iteration="iter">
				<tr><td>{arrabschlussart.{abschlussart.abschlussart}}</td><td>{abschlussart.anz}</td></tr>
			</f:for>
		</table>
	</f:then>
</f:if>
<f:if condition="{herkunftanmeldungen}">
	<f:then>
		<br>
		<table>
			<tr>
				<th>Herkunft alle Anmeldungen {f:if(condition: '{jahrselected} == 99', then: 'seit 01/2023', else: 'in {jahrselected}')}</th><th>Anzahl</th>
			</tr>
			<f:for each="{herkunftanmeldungen}" as="herkunft" iteration="iter">
				<tr><td>{herkunft.titel}</td><td>{herkunft.anz}</td></tr>
			</f:for>
		</table>
	</f:then>
</f:if>
<f:if condition="{herkunftberatungabgeschl}">
	<f:then>
		<table>
			<tr>
				<th>Herkunft alle Beratenen {f:if(condition: '{jahrselected} == 99', then: 'seit 01/2023', else: 'in {jahrselected}')}</th><th>Anzahl</th>
			</tr>
			<f:for each="{herkunftberatungabgeschl}" as="herkunft" iteration="iter">
				<tr><td>{herkunft.titel}</td><td>{herkunft.anz}</td></tr>
			</f:for>
		</table>
	</f:then>
</f:if>
<f:if condition="{berufeanmeldungen}">
	<f:then>
		<br>
		<table>
			<tr>
				<th>Berufe/Abschlüsse alle Anmeldungen {f:if(condition: '{jahrselected} == 99', then: 'seit 01/2023', else: 'in {jahrselected}')}</th><th>Anzahl</th>
			</tr>
			<f:for each="{berufeanmeldungen}" as="berufe" iteration="iter">
				<tr><td>{berufe.titel}</td><td>{berufe.anz}</td></tr>
			</f:for>
		</table>
	</f:then>
</f:if>
<f:if condition="{berufeberatungabgeschl}">
	<f:then>
		<table>
			<tr>
				<th>Berufe/Abschlüsse alle Beratenen {f:if(condition: '{jahrselected} == 99', then: 'seit 01/2023', else: 'in {jahrselected}')}</th><th>Anzahl</th>
			</tr>
			<f:for each="{berufeberatungabgeschl}" as="berufe" iteration="iter">
				<tr><td>{berufe.titel}</td><td>{berufe.anz}</td></tr>
			</f:for>
		</table>
	</f:then>
</f:if>

<f:if condition="{brancheanmeldungen}">
	<f:then>
		<br>
		<table>
			<tr>
				<th>Branchen alle Anmeldungen {f:if(condition: '{jahrselected} == 99', then: 'seit 01/2023', else: 'in {jahrselected}')}</th><th>Anzahl</th>
			</tr>
			<f:for each="{brancheanmeldungen}" as="branche" iteration="iter">
				<tr><td>{branche.titel}</td><td>{branche.anz}</td></tr>
			</f:for>
		</table>
	</f:then>
</f:if>
<f:if condition="{brancheberatungabgeschl}">
	<f:then>
		<table>
			<tr>
				<th>Branchen alle Beratenen {f:if(condition: '{jahrselected} == 99', then: 'seit 01/2023', else: 'in {jahrselected}')}</th><th>Anzahl</th>
			</tr>
			<f:for each="{brancheberatungabgeschl}" as="branche" iteration="iter">
				<tr><td>{branche.titel}</td><td>{branche.anz}</td></tr>
			</f:for>
		</table>
	</f:then>
</f:if>

<f:if condition="{geschlechtartanmeldungen}">
	<f:then>
		<br>
		<table>
			<tr>
				<th>Geschlecht alle Anmeldungen {f:if(condition: '{jahrselected} == 99', then: 'seit 01/2023', else: 'in {jahrselected}')}</th><th>Anzahl</th>
			</tr>
			<f:for each="{geschlechtartanmeldungen}" as="geschlecht" iteration="iter">
				<tr><td>{arrgeschlecht.{geschlecht.geschlecht}}</td><td>{geschlecht.anz}</td></tr>
			</f:for>
		</table>
	</f:then>
</f:if>
<f:if condition="{geschlechtberatungabgeschl}">
	<f:then>
		<table>
			<tr>
				<th>Geschlecht alle Beratenen {f:if(condition: '{jahrselected} == 99', then: 'seit 01/2023', else: 'in {jahrselected}')}</th><th>Anzahl</th>
			</tr>
			<f:for each="{geschlechtberatungabgeschl}" as="geschlecht" iteration="iter">
				<tr><td>{arrgeschlecht.{geschlecht.geschlecht}}</td><td>{geschlecht.anz}</td></tr>
			</f:for>
		</table>
	</f:then>
</f:if>
<f:if condition="{lebensalteranmeldungen}">
	<f:then>
		<br>
		<table>
			<tr>
				<th>Lebensalter alle Anmeldungen {f:if(condition: '{jahrselected} == 99', then: 'seit 01/2023', else: 'in {jahrselected}')}</th><th>Anzahl</th>
			</tr>
			<f:for each="{lebensalteranmeldungen}" as="lebensalter" iteration="iter">
				<tr><td>{lebensalter.lebensalter}</td><td>{lebensalter.anz}</td></tr>
			</f:for>
		</table>
	</f:then>
</f:if>
<f:if condition="{lebensalterberatungabgeschl}">
	<f:then>
		<table>
			<tr>
				<th>Lebensalter alle Beratenen {f:if(condition: '{jahrselected} == 99', then: 'seit 01/2023', else: 'in {jahrselected}')}</th><th>Anzahl</th>
			</tr>
			<f:for each="{lebensalterberatungabgeschl}" as="lebensalter" iteration="iter">
				<tr><td>{lebensalter.lebensalter}</td><td>{lebensalter.anz}</td></tr>
			</f:for>
		</table>
	</f:then>
</f:if>

<h1>Doppelte PLZ zugewiesen</h1>
<table>
	<tbody>
	<tr>
		<th>PLZ</th>
		<th>Beratungsstellen</th>
	</tr>
	<f:for each="{doppelteplzarray}" as="plzeintrag" key="plz">
		<tr>
			<td>{plz}</td>
			<td><f:for each="{plzeintrag}" as="bst">{bst.title} ({bst.niqbid}), </f:for></td>
		</tr>
	</f:for>
	</tbody>
</table>
</f:section>