
<f:layout name="Default" />
<f:section name="HeaderAssets">
  		<link rel="stylesheet" href="{f:uri.resource(path: 'CSS/customtp13dbadmin.css')}"/>  		
</f:section>
<f:section name="main">
<h1>Berater*in bearbeiten</h1>

<f:flashMessages />

<f:render partial="FormErrors" arguments="{object:Berater}" />

<f:form action="update" name="berater" object="{berater}" >
	<f:render partial="Berater/FormFields" arguments="{_all}" />
	<f:form.button type="submit" class="linkbuttons" id="savebutton1">{f:translate(key:'speichern')}</f:form.button>
</f:form>
</f:section>