<f:layout name="Default" />
<f:section name="HeaderAssets">
  		<link rel="stylesheet" href="{f:uri.resource(path: 'CSS/customtp13dbadmin.css')}"/>  		
</f:section>

<f:section name="main">
<f:flashMessages />
<h1>Liste Berater:innen</h1>

<f:render partial="Paginator" arguments="{pagination: pagination, pages: pages, paginator: paginator, action: calleraction}" />
 
	<table  class="tx_iqtp13db" >
		<tr>
			<th>Username</th>
			<th>Nachname</th>
			<th>Vorname</th>
			<th>E-Mail</th>
			<th>Letzter Login</th>
			<th>Benutzergruppe</th>
			<th></th>
			<th></th>
		</tr>
	
			<f:for each="{paginator.paginatedItems}" as="berat" iteration="it">
			<tr>
				<td>{berat.username}</td>
				<td>{berat.lastname}</td>
				<td>{berat.firstname}</td>
				<td>{berat.email}</td>
				<td><f:format.date format="d.m.Y - H:i">{berat.lastlogin}</f:format.date> Uhr</td>
				<td><f:for each="{berat.usergroup}" as="group">{group.title} </f:for></td>
				<td>
					<f:if condition="{thisuser.username} == {berat.username}">
						<f:then>
							<f:link.action action="edit" class="linkbuttons" arguments="{berater : berat}">Bearbeiten</f:link.action>
						</f:then>
					</f:if>
				</td>
			</tr>
			
		</f:for>
	</table>
	
</f:section>



