<tr>
	<td class="fktd" colspan="14"><span class="togglebutton" id="fk{beratung.teilnehmer.uid}" onclick="showFolgekontakt({beratung.teilnehmer.uid});">Folgekontakte</span>
		<table class="fktable" id="fkt{beratung.teilnehmer.uid}">
			<tr>
				<th>Datum</th>
				<th>Berater*in</th>
				<th>Inhalt der Beratung</th>
				<th>Bearbeiten</th>
				<th>Löschen</th>
			</tr>
 
			<f:for each="{folgekontakte}" as="folgekontakt" iteration="itera">
				<f:if condition="{folgekontakt.teilnehmer.uid} == {beratung.teilnehmer.uid}">
					<f:then>
						<tr>
							<td class="fklistdatum"><f:link.action action="show" arguments="{folgekontakt:folgekontakt, calleraction: calleraction, callercontroller : callercontroller}" controller="Folgekontakt">{folgekontakt.datum}</f:link.action></td>
							<td class="fklistberater">{folgekontakt.berater.kuerzel}</td>
							<td class="fklistinhalt"><f:if condition="{folgekontakt.antraggestellt} == 1">
									<f:then>
										Antrag gestellt: ja<br>
										{f:if(condition: '{folgekontakt.zabGleichwertigkeit} == 1', then: 'ZAB', else: 'Gleichwertigkeit')}<br>
									</f:then>
									<f:else>
										Antrag gestellt: nein<br>
									</f:else>
								</f:if> <f:format.crop maxCharacters="200" append="&nbsp;...">{folgekontakt.notizen}</f:format.crop>
							</td>
							<td><f:link.action class="linkbuttons" action="edit" arguments="{folgekontakt:folgekontakt, calleraction: calleraction, callercontroller : callercontroller}" controller="Folgekontakt">Bearbeiten</f:link.action></td>
							<td><f:link.action class="linkbuttons" action="delete" arguments="{folgekontakt:folgekontakt, calleraction: calleraction, callercontroller : callercontroller}" controller="Folgekontakt" onclick="return confirm('Wirklich löschen?');">Löschen</f:link.action></td>
						</tr>
					</f:then>
				</f:if>
			</f:for>
		</table></td>
</tr>