<f:form.validationResults for="{object}">
	<f:if condition="{validationResults.flattenedErrors}">
	
		<!-- Modal - HTML -->
		<dialog open id="errormodal">
			<h3 id="fehlermeldung"><f:translate key="error" /></h3>
			<f:for each="{validationResults.flattenedErrors}" key="propertyName" as="errors">
				<b><f:translate key="tx_iqtp13db_domain_model_{propertyName}" /> </b>					
				<f:for each="{errors}" as="error"><f:translate key="error.{error.code}">{error}</f:translate><br></f:for>
			</f:for>
			<div style="margin-top: 1rem;">
		  		<button id="errorokModal">OK</button>
		  	</div>
		</dialog>
		
		<script>
			// Modal - JavaScript
			const errormodal = document.getElementById("errormodal");
			const errorokModal = document.getElementById("errorokModal");			
			
			errorokModal.addEventListener("click", () => {
				errormodal.close();
			});
		</script>
		
	</f:if>
</f:form.validationResults>