<!--suppress HtmlRequiredLangAttribute -->
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<nav class="pagination-wrap">
    <ul class="pagination">
        <f:if condition="{pagination.previousPageNumber} && {pagination.previousPageNumber} >= {pagination.firstPageNumber}">
            <f:then>
                <li class="pagination-first">
                    <f:link.action action="{action}" arguments="{demand:demand, currentPage: 1, orderby : orderby}" title="{f:translate(key: 'pagination.first')}"> |< </f:link.action>
                </li>
                <li class="pagination-previous">
                    <f:link.action action="{action}" arguments="{demand:demand, currentPage: pagination.previousPageNumber, orderby : orderby}" title="{f:translate(key: 'pagination.previous')}"> < </f:link.action>
                </li>
            </f:then>
            <f:else>
                <li class="pagination-first disabled">
                        <span> |< </span>
                </li>
                <li class="pagination-previous disabled">
                        <span> < </span>
                </li>
            </f:else>
        </f:if>
        <f:if condition="{pagination.hasLessPages}">
            <li>…</li>
        </f:if>
        <f:for each="{pagination.allPageNumbers}" as="page" iteration="iter">
        	<f:if condition="{iter.index} == {paginator.currentPageNumber - 9}">
         		<li>…</li>
         	</f:if>
        	<f:if condition="{iter.index} < {paginator.currentPageNumber + 6} && {iter.index} > {paginator.currentPageNumber - 8}">
	            <li class="{f:if(condition: '{page} == {paginator.currentPageNumber}', then:'current')}">
	                <f:link.action action="{action}" arguments="{demand:demand, currentPage: page, orderby : orderby}">{page}</f:link.action>
	            </li>
            </f:if>
            <f:if condition="{iter.index} == {paginator.currentPageNumber + 7}">
         		<li>…</li>
         	</f:if>
        </f:for>
        <f:if condition="{pagination.hasMorePages}">
            <li>…</li>
        </f:if>
        <f:if condition="{pagination.nextPageNumber} && {pagination.nextPageNumber} <= {pagination.lastPageNumber}">
            <f:then>
                <li class="pagination-next">
                    <f:link.action action="{action}" arguments="{demand:demand, currentPage: pagination.nextPageNumber, orderby : orderby}" title="{f:translate(key: 'pagination.next')}"> > </f:link.action>
                </li>
                <li class="pagination-last">
                    <f:link.action action="{action}" arguments="{demand:demand, currentPage: pagination.lastPageNumber, orderby : orderby}" title="{f:translate(key: 'pagination.last')}"> >| </f:link.action>
                </li>
            </f:then>
            <f:else>
                <li class="pagination-next disabled">
                    <span> > </span>
                </li>
                <li class="pagination-last disabled">
                    <span> >| </span>
                </li>
            </f:else>
        </f:if>
    </ul>
</nav>



</html>
