<noscript>
      <div style="border: 1px solid purple; padding: 10px">
        <span style="color:red">JavaScript muss aktiviert sein!</span>
      </div>
</noscript>

<div class="tx-iqtp13db">
	<f:if condition="{anzbstellen} > 1">
		<div class="uebersicht-beratungsstelle-admin">
			<div><span class="label-beratungsstelle">Beratungsstelle:</span> <span class="value-beratungsstelle">{beratungsstelle}</span></div>
			<div><span class="label-beratungsstelle">Beratungsstellen-ID:</span> <span class="value-beratungsstelle">{niqbid}</span></div>
		</div>	
	</f:if>
	<f:render section="main" />
</div>