
<f:layout name="Default" />
<f:section name="HeaderAssets">
  		<link rel="stylesheet" href="{f:uri.resource(path: 'CSS/customtp13dbadmin.css')}"/>  		
</f:section>
<f:section name="main">

<div class="buttonmenu">
	<div class="toplinkbuttons">
		<f:link.action class="linkbuttons" action="edit" controller="Gruppenberatung" arguments="{gruppenberatung : gruppenberatung, calleraction : calleraction, callercontroller : callercontroller, callerpage : callerpage, thisaction : 'show'}" title="Bearbeiten">Gruppenberatung bearbeiten</f:link.action>
		<f:link.action id="linkloadoverlay-back" class="linkbuttons" action="{thisaction}" controller="{callercontroller}" arguments="{calleraction: calleraction, callercontroller : callercontroller, callerpage : callerpage}">Zurück</f:link.action>
	</div>
</div>

<f:flashMessages />

<div class="show-eingabefelder">
	<h1>Daten Gruppenberatung</h1>
	<f:render partial="Gruppenberatung/Properties" arguments="{gruppenberatung : gruppenberatung}" />
</div>

</f:section>