<div class="frame"><h2>Schulung</h2>
	<div class="tp13_formdiv100">
		<div class="tp13_formdiv33">
			<label for="datum">
				<f:translate key="tx_iqtp13db_domain_model_schulung.datum" />
			</label><br />
			<f:form.textfield property="datum" value="{schulung.datum->f:format.date(format: 'd.m.Y')}" size="8" id="datepicker" />
		</div>
		<div class="tp13_formdiv33">
			<label for="institution">
				<f:translate key="tx_iqtp13db_domain_model_schulung.institution" />
			</label><br />
				<f:form.textfield property="institution" /><br />
		</div>
	</div>
	<div class="tp13_formdiv100">
		<div class="tp13_formdiv33">
			<label for="berater">
				<f:translate key="LLL:EXT:iqtp13db/Resources/Private/Language/locallang_csh_tx_iqtp13db_domain_model_schulung.xlf:berater.description" />
			</label><br />
				<f:form.select property="berater" options="{berater}" optionLabelField="name" optionValueField="uid" sortByOptionLabel="1" prependOptionLabel="-" prependOptionValue="0" />
			
		</div>
		<div class="tp13_formdiv33">
			<label for="massnahmebereich">
				<f:translate key="tx_iqtp13db_domain_model_schulung.massnahmebereich" />
			</label><br />
				<f:for each="{settings.massnahmebereich}" as="mbereich" key="wert">
					<f:form.radio property="massnahmebereich" value="{wert}" checked="{schulung.massnahmebereich} == {wert}" />{mbereich}<br />
				</f:for>
		</div>
	</div>
	<div class="tp13_formdiv100">
		<div class="tp13_formdiv33">
			<label for="art">
				<f:translate key="tx_iqtp13db_domain_model_schulung.art" />
			</label><br />
				<f:for each="{settings.art}" as="sart" key="wert">
					<f:form.radio property="art" value="{wert}" checked="{schulung.art} == {wert}" />{sart}<br />
				</f:for>
		</div>
		<div class="tp13_formdiv33">
			<label for="andereArt">
				<f:translate key="tx_iqtp13db_domain_model_schulung.andere_art" />
			</label><br />
				<f:form.textfield property="andereArt" /><br />
		</div>
		<div class="tp13_formdiv33">
			<label for="modularerAufbau">
				<f:translate key="tx_iqtp13db_domain_model_schulung.modularer_aufbau" />
			</label><br />
				<f:for each="{settings.modularerAufbau}" as="mauf" key="wert">
					<f:form.radio property="modularerAufbau" value="{wert}" checked="{schulung.modularerAufbau} == {wert}" />{mauf}<br />
				</f:for>
		</div>
	</div>
	<div class="tp13_formdiv100">
		<div class="tp13_formdiv33">
			<label for="kooperation">
				<f:translate key="tx_iqtp13db_domain_model_schulung.kooperation" />
			</label><br />
				<f:for each="{settings.kooperation}" as="koop" key="wert">
					<f:form.radio property="kooperation" value="{wert}" checked="{schulung.kooperation} == {wert}" />{koop}<br />
				</f:for>
		</div>
		<div class="tp13_formdiv33">
			<label for="kooperationSonstige">
				<f:translate key="tx_iqtp13db_domain_model_schulung.kooperation_sonstige" />
			</label><br />
				<f:form.textfield property="kooperationSonstige" /><br />
		</div>
		<div class="tp13_formdiv33">
			<label for="zeitUmfang">
				<f:translate key="tx_iqtp13db_domain_model_schulung.zeit_umfang" />
			</label><br />
				<f:for each="{settings.zeitUmfang}" as="zeit" key="wert">
					<f:form.radio property="zeitUmfang" value="{wert}" checked="{schulung.zeitUmfang} == {wert}" />{zeit}<br />
				</f:for>
		</div>
	</div>
	<div class="tp13_formdiv100">
		<div class="tp13_formdiv33">
			<label for="organisation">
				<f:translate key="tx_iqtp13db_domain_model_schulung.organisation" />
			</label><br />
				<f:for each="{settings.organisation}" as="org" key="wert">
					<f:form.radio property="organisation" value="{wert}" checked="{schulung.organisation} == {wert}" />{org}<br />
				</f:for>
		</div>
		<div class="tp13_formdiv33">
			<label for="teilnahmeart">
				<f:translate key="tx_iqtp13db_domain_model_schulung.teilnahmeart" />
			</label><br />
				<f:for each="{settings.teilnahmeart}" as="tnart" key="wert">
					<f:form.radio property="teilnahmeart" value="{wert}" checked="{schulung.teilnahmeart} == {wert}" />{tnart}<br />
				</f:for>
		</div>
		<div class="tp13_formdiv33">
			<label for="teilnehmerkreis">
				<f:translate key="tx_iqtp13db_domain_model_schulung.teilnehmerkreis" />
			</label><br />
				<f:form.textfield property="teilnehmerkreis" /><br />
		</div>
	</div>
	<div class="tp13_formdiv100">
		<div class="tp13_formdiv33">
			<label for="themen">
				<f:translate key="tx_iqtp13db_domain_model_schulung.themen" />
			</label><br />
				<f:for each="{settings.themen}" as="text" key="wert">
					<f:form.radio property="themen" value="{wert}" checked="{schulung.themen} == {wert}" />{text}<br />
				</f:for>
		</div>
		<div class="tp13_formdiv33">
			<label for="themenAnderes">
				<f:translate key="tx_iqtp13db_domain_model_schulung.themen_anderes" />
			</label><br />
				<f:form.textfield property="themenAnderes" /><br />
		</div>
	</div>
	<div class="tp13_formdiv100">
		<div class="tp13_formdiv33">
			<label for="institutionAuswahl">
				<f:translate key="tx_iqtp13db_domain_model_schulung.institution_auswahl" />
			</label><br />
				<f:for each="{settings.institutionauswahl}" as="text" key="wert">
					<f:form.radio property="institutionAuswahl" value="{wert}" checked="{schulung.institutionAuswahl} == {wert}" />{text}<br />
				</f:for>
		</div>
		<div class="tp13_formdiv33">
			<label for="institutionAndere">
				<f:translate key="tx_iqtp13db_domain_model_schulung.institution_andere" />
			</label><br />
				<f:form.textfield property="institutionAndere" /><br />
		</div>
	</div>
	<div class="tp13_formdiv100">
		<div class="tp13_formdiv33">
			<label for="betriebsgroesse">
				<f:translate key="tx_iqtp13db_domain_model_schulung.betriebsgroesse" />
			</label><br />
				<f:for each="{settings.betriebsgroesse}" as="text" key="wert">
					<f:form.radio property="betriebsgroesse" value="{wert}" checked="{schulung.betriebsgroesse} == {wert}" />{text}<br />
				</f:for>
		</div>
		<div class="tp13_formdiv33">
			<label for="weiterePlanung">
				<f:translate key="tx_iqtp13db_domain_model_schulung.weitere_planung" />
			</label><br />
				<f:for each="{settings.weitereplanung}" as="text" key="wert">
					<f:form.radio property="weiterePlanung" value="{wert}" checked="{schulung.weiterePlanung} == {wert}" />{text}<br />
				</f:for>
		</div>
		<div class="tp13_formdiv33">
			<label for="weiterePlanungAndere">
				<f:translate key="tx_iqtp13db_domain_model_schulung.weitere_planung_andere" />
			</label><br />
				<f:form.textfield property="weiterePlanungAndere" /><br />
		</div>
	</div>
</div>
<div style="clear: both;"></div>