<div class="frame"><h2>Schulung</h2>
	<div class="tp13_formdiv100">
		<div class="tp13_formdiv33">
			<label for="datum">
				<f:translate key="tx_iqtp13db_domain_model_schulung.datum" />
			</label><br />
				{schulung.datum -> f:format.date(format: 'd.m.Y')}
		</div>
		<div class="tp13_formdiv33">
			<label for="institution">
				<f:translate key="tx_iqtp13db_domain_model_schulung.institution" />
			</label><br />
				{schulung.institution}
		</div>
	</div>
	<div class="tp13_formdiv100">
		<div class="tp13_formdiv33">
			<label for="berater">
				<f:translate key="LLL:EXT:iqtp13db/Resources/Private/Language/locallang_csh_tx_iqtp13db_domain_model_schulung.xlf:berater.description" />
			</label><br />
				<f:for each="{berater}" as="berat" key="uid">
					{f:if(condition: '{schulung.berater.uid} == {berat.uid}', then: '<span class="bdat">{berat.name}</span>')}					 
				</f:for>
		</div>

		<div class="tp13_formdiv33">
			<label for="massnahmebereich">
				<f:translate key="tx_iqtp13db_domain_model_schulung.massnahmebereich" />
			</label><br />
				<f:for each="{settings.massnahmebereich}" as="mbereich" key="wert">
					{f:if(condition: '{schulung.massnahmebereich} == {wert}', then: '<span class="bdat">{mbereich}</span>')}					 
				</f:for>
		</div>
	</div>
	<div class="tp13_formdiv100">
		<div class="tp13_formdiv33">
			<label for="art">
				<f:translate key="tx_iqtp13db_domain_model_schulung.art" />
			</label><br />
				<f:for each="{settings.art}" as="sart" key="wert">
					{f:if(condition: '{schulung.art} == {wert}', then: '<span class="bdat">{sart}</span>')}					 
				</f:for>
		</div>
		<div class="tp13_formdiv33">
			<label for="andereArt">
				<f:translate key="tx_iqtp13db_domain_model_schulung.andere_art" />
			</label><br />
				{schulung.andereArt}
		</div>
		<div class="tp13_formdiv33">
			<label for="modularerAufbau">
				<f:translate key="tx_iqtp13db_domain_model_schulung.modularer_aufbau" />
			</label><br />
				<f:for each="{settings.modularerAufbau}" as="mauf" key="wert">
					{f:if(condition: '{schulung.modularerAufbau} == {wert}', then: '<span class="bdat">{mauf}</span>')}					 
				</f:for>
		</div>
	</div>
	<div class="tp13_formdiv100">
		<div class="tp13_formdiv33">
			<label for="kooperation">
				<f:translate key="tx_iqtp13db_domain_model_schulung.kooperation" />
			</label><br />
				<f:for each="{settings.kooperation}" as="koop" key="wert">
					{f:if(condition: '{schulung.kooperation} == {wert}', then: '<span class="bdat">{koop}</span>')}					 
				</f:for>
		</div>
		<div class="tp13_formdiv33">
			<label for="kooperationSonstige">
				<f:translate key="tx_iqtp13db_domain_model_schulung.kooperation_sonstige" />
			</label><br />
				{schulung.kooperationSonstige}
		</div>
		<div class="tp13_formdiv33">
			<label for="zeitUmfang">
				<f:translate key="tx_iqtp13db_domain_model_schulung.zeit_umfang" />
			</label><br />
				<f:for each="{settings.zeitUmfang}" as="zeit" key="wert">
					{f:if(condition: '{schulung.zeitUmfang} == {wert}', then: '<span class="bdat">{zeit}</span>')}					 
				</f:for>
		</div>
	</div>
	<div class="tp13_formdiv100">
		<div class="tp13_formdiv33">
			<label for="organisation">
				<f:translate key="tx_iqtp13db_domain_model_schulung.organisation" />
			</label><br />
				<f:for each="{settings.organisation}" as="org" key="wert">
					{f:if(condition: '{schulung.organisation} == {wert}', then: '<span class="bdat">{org}</span>')}					 
				</f:for>
		</div>
		<div class="tp13_formdiv33">
			<label for="teilnahmeart">
				<f:translate key="tx_iqtp13db_domain_model_schulung.teilnahmeart" />
			</label><br />
				<f:for each="{settings.teilnahmeart}" as="tnart" key="wert">
					{f:if(condition: '{schulung.teilnahmeart} == {wert}', then: '<span class="bdat">{tnart}</span>')}					 
				</f:for>
		</div>
		<div class="tp13_formdiv33">
			<label for="teilnehmerkreis">
				<f:translate key="tx_iqtp13db_domain_model_schulung.teilnehmerkreis" />
			</label><br />
				{schulung.teilnehmerkreis}
		</div>
	</div>
	<div class="tp13_formdiv100">
		<div class="tp13_formdiv33">
			<label for="themen">
				<f:translate key="tx_iqtp13db_domain_model_schulung.themen" />
			</label><br />
				<f:for each="{settings.themen}" as="text" key="wert">
					{f:if(condition: '{schulung.themen} == {wert}', then: '<span class="bdat">{text}</span>')}					 
				</f:for>
		</div>
		<div class="tp13_formdiv33">
			<label for="themenAnderes">
				<f:translate key="tx_iqtp13db_domain_model_schulung.themen_anderes" />
			</label><br />
				{schulung.themenAnderes}
		</div>
	</div>
	<div class="tp13_formdiv100">
		<div class="tp13_formdiv33">
			<label for="institutionAuswahl">
				<f:translate key="tx_iqtp13db_domain_model_schulung.institution_auswahl" />
			</label><br />
				<f:for each="{settings.institutionauswahl}" as="text" key="wert">
					{f:if(condition: '{schulung.institutionAuswahl} == {wert}', then: '<span class="bdat">{text}</span>')}					 
				</f:for>
		</div>
		<div class="tp13_formdiv33">
			<label for="institutionAndere">
				<f:translate key="tx_iqtp13db_domain_model_schulung.institution_andere" />
			</label><br />
				{schulung.institutionAndere}
		</div>
	</div>
	<div class="tp13_formdiv100">
		<div class="tp13_formdiv33">
			<label for="betriebsgroesse">
				<f:translate key="tx_iqtp13db_domain_model_schulung.betriebsgroesse" />
			</label><br />
				<f:for each="{settings.betriebsgroesse}" as="text" key="wert">
					{f:if(condition: '{schulung.betriebsgroesse} == {wert}', then: '<span class="bdat">{text}</span>')}					 
				</f:for>
		</div>
		<div class="tp13_formdiv33">
			<label for="weiterePlanung">
				<f:translate key="tx_iqtp13db_domain_model_schulung.weitere_planung" />
			</label><br />
				<f:for each="{settings.weitereplanung}" as="text" key="wert">
					{f:if(condition: '{schulung.weitereplanung} == {wert}', then: '<span class="bdat">{text}</span>')}					 
				</f:for>
		</div>
		<div class="tp13_formdiv33">
			<label for="weiterePlanungAndere">
				<f:translate key="tx_iqtp13db_domain_model_schulung.weitere_planung_andere" />
			</label><br />
				{schulung.weiterePlanungAndere}
		</div>
	</div>
</div>
<div style="clear: both;"></div>
