<div class="fframe"><h2>Erstberatung</h2>
		<div class="tp13_formdivwebapp">
			<label for="datum">
				<f:translate key="tx_iqtp13db_domain_model_beratung.datum" />
			</label>
				<f:form.textfield class="datumtextfield" property="datum" value="{beratung.datum}" id="datepicker1" />				
		</div>
		<div class="tp13_formdivwebapp">
			<label for="berater">
				<f:translate key="tx_iqtp13db_domain_model_beratung.berater" />
			</label>
				<f:if condition="{berater.kuerzel} == 'admin'"><f:then>
					<f:form.select property="berater" options="{alleberater}" optionLabelField="name" optionValueField="uid" sortByOptionLabel="1" />
				</f:then>
				<f:else>
					<f:form.hidden property="berater" value="{berater.uid}" />
					<span class="propdat">{berater.name}</span>
				</f:else>
				</f:if>							
		</div>
		<div class="tp13_formdivwebapp">
			<label for="beratungsart">
				<f:translate key="tx_iqtp13db_domain_model_beratung.beratungsart" />
			</label>
			<div class="tp13_formdivwebappmultiradio">
				<div class="tp13_formdivwebappradio"><f:form.checkbox id="chkberatungsartface2face" name="beratungsart1" property="beratungsart" multiple="1" value="1" />{settings.beratungsart.1}</div>
				<div class="tp13_formdivwebappradio"><f:form.checkbox name="beratungsart2" property="beratungsart" multiple="1" value="2" />{settings.beratungsart.2}</div>
				<div class="tp13_formdivwebappradio"><f:form.checkbox name="beratungsart3" property="beratungsart" multiple="1" value="3" />{settings.beratungsart.3}</div>
				<div class="tp13_formdivwebappradio"><f:form.checkbox name="beratungsart4" property="beratungsart" multiple="1" value="4" />{settings.beratungsart.4}</div>
				<div class="tp13_formdivwebappradio"><f:form.checkbox name="beratungsart5" property="beratungsart" multiple="1" value="5" />{settings.beratungsart.5}</div>
			</div>
		</div>
		<div class="tp13_formdivwebapp" id="textareaberatungsartfreitext">
			<label for="beratungsartfreitext">
				<f:translate key="tx_iqtp13db_domain_model_beratung.beratungsartfreitext" />
			</label>
			<f:form.textarea property="beratungsartfreitext" rows="3" cols="100" />
		</div>
		<div class="tp13_formdivwebapp" id="textfieldberatungsort">
			<label for="beratungsort">
				<f:translate key="tx_iqtp13db_domain_model_beratung.beratungsort" />
			</label>
				<f:form.textfield property="beratungsort" />				
		</div>
		<div class="tp13_formdivwebapp">
			<label for="beratungzu">
				<f:translate key="tx_iqtp13db_domain_model_beratung.beratungzu" />
			</label>
			<div class="tp13_formdivwebappmultiradio">
				<div class="tp13_formdivwebappradio"><f:form.checkbox name="beratungzu1" property="beratungzu" multiple="1" value="1" />{settings.beratungzu.1}</div>
				<div class="tp13_formdivwebappradio"><f:form.checkbox name="beratungzu2" property="beratungzu" multiple="1" value="2" />{settings.beratungzu.2}</div>
				<div class="tp13_formdivwebappradio"><f:form.checkbox name="beratungzu3" property="beratungzu" multiple="1" value="3" />{settings.beratungzu.3}</div>
				<div class="tp13_formdivwebappradio"><f:form.checkbox name="beratungzu4" property="beratungzu" multiple="1" value="4" />{settings.beratungzu.4}</div>
			</div>
		</div>
		<div class="tp13_formdivwebapp">
			<label for="referenzberufe">
				<f:translate key="tx_iqtp13db_domain_model_beratung.referenzberufe" />
			</label>
			<f:form.textarea property="referenzberufe" rows="3" cols="100" />
		</div>
		<div class="tp13_formdivwebapp">
			<label for="anerkennendestellen">
				<f:translate key="tx_iqtp13db_domain_model_beratung.anerkennendestellen" />
			</label>
			<f:form.textarea property="anerkennendestellen" rows="4" cols="100" />
		</div>
		<div class="tp13_formdivwebapp">
			<label for="anerkennungsberatung">
				<f:translate key="tx_iqtp13db_domain_model_beratung.anerkennungsberatung" />
			</label>
			<div class="tp13_formdivwebappmultiradio">
				<div class="tp13_formdivwebappradio"><f:form.checkbox name="anerkennungsberatung1" property="anerkennungsberatung" multiple="1" value="1" />{settings.anerkennungsberatung.1}</div>
				<div class="tp13_formdivwebappradio"><f:form.checkbox name="anerkennungsberatung2" property="anerkennungsberatung" multiple="1" value="2" />{settings.anerkennungsberatung.2}</div>
				<div class="tp13_formdivwebappradio"><f:form.checkbox name="anerkennungsberatung3" property="anerkennungsberatung" multiple="1" value="3" />{settings.anerkennungsberatung.3}</div>
				<div class="tp13_formdivwebappradio"><f:form.checkbox name="anerkennungsberatung4" property="anerkennungsberatung" multiple="1" value="4" />{settings.anerkennungsberatung.4}</div>
				<div class="tp13_formdivwebappradio"><f:form.checkbox name="anerkennungsberatung5" property="anerkennungsberatung" multiple="1" value="5" />{settings.anerkennungsberatung.5}</div>
				<div class="tp13_formdivwebappradio"><f:form.checkbox name="anerkennungsberatung6" property="anerkennungsberatung" multiple="1" value="6" />{settings.anerkennungsberatung.6}</div>
				<div class="tp13_formdivwebappradio"><f:form.checkbox name="anerkennungsberatung7" property="anerkennungsberatung" multiple="1" value="7" />{settings.anerkennungsberatung.7}</div>
			</div>
		</div>
		<div class="tp13_formdivwebapp">
			<label for="anerkennungsberatungfreitext">
				<f:translate key="tx_iqtp13db_domain_model_beratung.anerkennungsberatungfreitext" />
			</label>
			<f:form.textarea property="anerkennungsberatungfreitext" rows="2" cols="100" />
		</div>
		<div class="tp13_formdivwebapp">
			<label for="qualifizierungsberatung">
				<f:translate key="tx_iqtp13db_domain_model_beratung.qualifizierungsberatung" />
			</label>
			<div class="tp13_formdivwebappmultiradio">
				<div class="tp13_formdivwebappradio"><f:form.checkbox name="qualifizierungsberatung1" property="qualifizierungsberatung" multiple="1" value="1" />{settings.qualifizierungsberatung.1}</div>
				<div class="tp13_formdivwebappradio"><f:form.checkbox name="qualifizierungsberatung2" property="qualifizierungsberatung" multiple="1" value="2" />{settings.qualifizierungsberatung.2}</div>
				<div class="tp13_formdivwebappradio"><f:form.checkbox name="qualifizierungsberatung3" property="qualifizierungsberatung" multiple="1" value="3" />{settings.qualifizierungsberatung.3}</div>
				<div class="tp13_formdivwebappradio"><f:form.checkbox name="qualifizierungsberatung4" property="qualifizierungsberatung" multiple="1" value="4" />{settings.qualifizierungsberatung.4}</div>
				<div class="tp13_formdivwebappradio"><f:form.checkbox name="qualifizierungsberatung5" property="qualifizierungsberatung" multiple="1" value="5" />{settings.qualifizierungsberatung.5}</div>
				<div class="tp13_formdivwebappradio"><f:form.checkbox name="qualifizierungsberatung6" property="qualifizierungsberatung" multiple="1" value="6" />{settings.qualifizierungsberatung.6}</div>
				<div class="tp13_formdivwebappradio"><f:form.checkbox name="qualifizierungsberatung7" property="qualifizierungsberatung" multiple="1" value="7" />{settings.qualifizierungsberatung.7}</div>
			</div>				
		</div>
		<div class="tp13_formdivwebapp">
			<label for="qualifizierungsberatungfreitext">
				<f:translate key="tx_iqtp13db_domain_model_beratung.qualifizierungsberatungfreitext" />
			</label>
			<f:form.textarea property="qualifizierungsberatungfreitext" rows="3" cols="100" />
		</div>
		<div class="tp13_formdivwebapp">
			<label for="notizen">
				<f:translate key="tx_iqtp13db_domain_model_beratung.notizen" />
			</label>
			<f:form.textarea property="notizen" rows="15" cols="100" />
		</div>
		<div class="tp13_formdivwebapp">
			<label for="erstberatungabgeschlossen">
				<f:translate key="tx_iqtp13db_domain_model_beratung.erstberatungabgeschlossen" />
			</label>
			<f:form.textfield class="datumtextfield" property="erstberatungabgeschlossen" value="{beratung.erstberatungabgeschlossen}" id="datepicker2" />			
		</div>
		

	
</div>