#mainnavbar {
	display: none;
}

.frame {
	padding-top: 0.5rem;	
}

.frame-container-default {
  max-width: 100%;
}

.filterframe {
	margin: 1rem 0rem 2rem 0rem;
}

.body-bg-top {
  padding-top: 59px;
}

.navbar-toggle {
	display: none;
}

.navbar {
	font-size: 1.0em;
}

.footernavi {
	display: none;
}

.navbar-mainnavigation .navbar-brand {
    height: 50px;
}

.navbar-mainnavigation > .container > .navbar-collapse, .navbar-mainnavigation > .container-fluid > .navbar-collapse {
    padding-top: 10px;
    padding-bottom: 10px;
}

.iq-standardcontainer-weiss {
    margin-top: 0rem;
    padding-top: 0rem;
    overflow-x: scroll;
}

.defaultframe, .navbar-default, .navbar-default .container {
	width: 100%;
	max-width: 100%;
}

.tx-iqtp13db .fframeadminonly {
	border: 2px dashed #7478bf;
	padding: 15px;
	margin: 15px 0px;
}

.tp13_formdivwebapp {
	padding: 3px;
}

.tx-iqtp13db table {
    border-collapse: separate;
    border-spacing: 2px;
    font-size: 0.9rem;
}

.tx-iqtp13db table th {
	background-color: #dfefef;
	padding: 3px;
	text-align: center;
	font-size: 0.7rem; 
}

.tx-iqtp13db table td {
    vertical-align: middle;
}

.tx-iqtp13db table td.tdcenter {
     text-align: center; 
}

.tx-iqtp13db table .dublette {
    background-color: #ffc1c1;
}

.tx-iqtp13db table .bestaetigt {
    background-color: bisque;
}

.pagination .current {
	font-weight: bold;
}

td.fktd {
	background-color: #d7e1f9;
	text-align: left;
}

table.fktable {
	width: 100%;
	display: none;
}

.niqfehltlist {
	display: none;
}

.showhidefk {
	font-weight: bold;
	color: #428BCA;
}

.tx_iqtp13db td.fklistdatum, .tx_iqtp13db td.fklistberater {
	width: 15%;
}

.tx_iqtp13db td.fklistinhalt {
	width: 70%;
}


td.tdcenter input[type="checkbox"] {
	height: 1.5em;
	width: 1.5em;
	float: none;
    margin: 0px;
    width: auto;
     -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.historie {
	margin-left: 40px;
	display: flex;
	flex-direction: column;
	padding: 5px;
	color: #ff4343;
}

.historieval {
	font-size: 0.9rem;	
}


.ankerbuttons {
	margin-top: 0.5rem;	
}


.buttoneinwilligung {
	font-size: 0.7rem !important;
}

.tx-iqtp13db .niqstatusgruen {
	background-color: rgb(176, 200, 47);
}

.tx-iqtp13db .niqstatusgelb {
	background-color: rgb(246, 218, 58);
}

.tx-iqtp13db .niqstatusrot {
	background-color: rgb(224, 0, 33);
}

.niqfield {
	background-image: url(../Icons/niq-icon.png);
	background-repeat: no-repeat;
	background-position: right;
	background-size: 1.1em;
	padding-right: 25px;
}

.niqfieldpflicht {
	background-image: url(../Icons/niq-icon-pflicht.png);
	background-repeat: no-repeat;
	background-position: right;
	background-size: 1.1em;
	padding-right: 25px;
}

input[type="text"].textfieldsmall  {
	width: 5%;
	min-width: 30px;
}

#dialog-gelb {
	display: none;
}
#dialog-rot {
	display: none;
}

.fframeabschluss-inner {
	border: 1px solid #cfa6ce;
	padding: 15px;
}

.abschlussheader {
	padding: 6px;
	min-width: 800px;
	font-size: 1.2rem;	
}

.togglebutton, .abschlussheader  {
    background-color: #cfa6ce;
    border: 1px solid transparent;
    white-space: nowrap;
    font-weight: normal;
    text-align: center;
    font-size: 14px;
    line-height: 1.42857;
    padding: 2px 4px;
    vertical-align: middle;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    -moz-user-select: none;
	text-decoration: none;
}

.oneabschluss {
	margin-top: 0.5rem;	
	width: fit-content;
	max-width: 800px;
	overflow: hidden;
}

.abschluesseliste {
	margin-top: 1rem;
}

#AnkerBeratung h2 {
	color: #7478bf;	
}

#AnkerAbschluesse h2 {
	color: #CA99BE;	
}

#AnkerDokumente h2 {
	color: #CABE99;	
}

.tx-iqtp13db .buttonberatung {
	background-color: #7478bf;	
}

.tx-iqtp13db .buttonabschluesse, #AnkerAbschluesse input[type="submit"] {
	background-color: #CA99BE;	
}

.tx-iqtp13db .buttondokumente, #AnkerDokumente input[type="submit"] {
	background-color: #CABE99;	
}

#AnkerDokumente input[type="submit"].updatebutton {
	background-color: #99CACA;
}

.inputdokumentbeschreibung {
	margin-left: 1rem;
}