#mainnavbar {
	display: none;
}

.errorframe {
	padding: 1rem;
	background-color: #fdb0b0;
	border-radius: 4px;
}

a.errorframe-close {
	position: absolute;
  	top: 0px;
  	right: 10px;
  	color: rgba(72,83,88,1.0);
  	text-decoration: none;
	font-size: 1.3em;
}

.tx-iqtp13db ul .alert, .errorframe {  
	text-align: center;
	display: block;
	border: 1px solid;
	list-style: none;
	display: block;	
	z-index: 999;
	position: fixed;
	top: 40%;
	left: 38%;
	width: 25%;
	height: auto;
	margin: auto;
	box-shadow: .4rem .4rem 2.4rem .2rem #000;
	cursor: pointer;
}

.tx-iqtp13db ul .alert::after {
	content: '✖';
	position: absolute;
	right: 5px;
	top: 0px;
}

.tx-iqtp13db ul .alert-danger {
	background: #f1dede;
}

.tx-iqtp13db ul .alert-success {
	background: #def1de;
}

.tx-iqtp13db ul .alert-warning {
	background-color: #f0d051;
}

p.alert-message {
	margin: 0px;
}

.frame {
	padding-top: 0.5rem;	
}

.frame-container-default {
  max-width: 100%;
}

.filterframe {
	margin: 1rem 0rem 2rem 0rem;
}

.body-bg-top {
  padding-top: 59px;
}

.navbar-toggle {
	display: none;
}

.navbar {
	font-size: 1.0em;
}

.footernavi {
	display: none;
}

.farbbalken_outer {
	margin-top: 2rem; 
}

.navbar-mainnavigation .navbar-brand {
    height: 50px;
}

.navbar-mainnavigation > .container > .navbar-collapse, .navbar-mainnavigation > .container-fluid > .navbar-collapse {
    padding-top: 10px;
    padding-bottom: 10px;
}

.iq-standardcontainer-weiss {
    margin-top: 0rem;
    padding-top: 0rem;
    overflow-x: scroll;
}

.defaultframe, .navbar-default, .navbar-default .container {
	width: 100%;
	max-width: 100%;
}

.tx-iqtp13db .fframeadminonly {
	border: 2px dashed #7478bf;
	padding: 15px;
	margin: 15px 0px;
}

.tp13_formdivwebapp {
	padding: 3px;
}

.tx-iqtp13db table {
    border-collapse: separate;
    border-spacing: 2px;
    font-size: 0.9rem;
}

.tx-iqtp13db table th {
	background-color: #dfefef;
	padding: 3px;
	text-align: center;
	font-size: 0.7rem; 
}

.tx-iqtp13db table td {
    vertical-align: middle;
}

.tx-iqtp13db table td.tdcenter {
     text-align: center; 
}


.tx-iqtp13db table .dublette {
    background-color: #997a3b54;
}

.tx-iqtp13db table .bestaetigt {
    background-color: #7a970133;
}

.tx-iqtp13db table .unbestaetigt-beraten {
    background-color: #ffbe6ac4;
}

.tx-iqtp13db table .unbestaetigt-beraten img.anfordernbtnimg {
    border: 2px solid #f00;
}

.tx-iqtp13db table .nacherfasst {
    background-color: #ffb30024;
}

.tx-iqtp13db .tablelinkbuttons {
  background-color: #4E638D;
  color: #fff;
  border: 0px solid transparent;
  white-space: nowrap;
  font-weight: 500;
  text-align: center;
  font-family: Roboto Condensed;
  padding: 2px 4px;
  margin-left: -4px;
  margin-right: -4px;
  cursor: pointer;
  display: inline-block;
  -moz-user-select: none;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom-right-radius: 7px;
  display: block;

}

.tablelinkbuttons.buttonedit,.tablelinkbuttons.buttonnew {
  text-transform: uppercase;
  line-height: 1.0 !important;
  font-size: 0.7rem !important;
}


.tablelinkbuttons.buttoneinwilligung {
  text-transform: uppercase;
  line-height: 1.0 !important;
  font-size: 0.7rem !important;
}

.iconbuttons.buttondelete img {
  width: 25px;
  height: 25px;
}


.pagination .current {
	font-weight: bold;
}

.li-paginaton-first,
.li-paginaton-previous,
.li-paginaton-page,
.li-paginaton-next,
.li-paginaton-last {
	padding: 0px 10px;
}

td.fktd {
	background-color: #d7e1f9;
	text-align: left;
}

table.fktable {
	width: 100%;
	display: none;
}

.niqfehltlist {
	display: none;
}

.showhidefk {
	font-weight: bold;
	color: #428BCA;
}

.tx_iqtp13db td.fklistdatum, .tx_iqtp13db td.fklistberater {
	min-width: 10%;
}

.tx_iqtp13db td.fklistinhalt {
	min-width: 50%;
}


td.tdcenter input[type="checkbox"] {
	height: 1.5em;
	width: 1.5em;
	float: none;
    margin: 0px;
    width: auto;
     -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.historie {
	margin-left: 40px;
	display: flex;
	flex-direction: column;
	padding: 5px;
	color: #ff4343;
}

.historieval {
	font-size: 0.9rem;	
}

.edit-eingabefelder, .show-eingabefelder {
	padding-top: 4rem;
}

.buttoneinwilligung {
	font-size: 0.7rem !important;
}

.tx-iqtp13db .niqstatusgruen {
	background-color: rgb(176, 200, 47);
}

.tx-iqtp13db .niqstatusgelb {
	background-color: rgb(246, 218, 58);
}

.tx-iqtp13db .niqstatusrot {
	background-color: rgb(224, 0, 33);
}

.niqfield {
	background-image: url(../Icons/niq-icon.png);
	background-repeat: no-repeat;
	background-position: right;
	background-size: 1.1em;
	padding-right: 25px;
}

.niqfieldpflicht {
	background-image: url(../Icons/niq-icon-pflicht.png);
	background-repeat: no-repeat;
	background-position: right;
	background-size: 1.1em;
	padding-right: 25px;
}

input[type="text"].textfieldsmall  {
	width: 5%;
	min-width: 30px;
}

#dialog-gelb {
	display: none;
}
#dialog-rot {
	display: none;
}

.abschlussheader {
	padding: 6px;
	min-width: 800px;
	font-size: 1.2rem;	
}

.togglebutton, .abschlussheader  {
    background-color: #cfa6ce;
    border: 0px solid transparent;
    white-space: nowrap;
    font-weight: 500 !important;
    text-align: center;
	font-size: 0.9rem;
    line-height: 1.42857;
	padding: 2px 10px;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    -moz-user-select: none;
	text-decoration: none;
	-moz-user-select: none;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 0;
	  border-bottom-right-radius: 0px;
	border-bottom-right-radius: 10px;
	box-shadow: 1px 2px 3px #494949;
}


.oneabschluss {
	margin-top: 0.5rem;	
	width: fit-content;
	max-width: 800px;
	overflow: hidden;
}

.abschluesseliste {
	margin-top: 1rem;
}

#AnkerBeratung, #AnkerAbschluesse, #AnkerDokumente {
	
}

#AnkerBeratung h2 {
	color: #7478bf;
}

#AnkerAbschluesse h2 {
	color: #CA99BE;	
}

#AnkerDokumente h2 {
	color: #CABE99;	
}

.tx-iqtp13db .buttonberatung {
	background-color: #7478bf;	
}

.tx-iqtp13db .buttonabschluesse, #AnkerAbschluesse input[type="submit"] {
	background-color: #CA99BE;	
}

.tx-iqtp13db .buttondokumente, #AnkerDokumente input[type="submit"] {
	background-color: #CABE99;	
}

#AnkerDokumente input[type="submit"].updatebutton {
	background-color: #99CACA;
}

.inputdokumentbeschreibung {
	margin-left: 1rem;
}

.edituserfield {
	padding: 1rem 1rem;
	background-color: #ec7b7b;
	border: 1px solid #646464;
	border-radius: 6px;
	font-size: 1.2rem;
	color: #eee;
}

.uebersicht-beratungsstelle-admin {
  background: #9844444f;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 3px;
  display: flex;
  justify-content: center;
}

/* -------- für Tablets -------- */
@media (max-width: 1184px){
	.navbar-nav li {
  		padding-right: 0px;
	}
	.navbar-mainnavigation > .container > .collapse > .navbar-nav .nav-link {
  		padding-right: 0.5rem;
  		padding-left: 0.5rem;
	}
	.navbar {
  		font-size: 0.85em;
	}
}