<f:layout name="Default" />
<f:section name="HeaderAssets">
  		<link rel="stylesheet" href="{f:uri.resource(path: 'CSS/customtp13dbadmin.css')}"/>  		
</f:section>

<f:section name="main">
 
<f:if condition="{showabschluesse} == '1'">
<f:then>
	<script>
		(function($) {
		    $(document).ready(function() {
		    	location.href = "#AnkerAbschluesse";
		    });
		})(jQuery);		
	</script>
</f:then>
<f:else>
	<f:if condition="{showdokumente} == '1'">
	<f:then>
		<script>
			(function($) {
			    $(document).ready(function() {
			         location.href = "#AnkerDokumente";
			    });
			})(jQuery);		
		</script>
	</f:then>
	<f:else>
		<script type="text/javascript">
			$(document).ready(function () {
		
			    if (localStorage.getItem("iqtp13-{teilnehmer.uid}-quote-scroll") != null) {
			        $(window).scrollTop(localStorage.getItem("iqtp13-{teilnehmer.uid}-quote-scroll"));
			    }
			
			    $(window).on("scroll", function() {
			        localStorage.setItem("iqtp13-{teilnehmer.uid}-quote-scroll", $(window).scrollTop());
			    });
		
		  	});
		</script>
	</f:else>
	</f:if>
</f:else>
</f:if>

<f:render partial="FormErrors" arguments="{object:Teilnehmer}" />

<f:form id="teilnehmerform" action="update" controller="Backend" name="teilnehmer" object="{teilnehmer}" arguments="{abschluss: abschluss, calleraction: calleraction, callercontroller : callercontroller, callerpage : callerpage, newnacherfassung : newnacherfassung, searchparams : searchparams}" >
	
	<div class="buttonmenu">
		<div class="toplinkbuttons">
			<f:form.button type="submit" id="savebutton1">Speichern</f:form.button>
			<f:link.action id="linkloadoverlay-back" class="linkbuttons" action="{calleraction}" controller="{callercontroller}" arguments="{callerpage : callerpage, tn : teilnehmer, searchparams : searchparams}">Zurück zur Liste</f:link.action>
		</div>		
		<div class="ankerbuttons">		
			<a href="#AnkerBeratung" class="linkbuttons buttonberatung" >Beratung anzeigen</a>
			<a href="#AnkerAbschluesse" class="linkbuttons buttonabschluesse" >Abschlüsse anzeigen</a>
			<f:if condition="{teilnehmer.anonym} != '1'">
				<a href="#AnkerDokumente" class="linkbuttons buttondokumente" >Dokumente anzeigen</a>
			</f:if>
		</div>
	</div>
	
	<div class="edit-eingabefelder">
	<f:if condition="{edituserfield} != ''"><div class="edituserfield">Datensatz wird seit <strong>{edittstampfield} Uhr</strong> von {edituserfield} bearbeitet</div></f:if>
	<h1>Ratsuchende*n bearbeiten UID: {teilnehmer.uid}</h1>
	
	<f:flashMessages />
	
		<f:render partial="TeilnehmerBackend/FormFields-Part1" arguments="{_all}" />
		
	 	<div id="AnkerBeratung">
	 		<f:render partial="TeilnehmerBackend/FormFields-Part2" arguments="{_all}" />
	 	</div>
 	</div>
 	
</f:form>

<f:render partial="Abschluss/Abschluss4Teilnehmer" arguments="{teilnehmer : teilnehmer, abschluesse: abschluesse, calleraction: calleraction, callercontroller : callercontroller, callerpage : callerpage, thisaction : 'edit', berufe:berufe, staaten:staaten, abschlussartarr : abschlussartarr}" />
<f:if condition="{teilnehmer.anonym} != '1'">
	<f:render partial="Dokument/Dokumente4Teilnehmer" arguments="{teilnehmer : teilnehmer, dokumente: dokumente, calleraction: calleraction, callercontroller : callercontroller, callerpage : callerpage, dokumentpfad : dokumentpfad, thisaction : 'edit', filesizes : filesizes, speicherbelegung : speicherbelegung}" />
</f:if>

<f:flashMessages />

</f:section>