{namespace iqtp13db=Ud\Iqtp13db\ViewHelpers}
<f:layout name="DefaultBackend" />
<f:section name="HeaderAssets">
  		<link rel="stylesheet" href="{f:uri.resource(path: 'CSS/customtp13dbadmin.css')}"/>  		
</f:section>

<f:section name="main">
 
<f:flashMessages />
<br />
<h1>Daten Ratsuchende exportieren</h1>
Nach Klick auf den Button werden die Daten in eine Excel-Datei zum Download exportiert.<br>
Das Datum von/bis bezieht sich bei den Optionen Angemeldet und Gelöscht auf das Bestätigungsdatum der Anmeldung und bei der Option Archiviert auf das Datum 'Erstberatung abgeschlossen'.<br>

<div class="filterframe">
	<f:form class="exportfilterform" id="exportfilterform" method="post" controller="Backend" action="export" name="export" >
	<div>
				<f:security.ifHasRole role="Webapp Admin"> 
				<f:then> 
					Auswahl Bundesland:
					<f:form.select name="filterbundesland" id="exportfilterselectbundesland" options="{allebundeslaender}" optionValueField="bundesland" optionLabelField="bundesland" prependOptionValue="%" prependOptionLabel="-alle-" value="{filterbundesland}"/>	
				</f:then>
				</f:security.ifHasRole>	
				von: <f:form.textfield size="10" id="datepickerfiltervon" value="{filtervon}" name="filtervon" />
				bis: <f:form.textfield size="10" id="datepickerfilterbis" value="{filterbis}" name="filterbis" />				
				Auswahl Status: <f:form.select id="exportfilterselect" value="{filterberatungsstatus}" name="filterberatungsstatus" options="{settings.filterberatungsstatus}" optionValueField="key" optionLabelField="value" />
				<br>
				<f:security.ifHasRole role="Webapp Admin">
					<f:then> 
						Auswahl Erste Staatsangehörigkeit:
						<f:form.select id="exportfilterselectstaat" name="filterstaat" options="{staatenarr}" optionValueField="key" optionLabelField="value" prependOptionValue="%" prependOptionLabel="-alle-" value="{filterstaat}"/>	
					</f:then>
				</f:security.ifHasRole>
				Auswahl Berater*in:
				<f:form.select id="exportfilterselectberater" name="filterberater" options="{alleberater}" optionValueField="key" optionLabelField="value" prependOptionValue="%" prependOptionLabel="-alle-" value="{filterberater}"/>									
	</f:form>

	<f:form method="post" controller="Backend" action="export" name="export" id="exportformdata" enctype="multipart/form-data" >
		<f:form.hidden value="{filterberatungsstatus}" name="filterberatungsstatus" />
		<f:form.hidden value="{filtervon}" name="filtervon" />
		<f:form.hidden value="{filterbis}" name="filterbis" />
		<f:form.hidden value="{filterbundesland}" name="filterbundesland" />
		<f:form.hidden value="{filterstaat}" name="filterstaat" />
		<f:form.hidden value="{filterberater}" name="filterberater" />
		<f:if condition="{anzgesamt} > 500"><f:then>
			<f:form.button id="linkloadoverlay-export" type="submit" name="export" disabled="disabled" style="background-color: #9A9CA2;">Ratsuchende exportieren</f:form.button>
			<span style="color: #cd0000; font-weight: bold;">Export nicht möglich, da zuviele Datensätze. Bitte Zeitraum eingrenzen.</span>
		</f:then>
		<f:else>
			<f:form.button id="linkloadoverlay-export" type="submit" name="export">{anzgesamt} Ratsuchende exportieren</f:form.button>
		</f:else>
		</f:if>	
	</f:form>
	</div>
</div>

</f:section>