{namespace iqtp13db=Ud\Iqtp13db\ViewHelpers}
<f:layout name="DefaultBackend" />
<f:section name="HeaderAssets">
  		<link rel="stylesheet" href="{f:uri.resource(path: 'CSS/customtp13dbadmin.css')}"/>  		
</f:section>
 
<f:section name="main">

<div class="filterframe">
	<h1>Suche</h1>
	<f:form class="filterform" method="post" controller="Backend" action="showsearchresult" name="showsearchresult" >
		<f:render partial="Backend/Suchfelder" arguments="{_all}" />
	</f:form>
</div>

<f:flashMessages />

<h1>{f:if(condition:'{filteron} == 1', then: 'Suchergebnis: ', else: '' )} {anzgesamt} Ratsuchende</h1>
<div class="pretablediv">
<table  class="tx_iqtp13db listangemeldet" >
		<tr>
			<th>UID</th>
			<th><f:translate key="tx_iqtp13db_domain_model_teilnehmer.nachname" /></th>
			<th><f:translate key="tx_iqtp13db_domain_model_teilnehmer.vorname" /></th>
			<th>Anmeldedatum</th>
			<th><f:translate key="tx_iqtp13db_domain_model_teilnehmer.plz" />/<f:translate key="tx_iqtp13db_domain_model_teilnehmer.ort" /></th>
			<th><f:translate key="tx_iqtp13db_domain_model_teilnehmer.geschlecht" /></th>
			<th><f:translate key="tx_iqtp13db_domain_model_teilnehmer.geburtsland" /></th>
			<th><f:translate key="tx_iqtp13db_domain_model_teilnehmer.berater" /></th>
			<th id="resizablecol1"><f:translate key="tx_iqtp13db_domain_model_abschluss.deutscher_referenzberuf" /></th>
			<th id="resizablecol2"><f:translate key="tx_iqtp13db_domain_model_teilnehmer.kooperationgruppe" /></th>
			<th style="hyphens: auto;">Summe<br>Beratungsd.<br>(in h)</th>
			<th> </th>
			<th> </th>
			<th> </th>
		</tr>

		<f:groupedFor each="{teilnehmers}" as="teilnehmerbystatus" groupBy="modul" groupKey="status">
			<tr><td colspan="14"><h1>Modul: {status}
			</h1></td></tr>
			<f:for each="{teilnehmerbystatus}" as="teilnehmer" iteration="it">
			{f:variable(name: 'summebdauer', value: '{summeberatungsdauer.{teilnehmer.uid}}')}		
				<tr class="
				{f:if(condition: '{teilnehmer.hidden}', then: 'geloescht ')}
				{f:if(condition: '{teilnehmer.dublette}', then: 'dublette ')}
				{f:if(condition: '{teilnehmer.verificationDate} != 0 AND {teilnehmer.beratungsstatus} < 2', then: 'bestaetigt ')}
				{f:if(condition: '{teilnehmer.verificationDate} == 0 AND {teilnehmer.beratungdatum} != \'\'', then: 'unbestaetigt-beraten ')}
				">
				
					<td><f:link.action action="show" arguments="{teilnehmer : teilnehmer, calleraction: calleraction, callercontroller : callercontroller, searchparams : searchparams}">{teilnehmer.uid}</f:link.action></td>
					<td><f:link.action action="show" arguments="{teilnehmer : teilnehmer, calleraction: calleraction, callercontroller : callercontroller, searchparams : searchparams}">{teilnehmer.nachname}</f:link.action></td>
					<td><f:link.action action="show" arguments="{teilnehmer : teilnehmer, calleraction: calleraction, callercontroller : callercontroller, searchparams : searchparams}">{teilnehmer.vorname}</f:link.action></td>
					<td class="tdcenter">{f:if(condition: '{teilnehmer.verificationDate} == 0', then: 'unbestätigt ({f:format.date(date: teilnehmer.crdate, format:"d.m.Y")})', else: '{f:format.date(date: teilnehmer.verificationDate, format:"d.m.Y")}')}</td>
					<td>{teilnehmer.plz} {teilnehmer.ort}</td>
					<td class="tdcenter">{f:if(condition: '{teilnehmer.geschlecht} == 2', then: '<span style="color: #84a0ff;">M</span>')}
					{f:if(condition: '{teilnehmer.geschlecht} == 1', then: '<span style="color: #fe7a84;">W</span>')}
					{f:if(condition: '{teilnehmer.geschlecht} == 3', then: '<span>D</span>')}</td>
					<td>{iqtp13db:isint(field:'{teilnehmer.geburtsland}',then:'{staatenarr.{teilnehmer.geburtsland}}',else:'{teilnehmer.geburtsland}')}</td>
					<td><f:if condition="{teilnehmer.berater.username} == ''"><f:then>
							<f:link.action action="takeover" arguments="{teilnehmer : teilnehmer, calleraction: calleraction, callercontroller : callercontroller, searchparams : searchparams}" title="Fall übernehmen"><img src="/fileadmin/template/images/iq-webapp_fall-uebernehmen.svg" alt="Fall übernehmen" width="30" height="30"/></f:link.action>
						</f:then>
						<f:else>
							{teilnehmer.berater.username}
						</f:else>
						</f:if>
					</td><td>
						<f:for each="{abschluesse.{teilnehmer.uid}}" as="abschluss" iteration="iter">
						 <f:if condition="{teilnehmer.beratungsstatus} < 2"><f:then>
						 		{f:if(condition: '{abschluesse.{teilnehmer.uid} -> f:count()} > 1', then: '{iter.index + 1}.', else: '')} {abschluss.deutscherReferenzberuf}<br>
						 	</f:then><f:else>
							<f:for each="{berufe}" as="beruf">
								<f:if condition="{beruf.berufid} == {abschluss.referenzberufzugewiesen}"><f:then>
									{f:if(condition: '{abschluesse.{teilnehmer.uid} -> f:count()} > 1', then: '{iter.index + 1}.', else: '')} 
									
									{f:if(condition: '{abschluss.referenzberufzugewiesen} == "-3"', then: '{abschluss.sonstigerberuf}')}
									{f:if(condition: '{abschluss.referenzberufzugewiesen} == "-4"', then: '{abschluss.nregberuf}')}
									{f:if(condition: '{abschluss.referenzberufzugewiesen} > -3', then: '{beruf.titel}')}
									<br>
								</f:then></f:if>
							</f:for>
							</f:else>
						 </f:if>						
						</f:for>
					</td>
					<td>{teilnehmer.kooperationgruppe}</td>
					<td>{summebdauer}</td>
					<td><f:link.action action="edit" arguments="{teilnehmer : teilnehmer, calleraction: calleraction, callercontroller : callercontroller, searchparams : searchparams}" title="Bearbeiten"><img src="/fileadmin/template/images/iq-webapp_bearbeiten.svg" alt="Bearbeiten" width="30" height="30"/></f:link.action></td>
					<td><f:if condition="{teilnehmer.verificationDate} == 0"><f:then><f:link.action action="askconsent" arguments="{teilnehmer : teilnehmer, searchparams : searchparams}" onclick="return confirm('E-Mail senden?');" title="Einwilligung anfordern"><img src="/fileadmin/template/images/iq-webapp_einwilligung-anfordern.svg" alt="Einwilligung anfordern" width="30" height="30" class="anfordernbtnimg"/></f:link.action></f:then></f:if></td>
					<td>
					<f:if condition="{teilnehmer.hidden}"><f:then>
							<f:link.action action="undelete" arguments="{tnuid : teilnehmer.uid, searchparams : searchparams}" onclick="return confirm('Wirklich wiederherstellen?');" title="Wiederherstellen"><img src="/fileadmin/template/images/iq-webapp_wiederherstellen.svg" alt="Wiederherstellen" width="30" height="30"/></f:link.action>
						</f:then><f:else>
							<f:link.action action="delete" arguments="{teilnehmer : teilnehmer, calleraction: calleraction, callercontroller : callercontroller, searchparams : searchparams}" onclick="return confirm('Wirklich löschen?');" title="Löschen"><img src="/fileadmin/template/images/iq-webapp_loeschen.svg" width="30" height="30" alt="Löschen" /></f:link.action>
						</f:else>
					</f:if>						
					</td>
				</tr>
				<f:if condition="{anzfolgekontakte.{teilnehmer.uid}} > 0"><f:then>
					<f:render partial="Folgekontakt/Folgekontakte4List" arguments="{folgekontakte : folgekontakte, teilnehmer : teilnehmer, calleraction: calleraction, callercontroller : callercontroller}" />
				</f:then></f:if>	
			</f:for>
		</f:groupedFor>
</table>
</div>


<div class="legende">
	<span style="font-weight: bold; font-size: 0.7rem; margin-left: 5px;">Legende:</span>
	<table>
		<tr>
			<td><span class="legendeanmeldungnichtbest"></span>Anmeldung noch nicht bestätigt</td>
			<td class="unbestaetigt-beraten"><span class="legendeanmeldungunbestaetigtberaten">Anm. nicht bestätigt trotz Beratung</span></td>
			<td class="bestaetigt"><span class="legendeanmeldungbest"></span>Anmeldung bestätigt</td>
			<td class="dublette"><span class="legendeanmeldungdoublette"></span>mögliche Dublette</td>
			<td class="geloescht"><span class="legendeanmeldunggelöscht"></span>Gelöscht</td>
		</tr>
		<tr>
			<td><img src="/fileadmin/template/images/iq-webapp_fall-uebernehmen.svg" alt="Fall übernehmen" width="30" height="30"/> = Fall übernehmen</td>
			<td><img src="/fileadmin/template/images/iq-webapp_bearbeiten.svg" alt="Bearbeiten" width="30" height="30"/> = Bearbeiten</td>
			<td><img src="/fileadmin/template/images/iq-webapp_AQB-PLZ.svg" alt="AQB nach PLZ" width="30" height="30"/> = Ratsuchende zu Beratungsstelle<br>nach PLZ übertragen</td>
			<td><img src="/fileadmin/template/images/iq-webapp_einwilligung-anfordern.svg" alt="Einwilligung anfordern" width="30" height="30"/> = Einwilligung anfordern</td>
			<td><img src="/fileadmin/template/images/iq-webapp_loeschen.svg" width="30" height="30" alt="Löschen" /> = Löschen</td>
		</tr>

		
		
	</table>
</div>
</f:section>

