<f:section name="HeaderAssets">
  		<link rel="stylesheet" href="{f:uri.resource(path: 'CSS/customtp13dbadmin.css')}"/>  		
</f:section>

<f:layout name="DefaultBackend" />
 
<f:section name="main">
<div class="uebersicht-beratungsstelle">
	<div><span class="label-beratungsstelle">Beratungsstelle:</span> <span class="value-beratungsstelle">{beratungsstelle}</span></div>
	<div><span class="label-beratungsstelle">Beratungsstellen-ID:</span> <span class="value-beratungsstelle">{niqbid}</span></div>
	<div><span class="label-beratungsstelle">Berater*in:</span> <span class="value-beratungsstelle">{username}</span></div>
	<div><f:link.action class="linkbuttons" action="saveAVpdf" controller="Backend">AV-Vertrag</f:link.action></div>
</div>

<h2>PLZ Abfrage Beratungsstelle</h2>
<div>
<f:form method="post" controller="Backend" action="status" name="checkplz" enctype="multipart/form-data" >
	<label for="jahrauswahl">Eingabe PLZ</label>
	<f:form.textfield name="plzeingabe" value="{plzinput}"/>
	<f:form.button type="submit" class="linkbuttons" name="zeigebstelle">Zuständige Beratungsstelle</f:form.button>
</f:form>
<f:if condition="{bstellevonplz}">
	<div style="background-color: #6060601c; margin-top: 1rem; width: 60rem; padding: 1rem">
		<f:format.raw>{bstellevonplz.description}</f:format.raw>
	</div>
</f:if>
</div>

<h1>Status aktuell</h1>

<f:flashMessages />

<table class="uebersicht-status">
	<tr>
		<td>Anmeldungen wartend</td>
		<td>{aktuelleanmeldungen}</td>
	</tr>
	<tr>
		<td>Erstberatungen laufend</td>
		<td>{aktuellerstberatungen}</td>
	</tr>
	<tr>
		<td>Erstberatungen abgeschlossen</td>
		<td>{aktuellberatungenfertig}</td>
	</tr>
	<tr>
		<td>Total archiviert</td>
		<td>{archivierttotal}</td>
	</tr>
</table>

<h1>Anmeldungen (nur bestätigte) letzte 7 Tage</h1>
<table>
	<tbody>
	<tr>
		<f:for each="{neuanmeldungen7tage}" as="neuanmeld" iteration="iter">
			<th>{neuanmeld.tag}</th>
		</f:for>
	</tr>
	<tr>
		<f:for each="{neuanmeldungen7tage}" as="neuanmeld" iteration="iter">
			<td>{neuanmeld.wert}</td>
		</f:for>
	</tr>
	</tbody>
</table>
<br>
<h2>Statistik letzte 12 Monate</h2>
<f:form method="post" controller="Backend" action="status" name="switchjahr" enctype="multipart/form-data" >
	<label for="jahrauswahl">Auswahl Jahr</label>
	<f:form.select name="jahrauswahl" id="selectjahr" options="{jahrauswahl}" prependOptionValue="0" prependOptionLabel="-letzte 12 Monate-" value="{jahrselected}"/>
	
	<f:form.button id="linkloadoverlay-export" type="submit" name="showstats">Statistik anzeigen</f:form.button>
	<f:form.button type="submit" class="linkbuttons" id="savebutton1" name="statsexport">Statistik exportieren</f:form.button>
</f:form>

<table class="uebersicht-statistik">
	<tr>
		<th></th>
		<f:for each="{monatsnamen}" as="monat" iteration="iter">
			<th {f:if(condition: '{iter.index} == {aktmonat}', then: 'style="background-color: #ffcaf2;"')}> {monat} {f:if(condition: '{iter.index} > {aktmonat}', then: '{headerjahrweiteremonate}', else: '{diesesjahr}')}</th>
		</f:for>
		<th>Summe</th>
	</tr>
	<tr>
		<th>Anmeldungen<br>(wartend)</th>
		<f:for each="{angemeldeteTN}" as="tn" iteration="iter">
			<td {f:if(condition: '{iter.index} == {aktmonat}', then: 'style="background-color: #ffcaf2;"')}>{tn}</td>
		</f:for>
		<td>{SUMangemeldeteTN}</td>
	</tr>
	<tr>
		<th>Erstberatungen</th>
		<f:for each="{erstberatung}" as="eb" iteration="iter">
			<td {f:if(condition: '{iter.index} == {aktmonat}', then: 'style="background-color: #ffcaf2;"')}>{eb}</td>
		</f:for>
		<td>{SUMerstberatung}</td>
	</tr>
	<f:if condition="({niqbid} == '900026' || {niqbid} == '900143') && {jahrselected} == '2023'">
		<tr>
			<th>FK/Beratungen aus alter Förderphase</th>
			<f:for each="{beratungfk22}" as="fkeb" iteration="iter">
				<td {f:if(condition: '{iter.index} == {aktmonat}', then: 'style="background-color: #ffcaf2;"')}>{fkeb}</td>
			</f:for>
			<td>{SUMberatungfk22}</td>
		</tr>
	</f:if>
	<tr>
		<th>Folgekontakte 
		<f:if condition="({niqbid} == '900026' || {niqbid} == '900143') && {jahrselected} == '2023'">
			(inkl. alte Föpha)
		</f:if></th>
		<f:for each="{qfolgekontakte}" as="qf" iteration="iter">
			<td {f:if(condition: '{iter.index} == {aktmonat}', then: 'style="background-color: #ffcaf2;"')}>{qf}</td>
		</f:for>
		<td>{SUMqfolgekontakte}</td>
	</tr>	
	<tr>
		<th>Beratungen fertig</th>
		<f:for each="{beratungfertig}" as="bf" iteration="iter">
			<td {f:if(condition: '{iter.index} == {aktmonat}', then: 'style="background-color: #ffcaf2;"')}>{bf}</td>
		</f:for>
		<td>{SUMberatungfertig}</td>
	</tr>
	<tr>
		<th>&Oslash; Tage Wartezeit</th>
		<f:for each="{totalavgmonthw}" as="avgw" iteration="iter">
			<td {f:if(condition: '{iter.index} == {aktmonat}', then: 'style="background-color: #ffcaf2;"')}><f:format.number>{avgw}</f:format.number></td>
		</f:for>
		<td><f:format.number>{SUMtotalavgmonthw}</f:format.number></td>
	</tr>
	</tr>
		<tr>
		<th>&Oslash; Tage Beratungsdauer</th>
		<f:for each="{totalavgmonthb}" as="avgb" iteration="iter">
			<td {f:if(condition: '{iter.index} == {aktmonat}', then: 'style="background-color: #ffcaf2;"')}><f:format.number>{avgb}</f:format.number></td>
		</f:for>
		<td><f:format.number>{SUMtotalavgmonthb}</f:format.number></td>
	</tr>
</table>

<hr>

<details>
	<summary>Historie Änderung Daten Ratsuchende im Backend</summary>
	<div class="toppaginator">
		<f:render partial="Paginator" arguments="{pagination: pagination, pages: pages, paginator: paginator, action: calleraction}" />
	</div>
		<table class="uebersicht-historie" >
			<tr>
				<th>Datum/Zeit</th>
				<th>Kürzel</th>
				<th>Teilnehmer</th>
				<th>Feld</th>
				<th>alter Wert</th>
				<th>neuer Wert</th>
			</tr>
		
			<f:for each="{paginator.paginatedItems}" as="hist" iteration="it">
				<tr>		
					<td>{hist.tstamp -> f:format.date(format: "d.m.Y H:i")}</td>
					<td>{hist.berater.username}</td>
					<td>{hist.teilnehmer.nachname}, {hist.teilnehmer.vorname} (UID: {hist.teilnehmer.uid})</td>
					<td>{hist.property}</td>
					<td><f:format.raw>{hist.oldvalue}</f:format.raw></td>
					<td><f:format.raw>{hist.newvalue}</f:format.raw></td> 
				</tr>
			</f:for>
		</table>
</details>

</f:section>