
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Beratung</h1>

<f:flashMessages />

<table  class="tx_iqtp13db" >
	<tr>
		<th><f:translate key="tx_iqtp13db_domain_model_beratung.chiffre" /></th>
		<th><f:translate key="tx_iqtp13db_domain_model_beratung.prozess" /></th>
		<th><f:translate key="tx_iqtp13db_domain_model_beratung.datum" /></th>
		<th><f:translate key="tx_iqtp13db_domain_model_beratung.folgekontakt" /></th>
		<th><f:translate key="tx_iqtp13db_domain_model_beratung.ort" /></th>
		<th><f:translate key="tx_iqtp13db_domain_model_beratung.anfrage_durch" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{beratungs}" as="beratung">
		<tr>
			<td><f:link.action action="show" arguments="{beratung : beratung}"> {beratung.chiffre}</f:link.action></td>
			<td><f:link.action action="show" arguments="{beratung : beratung}"> {beratung.prozess}</f:link.action></td>
			<td><f:link.action action="show" arguments="{beratung : beratung}"> {beratung.datum -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{beratung : beratung}"> {beratung.folgekontakt}</f:link.action></td>
			<td><f:link.action action="show" arguments="{beratung : beratung}"> {beratung.ort}</f:link.action></td>
			<td><f:link.action action="show" arguments="{beratung : beratung}"> {beratung.anfrageDurch}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{beratung : beratung}">Bearbeiten</f:link.action></td>
			<td><f:link.action action="delete" arguments="{beratung : beratung}">Löschen</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Beratung</f:link.action>
</f:section>