<tr>
	<td class="fktd" colspan="19"><span class="togglebutton" id="fk{teilnehmer.uid}" onclick="showFolgekontakt({teilnehmer.uid});">Folgekontakte UID: {teilnehmer.uid}</span>
		<table class="fktable" id="fkt{teilnehmer.uid}">
			<tr>
				<th>Datum</th>
				<th>Berater*in</th>
				<th>Inhalt der Beratung</th>
				<th style="hyphens: auto;">Beratungsdauer (in h)</th>
				<th>Bearbeiten</th>
				<th>Löschen</th>
			</tr>
 
			<f:for each="{folgekontakte}" as="folgekontakt" iteration="itera">
				<f:if condition="{folgekontakt.teilnehmer.uid} == {teilnehmer.uid}">
					<f:then>
						<tr>
							<td class="fklistdatum"><f:link.action action="show" arguments="{folgekontakt:folgekontakt, calleraction: calleraction, callercontroller : callercontroller, callerpage : callerpage}" controller="Folgekontakt">{folgekontakt.datum}</f:link.action></td>
							<td class="fklistberater">{folgekontakt.berater.username}</td>
							<td class="fklistinhalt"><f:format.crop maxCharacters="200" append="&nbsp;...">{folgekontakt.notizen}</f:format.crop></td>
							<td>{folgekontakt.beratungsdauer}</td>
							<td><f:link.action action="edit" arguments="{folgekontakt:folgekontakt, calleraction: calleraction, callercontroller : callercontroller, callerpage : callerpage}" controller="Folgekontakt" title="Bearbeiten"><img src="/fileadmin/template/images/iq-webapp_bearbeiten.svg" alt="Bearbeiten" width="30" height="30"/></f:link.action></td>
							<td><f:link.action action="delete" arguments="{folgekontakt:folgekontakt, calleraction: calleraction, callercontroller : callercontroller, callerpage : callerpage}" controller="Folgekontakt" onclick="return confirm('Wirklich löschen?');" title="Löschen"><img src="/fileadmin/template/images/iq-webapp_loeschen.svg" width="30" height="30" alt="Löschen" /></f:link.action></td>
						</tr>
					</f:then>
				</f:if>
			</f:for>
		</table></td>
</tr>