<tr>
	<td class="fktd" colspan="16"><span class="togglebutton" id="fk{teilnehmer.uid}" onclick="showFolgekontakt({teilnehmer.uid});">Folgekontakte</span>
		<table class="fktable" id="fkt{teilnehmer.uid}">
			<tr>
				<th>Datum</th>
				<th>Berater*in</th>
				<th>Inhalt der Beratung</th>
				<th>Bearbeiten</th>
				<th>Löschen</th>
			</tr>
 
			<f:for each="{folgekontakte}" as="folgekontakt" iteration="itera">
				<f:if condition="{folgekontakt.teilnehmer.uid} == {teilnehmer.uid}">
					<f:then>
						<tr>
							<td class="fklistdatum"><f:link.action action="show" arguments="{folgekontakt:folgekontakt, calleraction: calleraction, callercontroller : callercontroller}" controller="Folgekontakt">{folgekontakt.datum}</f:link.action></td>
							<td class="fklistberater">{folgekontakt.berater.username}</td>
							<td class="fklistinhalt"><f:format.crop maxCharacters="200" append="&nbsp;...">{folgekontakt.notizen}</f:format.crop></td>
							<td><f:link.action class="linkbuttons" action="edit" arguments="{folgekontakt:folgekontakt, calleraction: calleraction, callercontroller : callercontroller, callerpage : callerpage}" controller="Folgekontakt">Bearbeiten</f:link.action></td>
							<td><f:link.action class="linkbuttons" action="delete" arguments="{folgekontakt:folgekontakt, calleraction: calleraction, callercontroller : callercontroller, callerpage : callerpage}" controller="Folgekontakt" onclick="return confirm('Wirklich löschen?');">Löschen</f:link.action></td>
						</tr>
					</f:then>
				</f:if>
			</f:for>
		</table></td>
</tr>