 <h2><f:translate key="dokumenthochladen" /></h2>
  
<div class="tp13_formdivwebapp">
	<label for="lebenslauf">{f:translate(key='lebenslauf')}</label>
	<f:render partial="Dokument/UploadDokFeld4Anmeldung" arguments="{teilnehmer : teilnehmer, dokumente: dokumente, anzdateien : anzdateien, dokumenttyp : 'Lebenslauf', formnumber : 1}" />
</div>	

<div class="tp13_formdivwebapp">
	<label for="abschlussdokumente">{f:translate(key='abschlussdokumente')}</label>
	<f:render partial="Dokument/UploadDokFeld4Anmeldung" arguments="{teilnehmer : teilnehmer, dokumente: dokumente, anzdateien : anzdateien, dokumenttyp : 'Abschlussdokumente', formnumber : 2}" />
</div>	

<div class="tp13_formdivwebapp">
	<label for="aufenthaltsdokumente">{f:translate(key='aufenthaltsdokumente')}</label>
	<f:render partial="Dokument/UploadDokFeld4Anmeldung" arguments="{teilnehmer : teilnehmer, dokumente: dokumente, anzdateien : anzdateien, dokumenttyp : 'Aufenthaltsdokumente', formnumber : 3}" />
</div>	

<div class="tp13_formdivwebapp">
	<label for="sonstigedokumente">{f:translate(key='sonstigedokumente')}</label>
	<f:render partial="Dokument/UploadDokFeld4Anmeldung" arguments="{teilnehmer : teilnehmer, dokumente: dokumente, anzdateien : anzdateien, dokumenttyp : 'Sonstige Dokumente', formnumber : 4}" />					
</div>
	
	
	