
<div class="fframe" id="AnkerDokumente"><h2><f:translate key="dokumente" /></h2>
	<f:if condition="{dokumente}"><f:then>
		<table>
			<thead>
				<th>Dateiname</th>
				<th></th>
			</thead>
			
			<f:for each="{dokumente}" as="dokument" iteration="iter">
					<tr>
						<td>
							<f:if condition="{filesizes.{iter.index}} == 0"><f:then>
								Datei {dokument.name} wurde nicht vollständig hochgeladen oder ist defekt.
							</f:then><f:else>
								<f:link.action action="openfileextern" controller="Dokument" arguments="{dokument : dokument, teilnehmer : teilnehmer}" target="_blank">{dokument.name}</f:link.action>
							</f:else>
							</f:if>
						</td>						
						<td><f:link.action class="iconbuttons" action="deletefileextern" controller="Dokument" arguments="{dokument : dokument, teilnehmer : teilnehmer}" onclick="return confirm('Wirklich löschen?');" ><img src="/typo3conf/ext/iqtp13db/Resources/Public/Icons/delete-640.png" width="32" height="32" alt="Löschen" /></f:link.action></td>
					</tr>		
			</f:for>
		</table>
		<div id="response"></div>
		<div style="font-size: 0.8rem;">Auslastung: {speicherbelegung} %</div>
	</f:then></f:if>
  
	<f:form method="post" action="uploadfileextern" controller="Dokument" name="dokument" object="{dokument}" arguments="{teilnehmer : teilnehmer}" enctype="multipart/form-data" ><br />
		<div class="tp13_formdiv100 dokupload">
				<f:form.upload name="file" />
				<f:form.button type="submit" class="linkbuttons updatebutton" id="savebutton2"><f:translate key='dokumenthochladen' /></f:form.button>
  		</div>
	</f:form>
</div>