 <h2><f:translate key="dokumenthochladen" /></h2>
	<table class="dokumenteupload">
		<tr class="dokcattr">
			<td>
				<label for="lebenslauf">{f:translate(key='lebenslauf')}</label>
			</td>
			<td class="dokumenteuploadform">
				<f:form method="post" action="saveFileWebapp" name="dokument" controller="Dokument" arguments="{teilnehmer:teilnehmer}" object="{dokument}" enctype="multipart/form-data" >
					<f:form.button class="linkbuttons" type="button" onclick="document.getElementById('lebenslaufuploadbutton').click()"><f:translate key="dokumentauswaehlen" /></f:form.button>
					<f:form.upload id="lebenslaufuploadbutton" name="file" style="display:none" />
  					<f:form.hidden name="beschreibung" value="Lebenslauf" />
				</f:form>					
			</td>
			<td></td>			
		</tr>
			<f:for each="{dokumente}" as="dokument">
				<f:if condition="{dokument.beschreibung} == 'Lebenslauf'">
					<tr>
						<td class="dokumentliste">{dokument.name}</td>
						<td class="dokumentliste">
							{f:translate(key='lebenslauf')}
						</td>
						<td><f:link.action class="iconbuttons" action="deleteFileWebapp" controller="Dokument" arguments="{dokument : dokument, teilnehmer : teilnehmer}" onclick="$('#overlay').show();"><img src="/typo3conf/ext/iqtp13db/Resources/Public/Icons/delete-640.png" width="32" height="32" alt="{f:translate(key='loeschen')}" /></f:link.action></td>
					</tr>	
				</f:if>	
			</f:for>
		
		<tr class="dokcattr">
			<td>
				<label for="abschlussdokumente">{f:translate(key='abschlussdokumente')}</label>
			</td>
			<td class="dokumenteuploadform">
				<f:form method="post" action="saveFileWebapp" name="dokument" controller="Dokument" arguments="{teilnehmer:teilnehmer}" object="{dokument}" enctype="multipart/form-data" >
					<f:form.button class="linkbuttons" type="button" onclick="document.getElementById('abschlussdokuploadbutton').click()"><f:translate key="dokumentauswaehlen" /></f:form.button>
					<f:form.upload id="abschlussdokuploadbutton" name="file" style="display:none" />
					<f:form.hidden name="beschreibung" value="Abschlussdokumente" />
				</f:form>
			</td>
			<td></td>			
		</tr>
			<f:for each="{dokumente}" as="dokument">
				<f:if condition="{dokument.beschreibung} == 'Abschlussdokumente'">
					<tr>
						<td class="dokumentliste">{dokument.name}</td>
						<td class="dokumentliste">
							{f:translate(key='abschlussdokumente')}
						</td>
						<td><f:link.action class="iconbuttons" action="deleteFileWebapp" controller="Dokument" arguments="{dokument : dokument, teilnehmer : teilnehmer}" onclick="$('#overlay').show();"><img src="/typo3conf/ext/iqtp13db/Resources/Public/Icons/delete-640.png" width="32" height="32" alt="{f:translate(key='loeschen')}" /></f:link.action></td>
					</tr>		
				</f:if>
			</f:for>
		<tr class="dokcattr">	
			<td>
				<label for="aufenthaltsdokumente">{f:translate(key='aufenthaltsdokumente')}</label>
			</td>
			<td class="dokumenteuploadform">
				<f:form method="post" action="saveFileWebapp" name="dokument" controller="Dokument" arguments="{teilnehmer:teilnehmer}" object="{dokument}" enctype="multipart/form-data" >
					<f:form.button class="linkbuttons" type="button" onclick="document.getElementById('aufenthaltdokuploadbutton').click()"><f:translate key="dokumentauswaehlen" /></f:form.button>
					<f:form.upload id="aufenthaltdokuploadbutton" name="file" style="display:none" />
					<f:form.hidden name="beschreibung" value="Aufenthaltsdokumente" />
				</f:form>		
			</td>
			<td></td>			
		</tr>
			<f:for each="{dokumente}" as="dokument">
				<f:if condition="{dokument.beschreibung} == 'Aufenthaltsdokumente'">
					<tr>
						<td class="dokumentliste">{dokument.name}</td>
						<td class="dokumentliste">
							{f:translate(key='aufenthaltsdokumente')}
						</td>
						<td><f:link.action class="iconbuttons" action="deleteFileWebapp" controller="Dokument" arguments="{dokument : dokument, teilnehmer : teilnehmer}" onclick="$('#overlay').show();"><img src="/typo3conf/ext/iqtp13db/Resources/Public/Icons/delete-640.png" width="32" height="32" alt="{f:translate(key='loeschen')}" /></f:link.action></td>
					</tr>
				</f:if>
			</f:for>
		<tr class="dokcattr">
			<td>
				<label for="sonstigedokumente">{f:translate(key='sonstigedokumente')}</label>
			</td>
			<td class="dokumenteuploadform">
				<f:form method="post" action="saveFileWebapp" name="dokument" controller="Dokument" arguments="{teilnehmer:teilnehmer}" object="{dokument}" enctype="multipart/form-data" >
					<f:form.button class="linkbuttons" type="button" onclick="document.getElementById('sonstigedokuploadbutton').click()"><f:translate key="dokumentauswaehlen" /></f:form.button>
					<f:form.upload id="sonstigedokuploadbutton" name="file" style="display:none" />
					<f:form.hidden name="beschreibung" value="Sonstige Dokumente" />
				</f:form>		
			</td>
			<td></td>		
		</tr>
			<f:for each="{dokumente}" as="dokument">
				<f:if condition="{dokument.beschreibung} == 'Sonstige Dokumente'">
					<tr>
						<td class="dokumentliste">{dokument.name}</td>
						<td class="dokumentliste">
							{f:translate(key='sonstigedokumente')}
						</td>
						<td><f:link.action class="iconbuttons" action="deleteFileWebapp" controller="Dokument" arguments="{dokument : dokument, teilnehmer : teilnehmer}" onclick="$('#overlay').show();"><img src="/typo3conf/ext/iqtp13db/Resources/Public/Icons/delete-640.png" width="32" height="32" alt="{f:translate(key='loeschen')}" /></f:link.action></td>
					</tr>		
				</f:if>
			</f:for>
	</table>
	<br>
	
	
	