<div class="dokumenteuploadform">
	<f:form action="savemultiFileBackend" id="fileuploadform" controller="Dokument" name="dokument" arguments="{teilnehmer:teilnehmer, calleraction : calleraction, callercontroller : callercontroller, callerpage : callerpage, thisaction : thisaction}" method="post" enctype="multipart/form-data">
	    <div id="dropzone" class="dropzone">
	    	<div class="dropzone-inner">
	    		<img id="dropzoneimg" src="/fileadmin/template/images/iq_upload_icon.svg" width="100" height="100"/>
	    		<span class="descdragdrop">{f:translate(key='uploaddropfile')}</span>
	    	</div>       
	        <f:form.upload name="file" id="fileInput" multiple="multiple" />		                
	    </div>
	    <div class="opensysfileuploaddiv">
	    	<p class="fileuploadoder">
	    		<f:form.button class="linkbuttons" id="opensysfileupload" type="button">Dateien auswählen</f:form.button>
	    	</p>
	    </div>
	</f:form>
</div>

<div class="dokumenteliste">						
	<f:for each="{dokumente}" as="dokument">	
		<f:if condition="{dokument.beschreibung} == {dokumenttyp}">					
			<div class="dokitem">
				<span>{dokument.name}</span>
				<span><f:link.action class="iconbuttons" action="deleteFileWebapp" controller="Dokument" arguments="{dokument : dokument, teilnehmer : teilnehmer}" onclick="$('#overlay').show();"><img src="/typo3conf/ext/iqtp13db/Resources/Public/Icons/delete-640.png" width="32" height="32" alt="{f:translate(key='loeschen')}" /></f:link.action></span>
			</div>						
		</f:if>
	</f:for>
</div>