<div class="dokumenteuploadform">

	<f:if condition="{anzdateien} < 20"><f:then>
		<f:form action="savemultiFileWebapp" id="fileuploadform1" controller="Dokument" name="dokument" arguments="{teilnehmer: teilnehmer, calleraction : calleraction}" method="post" enctype="multipart/form-data">
		    <div id="dropzone1" class="dropzone">
		    	<div class="dropzone-inner">
		    		<img src="/fileadmin/template/images/iq_upload_icon.svg" width="100" height="100"/>
		    		<span class="descdragdrop">{f:translate(key='uploaddropfile')}</span>
		    	</div>       
		        <f:form.upload name="file" id="fileInput1" multiple="multiple" />	
		        <f:form.hidden name="beschreibung" value="{dokumenttyp}" />        
		    </div>
		    <div class="opensysfileuploaddiv">
		    	<p class="fileuploadoder">
		    		<f:form.button class="linkbuttons" id="opensysfileupload1" type="button">{f:translate(key='dokumentauswaehlen')}</f:form.button>
		    	</p>
		    </div>
		</f:form>
	</f:then><f:else>
		<div class="maxuploadhinweis">Es können maximal 20 Dateien hochgeladen werden.</div>
	</f:else>
	</f:if>
</div>
