{namespace iq = Ud\Iqtp13db\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">

<div class="footer-language languagemenu-webapp">
	<span id="chooselang"><img src="/fileadmin/template/images/globe-language.svg" width="24" height="24"/> Language</span>
	<iq:formAwareLanguageMenu currentStep="{anmeldseite}" class="language-menu" teilnehmer="{teilnehmer.uid}" />
</div>

<h1><f:translate key="fragebogen" /> 2 / 4</h1>

<div id="dialog-confirm" title="Webapp - IQ Anerkennungsberatung">
  <p><span class="ui-icon ui-icon-alert"></span><f:translate key="dialoganmeldungabbrechen" /></p>
</div>

<f:form.validationResults for="{object}">
	<f:if condition="{validationResults.flattenedErrors}">
		<div class="error">
			&nbsp;<b><f:translate key="errormessage" /></b>
		</div>
	</f:if>
</f:form.validationResults>

<!-- Modal - HTML -->
	<dialog id="infomodal">
	  <h3>Info</h3>
	  <div id="modaltext"></div>
	  <button id="okModal">OK</button>
	</dialog>
	
<f:flashMessages />

<div class="frameabschluesse">

	<div id="AnkerAbschluesse" class="fframe formabschluss">
		<h2><f:translate key="datenabschluss" /></h2>
		<f:if condition="{abschluesse -> f:count()} == 0">
			<div class="keinabschlussbisher"><f:translate key="keinabschlussbisher" /></div>
		</f:if>
		<f:render partial="Abschluss/AbschlussListe4Anmeldung" arguments="{teilnehmer : teilnehmer, abschluesse: abschluesse, abschlussartarr : abschlussartarr, arrbranche : arrbranche}" />
		<f:if condition="{abschluesse -> f:count()} < 4">
			<f:if condition="{abschluesse -> f:count()} > 0">
				<f:then>
					<f:link.action id="abschlusshinzubutton" class="linkbuttons frontend" name="btnabschlusshinzu" action="newWebapp" controller="Abschluss" arguments="{teilnehmer : teilnehmer}"><f:translate key='weitererabschlusshinzu' /></f:link.action>
				</f:then>
				<f:else>
					<f:link.action id="abschlusshinzubutton" class="linkbuttons frontend" name="btnabschlusshinzu" action="newWebapp" controller="Abschluss" arguments="{teilnehmer : teilnehmer}"><f:translate key='abschlusshinzu' /></f:link.action>
				</f:else>
			</f:if>
			
		</f:if>
			
	</div>

	<f:form id="teilnehmerform" action="anmeldseite2redirect" name="teilnehmer" object="{teilnehmer}">
			<f:form.button type="submit" id="zurueckbutton" name="btnzurueck"><f:translate key="zurueck" /></f:form.button>
			<f:form.button type="submit" id="weiterbutton" name="btnweiter"><f:translate key="weiter" /></f:form.button> 
			
			<f:if condition="{iseditextern} != 0">
				<f:then>
					
				</f:then><f:else>
					<f:form.button type="submit" class="abbruchbtn frontend" onclick="return btncancel_Click(0);"><f:translate key="abbruch" /></f:form.button>
				</f:else>
			</f:if>			
	</f:form>
			
</div>
<span style="color: #efefef; font-size: 0.8rem; float: right;">{beratungsstelle}</span>
<script>
	
	// Modal - JavaScript
	const modal = document.getElementById("infomodal");
	const modaltext = document.getElementById("modaltext");
	const okModal = document.getElementById("okModal");
	
	var dellink = '';
	var cancellink = '';

	function showModal(elem) {		
		title = elem.getAttribute("title");
		modaltext.innerHTML = "<p>" + title + "</p>";
		modal.showModal();
		return false;
	}
	

	okModal.addEventListener("click", () => {
		modal.close();	    
	});
	
</script>

</f:section>