
<f:layout name="Default" />

<f:section name="main">

<div class="iq-teaser-logo-ohne-rand frame-type-text frame-layout-0 frame-no-backgroundimage frame-space-before-none frame-space-after-none">
	<div class="defaultframe">
		<div class="frame-inner">
			<h1 class="text-center">Webapp - IQ Anerkennungsberatung</h1>
		</div>
	</div>
</div>
<div class="iq-teaser-weiss-integrationsbetriebe frame-type-text frame-layout-0 frame-no-backgroundimage frame-space-before-none frame-space-after-none">
	<div class="defaultframe">
		<div class="frame-inner">
			<f:format.html><f:translate key="tx_iqtp13db_domain_model_teilnehmer.startseitetext" /></f:format.html>
			
			<f:link.action class="linkbuttons frontend" action="anmeldseite1" arguments="{wohnsitzDeutschland : wohnsitzDeutschland, plz : plz}">&gt;&gt; <f:translate key="tx_iqtp13db_domain_model_teilnehmer.linkanmeldeseitetext" /></f:link.action>		
		</div>
	</div>
</div>


<span style="color: #efefef; font-size: 0.8rem; float: right;">{beratungsstelle}</span>
</f:section>