
<f:layout name="Default" />

<f:section name="main">
<h1><f:translate key="fragebogen" /> 1 / 4</h1>

<div id="dialog-confirm" title="Webapp - IQ Anerkennungsberatung">
  <p><span class="ui-icon ui-icon-alert"></span><f:translate key="dialoganmeldungabbrechen" /></p>
</div>

<f:render partial="FormErrors" arguments="{object:Teilnehmer}" />

<!-- Modal - HTML -->
	<dialog id="infomodal">
	  <h3>Info</h3>
	  <div id="modaltext"></div>
	  <button id="okModal">OK</button>
	</dialog>
	
<f:form id="teilnehmerform" action="anmeldseite1redirect" name="teilnehmer" object="{teilnehmer}" arguments="{direkt : direkt, wohnsitzDeutschland : wohnsitzDeutschland}">
		<f:render partial="Teilnehmer/FormFieldsAnmeldung1" arguments="{_all}" />
		<f:if condition="{iseditextern} != 0">
			<f:form.button type="submit" id="zurueckbutton" name="btnzurueck"><f:translate key="zurueck" /></f:form.button>
		</f:if>
		<f:form.button type="submit" id="weiterbutton" name="btnweiter"><f:translate key="weiter" /></f:form.button>
		
		<f:if condition="{iseditextern} != 0">
			<f:then>
				
			</f:then><f:else>
				<f:form.button type="submit" formmethod="post" formnovalidate="formnovalidate" name="btncancel" class="abbruchbtn frontend" onclick="return btncancel_Click();"><f:translate key="abbruch" /></f:form.button>
			</f:else>
		</f:if>
</f:form>
<span style="color: #efefef; font-size: 0.8rem; float: right;">{beratungsstelle}</span>


<script>
	
	// Modal - JavaScript
	const modal = document.getElementById("infomodal");
	const modaltext = document.getElementById("modaltext");
	const okModal = document.getElementById("okModal");
	
	var dellink = '';
	var cancellink = '';

	function showModal(elem) {		
		title = elem.getAttribute("title");
		modaltext.innerHTML = "<p>" + title + "</p>";
		modal.showModal();
		return false;
	}
	
	okModal.addEventListener("click", () => {
		modal.close();	    
	});
	
	
</script>
</f:section>