
<f:layout name="Default" />

<f:section name="main">
<h1><f:translate key="fragebogen" /> 4 / 4</h1>

<div id="dialog-confirm" title="Webapp - IQ Anerkennungsberatung">
  <p><span class="ui-icon ui-icon-alert"></span>Anmeldung abbrechen / Cancel registration?</p>
</div>

<f:flashMessages />
 
<f:form.validationResults for="{object}">
	<f:if condition="{validationResults.flattenedErrors}">
		<div class="error">
			&nbsp;<b>Bitte prüfen Sie die rot markierten Felder / Please check the red highlighted fields.</b>
		</div>
	</f:if>
</f:form.validationResults>
				
<div class="framedokumente">
	<div id="AnkerDokumente" class="fframe formdokument">		
		<f:render partial="Dokument/Dokumente4Anmeldung" arguments="{teilnehmer : teilnehmer, dokumente: dokumente}" />
	</div>
</div>

<hr>
<f:form id="teilinehmerform" action="anmeldungcompleteredirect" name="teilnehmer" object="{teilnehmer}">
	
	<f:form.button name="btnzurueck"><f:translate key="zurueck" /></f:form.button>
	<f:form.button type="button" name="btncancel" class="abbruchbtn" onclick="return btncancel_Click(0);"><f:translate key="abbruch" /></f:form.button>
	<f:form.button id="savebutton1" name="btnAbsenden"><f:translate key="absenden" /></f:form.button>
	
	<f:translate key="hinweisdatenueberpruefen" /> 
	<f:render partial="Teilnehmer/PropertiesAnmeldung" arguments="{teilnehmer:teilnehmer}" />
	
	<f:for each="{abschluesse}" as="abschluss" iteration="iter">
		<f:render partial="Abschluss/PropertiesAnmeldung" arguments="{abschluss:abschluss, iter: iter}" />
	</f:for>
	
	<f:form.button name="btnzurueck"><f:translate key="zurueck" /></f:form.button>
	<f:form.button type="button" name="btncancel" class="abbruchbtn" onclick="return btncancel_Click(0);"><f:translate key="abbruch" /></f:form.button>
	<f:form.button name="btnAbsenden"><f:translate key="absenden" /></f:form.button>
</f:form>

</f:section>
