
<f:layout name="Default" />

<f:section name="main">
<h1><f:translate key="fragebogen" /> 4 / 4</h1>

<div id="dialog-confirm" title="Webapp - IQ Anerkennungsberatung">
  <p><span class="ui-icon ui-icon-alert"></span><f:translate key="dialoganmeldungabbrechen" /></p>
</div>

<f:flashMessages />
 
<f:form.validationResults for="{object}">
	<f:if condition="{validationResults.flattenedErrors}">
		<div class="error">
			&nbsp;<b><f:translate key="errormessage" /></b>
		</div>
	</f:if>
</f:form.validationResults>
				
<div class="framedokumente">
	<div id="AnkerDokumente" class="fframe formdokument">		
		<f:render partial="Dokument/Dokumente4Anmeldung" arguments="{teilnehmer : teilnehmer, dokumente: dokumente, foldersize : foldersize}" />
	</div>
</div>

<hr>
<f:form id="teilnehmerform" action="anmeldungcompleteredirect" name="teilnehmer" object="{teilnehmer}">
	
	<f:form.button type="submit" id="zurueckbutton" name="btnzurueck"><f:translate key="zurueck" /></f:form.button>
	<f:form.button type="submit" name="btncancel" class="abbruchbtn frontend" onclick="return btncancel_Click(0);"><f:translate key="abbruch" /></f:form.button>
	<f:form.button type="submit" id="savebutton1" name="btnAbsenden"><f:translate key="absenden" /></f:form.button>
	
	<f:translate key="hinweisdatenueberpruefen" /> 
	<f:render partial="Teilnehmer/PropertiesAnmeldung" arguments="{teilnehmer:teilnehmer, staaten:staaten}" />
	
	<f:for each="{abschluesse}" as="abschluss" iteration="iter">
		<f:render partial="Abschluss/PropertiesAnmeldung" arguments="{abschluss:abschluss, iter: iter, staaten:staaten, abschlussartarr : abschlussartarr, brancheunterkat : brancheunterkat}" />
	</f:for>
	
	<f:form.button type="submit" id="zurueckbutton" name="btnzurueck"><f:translate key="zurueck" /></f:form.button>
	<f:form.button type="submit" name="btncancel" class="abbruchbtn frontend" onclick="return btncancel_Click(0);"><f:translate key="abbruch" /></f:form.button>
	<f:form.button type="submit" name="btnAbsenden"><f:translate key="absenden" /></f:form.button>
</f:form>

</f:section>
