<f:layout name="Default" />

<f:section name="main">
<h1><f:translate key="fragebogen" /> 2 / 4</h1>

<div id="dialog-confirm" title="Webapp - IQ Anerkennungsberatung">
  <p><span class="ui-icon ui-icon-alert"></span><f:translate key="dialoganmeldungabbrechen" /></p>
</div>

<f:form.validationResults for="{object}">
	<f:if condition="{validationResults.flattenedErrors}">
		<div class="error">
			&nbsp;<b>Bitte prüfen Sie die rot markierten Felder / Please check the red highlighted fields.</b>
		</div>
	</f:if>
</f:form.validationResults>

<f:flashMessages />

<div class="frameabschluesse">

	<div id="AnkerAbschluesse" class="fframe formabschluss">
		<h2><f:translate key="datenabschluss" /></h2>
		<f:if condition="{abschluesse -> f:count()} == 0">
			<div class="keinabschlussbisher">Noch keinen Berufsabschluss angegeben.<br>Bitte tragen Sie hier Informationen zu Ihrem Berufsabschluss (Universität oder Ausbildung) ein. Sie können auch mehrere Abschlüsse (Diplome, Zeugnisse) angeben.</div>
		</f:if>
		<f:render partial="Abschluss/AbschlussListe4Anmeldung" arguments="{teilnehmer : teilnehmer, abschluesse: abschluesse}" />
		<f:if condition="{abschluesse -> f:count()} < 4">
			<f:link.action id="abschlusshinzubutton" class="linkbuttons" name="btnabschlusshinzu"  action="newWebapp" controller="Abschluss" arguments="{teilnehmer : teilnehmer}"><f:translate key='abschlusshinzu' /></f:link.action>
		</f:if>	
	</div>

	<f:form id="teilnehmerform" action="anmeldseite2redirect" name="teilnehmer" object="{teilnehmer}">
			<f:form.button id="zurueckbutton" name="btnzurueck"><f:translate key="zurueck" /></f:form.button>
			<f:form.button id="weiterbutton" name="btnweiter"><f:translate key="weiter" /></f:form.button> 
			<f:form.button type="button" class="abbruchbtn" onclick="return btncancel_Click(0);"><f:translate key="abbruch" /></f:form.button>			
	</f:form>
			
</div>
<span style="color: #efefef; font-size: 0.8rem; float: right;">{beratungsstelle}</span>
</f:section>