
<f:layout name="Default" />

<f:section name="main">

<div class="anmeldstart-frame">
	<div class="iq-teaser-logo-ohne-rand frame-type-text frame-layout-0 frame-no-backgroundimage frame-space-before-none frame-space-after-none">
		<div class="defaultframe">
			<div class="frame-inner head-links">
				<f:if condition="{logourl} != ''">
					<f:then>
						<img class="head-logo-beratungsstelle" src="{logourl}" width="205" height="75" alt="Logo">
					</f:then>
				</f:if>
			</div>
			<div class="frame-inner head-mitte">
				<h1 class="text-center">IQ Beratungsportal</h1>
			</div>
			<div class="frame-inner head-rechts">
				<a href="https://www.charta-der-vielfalt.de/" target="_blank"><img class="head-logo-charta" src="/fileadmin/template/images/charta-der-vielfalt.svg" width="180" height="53" alt="Logo Charta der Vielfalt"></a>
			</div>
		</div>
	</div>
	<div class="iq-teaser-weiss-integrationsbetriebe frame-type-text frame-layout-0 frame-no-backgroundimage frame-space-before-none frame-space-after-none">
		<div class="defaultframe">
			<div class="frame-inner">
				<f:format.html><f:translate key="tx_iqtp13db_domain_model_teilnehmer.startseitetext" /></f:format.html>
				
				<f:link.action class="linkbuttons frontend" action="anmeldseite1" arguments="{beratungsstelle: beratungsstelle, wohnsitzDeutschland : wohnsitzDeutschland, plz : plz, direkt : direkt}"><f:translate key="tx_iqtp13db_domain_model_teilnehmer.linkanmeldeseitetext" /></f:link.action>		
			</div>
		</div>
	</div>
</div>

<span style="color: #efefef; font-size: 0.8rem; float: right;">{beratungsstelle}</span>

</f:section>