
<f:layout name="Default" />

<f:section name="main">
<h1><f:translate key="fragebogen" /> 1 / 4</h1>

<div id="dialog-confirm" title="Webapp - IQ Anerkennungsberatung">
  <p><span class="ui-icon ui-icon-alert"></span><f:translate key="dialoganmeldungabbrechen" /></p>
</div>

<f:form.validationResults for="{object}">
	<f:if condition="{validationResults.flattenedErrors}">
		<div class="errormessage">
			&nbsp;<b><f:translate key="errormessage" /></b>
		</div>
	</f:if>
</f:form.validationResults>

<f:form id="teilnehmerform" action="anmeldseite1redirect" name="tnseite1" object="{tnseite1}">
		<f:render partial="Teilnehmer/FormFieldsAnmeldung1" arguments="{_all}" />
		<f:form.button type="submit" id="weiterbutton" name="btnweiter"><f:translate key="weiter" /></f:form.button>
		<f:form.button type="submit" formmethod="post" formnovalidate="formnovalidate" name="btncancel" class="abbruchbtn frontend" onclick="return btncancel_Click();"><f:translate key="abbruch" /></f:form.button>
</f:form>
<span style="color: #efefef; font-size: 0.8rem; float: right;">{beratungsstelle}</span>
</f:section>