
<f:layout name="Default" />

<f:section name="main">
<h1><f:translate key="fragebogen" /> 3 / 4</h1>

<div id="dialog-confirm" title="Webapp - IQ Anerkennungsberatung">
  <p><span class="ui-icon ui-icon-alert"></span><f:translate key="dialoganmeldungabbrechen" /></p>
</div>

<f:form.validationResults for="{object}">
	<f:if condition="{validationResults.flattenedErrors}">
		<div class="error">
			&nbsp;<b><f:translate key="errormessage" /></b>
		</div>
	</f:if>
</f:form.validationResults>

<f:flashMessages />
<f:form id="teilnehmerform" action="anmeldseite3redirect" name="teilnehmer" object="{teilnehmer}">
		<f:render partial="Teilnehmer/FormFieldsAnmeldung3" arguments="{_all}" />
		<f:form.button type="submit" id="zurueckbutton" name="btnzurueck"><f:translate key="zurueck" /></f:form.button>
		<f:form.button type="submit" id="weiterbutton" name="btnweiter"><f:translate key="weiter" /></f:form.button>
		<f:form.button type="submit" name="btncancel" class="abbruchbtn frontend" onclick="return btncancel_Click(0);"><f:translate key="abbruch" /></f:form.button>
</f:form>

</f:section>