
<f:layout name="Default" />

<f:section name="main">
<h1>Daten löschen?</h1>

<f:flashMessages />

<f:render partial="FormErrors" arguments="{object:Teilnehmer}" />

<f:form action="deleteextern" name="teilnehmer" object="{Teilnehmer}" >
	<f:form.hidden name="uid" value="{uid}" />
	<f:form.button value="Abbrechen" name="cancelbutton" type="submit" >Nein, Abbrechen</f:form.button>
	<f:form.button value="Löschen" name="deletebutton" type="submit" >Ja, Löschen</f:form.button>
</f:form>
</f:section>