
<f:layout name="Default" />

<f:section name="main">


<div class="anmeldstart-frame">
	<div class="iq-teaser-logo-ohne-rand frame-type-text frame-layout-0 frame-no-backgroundimage frame-space-before-none frame-space-after-none">
		<div class="defaultframe">
			<div class="frame-inner head-links">
				
			</div>
			<div class="frame-inner head-mitte">
				<h1 class="text-center">IQ Beratungsportal</h1>
			</div>
			<div class="frame-inner head-rechts">
				<a href="https://www.charta-der-vielfalt.de/" target="_blank"><img class="head-logo-charta" src="/fileadmin/template/images/charta-der-vielfalt.svg" width="180" height="53" alt="Logo Charta der Vielfalt"></a>
			</div>
		</div>
	</div>
	<div class="frame-type-text frame-layout-0 frame-no-backgroundimage frame-space-before-none frame-space-after-none">
		<div class="defaultframe">
			<div class="frame-inner">
	
				<f:render partial="FormErrors" arguments="{object:Teilnehmer}" />
				
				<f:flashMessages />
				
				<div class="diveditexternlogin">		
					<f:form action="editexternredirect" name="teilnehmer" object="{teilnehmer}" arguments="{code : code, filedownload : filedownload}" >
							<b><f:translate key="editexternauthenticatelabel" /></b>
							<br><br>
							<div class="dt_formdivwebapp2">
								<label for="sfrage"><f:translate key="tx_iqtp13db_domain_model_teilnehmer.gebdat" /></label>
								<f:form.textfield type="date" name="authfrage" type="date" required="required" />
								<f:form.hidden value="{code}" name="code"/>
								<f:form.hidden value="{filedownload}" name="filedownload"/>
								<f:form.hidden value="{ohnepersdat}" name="ohnepersdat"/>		
							</div>
							
							<f:form.button name="btnAbsenden"><f:translate key="weiter" /></f:form.button>						
					</f:form>
				</div>	
			</div>
		</div>
	</div>
</div>

</f:section>