<f:layout name="Default" />

<f:section name="main">
<h1>IQ Beratungsportal</h1>

<f:render partial="FormErrors" arguments="{object:Teilnehmer}" />

<f:flashMessages />

<p>Hallo {teilnehmer.vorname} {teilnehmer.nachname},<br>
hier haben Sie die Möglichkeit, Ihre bei der Anmeldung angegebenen Daten zu bearbeiten:</p>

<f:link.action class="linkbuttons" action="editexternmenu" arguments="{thisaction : 'anmeldung'}">Daten bearbeiten</f:link.action><br>

<f:link.action class="linkbuttons" action="editexternmenu" arguments="{thisaction : 'protokolldownload'}">Beratungsprotokoll herunterladen</f:link.action><br>

<f:link.action class="linkbuttons" action="editexternmenu" arguments="{thisaction : 'abmelden'}">Logout</f:link.action><br>
	

</f:section>