<f:layout name="Default" />

<f:section name="main">


<div class="anmeldstart-frame">
	<div class="iq-teaser-logo-ohne-rand frame-type-text frame-layout-0 frame-no-backgroundimage frame-space-before-none frame-space-after-none">
		<div class="defaultframe">
			<div class="frame-inner head-links">
				
			</div>
			<div class="frame-inner head-mitte">
				<h1 class="text-center">IQ Beratungsportal</h1>
			</div>
			<div class="frame-inner head-rechts">
				<a href="https://www.charta-der-vielfalt.de/" target="_blank"><img class="head-logo-charta" src="/fileadmin/template/images/charta-der-vielfalt.svg" width="180" height="53" alt="Logo Charta der Vielfalt"></a>
			</div>
		</div>
	</div>
	<div class="defaultframe">
		<div class="frame-inner editexterninner">

			<f:render partial="FormErrors" arguments="{object:Teilnehmer}" />
			<f:flashMessages />
			
			<div class="fframe">
				<p><f:translate key="anredemail" /> {teilnehmer.vorname} {teilnehmer.nachname}!</p>
				
				<div style="background-color: #dedede; padding: 10px; border: 1px solid #222; margin-top: 15px;">
					<div style="font-size: 14px; color:#222222;">
						<b><f:translate key="kontaktberatungsstelle" /></b><br>
						<f:format.raw>{datenberatungsstelle}</f:format.raw>
					</div>
				</div>
				
			</div>
			
			<div class="fframe">
				<h2><f:translate key="persdaten" /></h2>
				<f:link.action class="linkbuttons frontend" action="editexternmenu" arguments="{thisaction : 'anmeldung'}">bearbeiten</f:link.action><br>
			</div>
			
			<div id="AnkerAbschluesse" class="fframe formabschluss">
				<h2><f:translate key="datenabschluss" /></h2>
				<f:if condition="{abschluesse -> f:count()} == 0">
					<div class="keinabschlussbisher"><f:translate key="keinabschlussbisher" /></div>
				</f:if>
				<f:render partial="Abschluss/AbschlussListe4Anmeldung" arguments="{teilnehmer : teilnehmer, abschluesse: abschluesse, abschlussartarr : abschlussartarr, arrbranche : arrbranche}" />
				<f:if condition="{abschluesse -> f:count()} < 4">
					<f:if condition="{abschluesse -> f:count()} > 0">
						<f:then>
							<f:link.action id="abschlusshinzubutton" class="linkbuttons frontend" name="btnabschlusshinzu" action="newWebapp" controller="Abschluss" arguments="{teilnehmer : teilnehmer}"><f:translate key='weitererabschlusshinzu' /></f:link.action>
						</f:then>
						<f:else>
							<f:link.action id="abschlusshinzubutton" class="linkbuttons frontend" name="btnabschlusshinzu" action="newWebapp" controller="Abschluss" arguments="{teilnehmer : teilnehmer}"><f:translate key='abschlusshinzu' /></f:link.action>
						</f:else>
					</f:if>
				</f:if>		
			</div>
			 
			<div id="AnkerDokumente" class="fframe">
				<h2><f:translate key="dokumente" /></h2>
				
				<f:if condition="{dokumente}"><f:then>
					<table class="doks">
						<thead>
							<th>Dateiname</th>
							<th>Dateigröße</th>
							<th>Kurzbeschreibung</th>
							<th></th>
						</thead>						
						<f:for each="{dokumente}" as="dokument" iteration="iter">
								<tr>
									<td>
										<f:if condition="{filesizes.{iter.index}} == 0"><f:then>
											Datei {dokument.name} wurde nicht vollständig hochgeladen oder ist defekt.
										</f:then><f:else>
											<f:link.action action="openfileextern" arguments="{dokument : dokument, teilnehmer : teilnehmer}" controller="Dokument" target="_blank">{dokument.name}</f:link.action>
										</f:else>
										</f:if>
									</td>
									<td>{filesizes.{iter.index}}</td>
									<td>
										<f:form id="dokumenteform1">
											<f:form.hidden id="dokid{iter.index}" name="dokid{iter.index}" value="{dokument.uid}" />
											<f:form.textfield id="dokdescrinput{iter.index}" data-num="{iter.index}" onblur="asyncdescriptionblur(this)" name="dokdescrinput{iter.index}" property="beschreibung" value="{dokument.beschreibung}" size="50" />																		
										</f:form>
									</td>					
									<td><f:if condition="({dokument.crdate} + 600) < {currenttimestamp}"><f:then>
											<f:link.action class="iconbuttons" action="deleteFileWebapp" controller="Dokument" arguments="{dokument : dokument, teilnehmer : teilnehmer, calleraction: 'editexternmenu'}" onclick="return confirm('Wirklich löschen?');$('#overlay').show();" ><img src="/typo3conf/ext/iqtp13db/Resources/Public/Icons/delete-640.png" width="32" height="32" alt="Löschen" /></f:link.action>
										</f:then>
										</f:if>
									</td>
								</tr>		
						</f:for>
					</table>	
					<div id="response"></div>
					<div style="font-size: 0.8rem;">Speichergröße: 30 MB, Auslastung: {speicherbelegung} %</div>
				</f:then></f:if>
				
				<f:render partial="Dokument/UploadDokFeld4EditExtern" arguments="{teilnehmer : teilnehmer, dokumente: dokumente, calleraction : calleraction, anzdateien : anzdateien, dokumenttyp : ''}" />
			</div>
			<div class="fframe">			
				<f:link.action class="linkbuttons frontend" action="editexternmenu" arguments="{thisaction : 'abmelden'}">Logout</f:link.action><br>
			</div>
		</div>
	</div>
</div>

<f:asset.script identifier="tndokupload" src="EXT:iqtp13db/Resources/Public/JS/tndokuploadEditExtern.js" />

</f:section>