<f:layout name="Default" />
<f:section name="HeaderAssets">
  		<link rel="stylesheet" href="{f:uri.resource(path: 'CSS/customtp13dbadmin.css')}"/>  		
</f:section>

<f:section name="main">

<f:if condition="{showabschluesse} == '1'">
<f:then>
	<script>
		(function($) {
		    $(document).ready(function() {
		    	location.href = "#AnkerAbschluesse";
		    });
		})(jQuery);		
	</script>
</f:then>
</f:if>
<f:if condition="{showdokumente} == '1'">
<f:then>
	<script>
		(function($) {
		    $(document).ready(function() {
		         location.href = "#AnkerDokumente";
		    });
		})(jQuery);		
	</script>
</f:then>
</f:if>

<f:render partial="FormErrors" arguments="{object:Teilnehmer}" />

<f:form id="teilnehmerform" action="update" name="teilnehmer" object="{teilnehmer}" arguments="{abschluss: abschluss, calleraction: calleraction, callercontroller : callercontroller, callerpage : callerpage}" >
	
	<div class="buttonmenu">
		<div class="toplinkbuttons">
			<f:form.button type="submit" id="savebutton1">Speichern</f:form.button>
			<f:link.action id="linkloadoverlay-back" class="linkbuttons" action="{calleraction}" controller="{callercontroller}" arguments="{callerpage : callerpage, tn : teilnehmer}">Zurück zur Liste</f:link.action>
		</div>		
		<div class="ankerbuttons">		
			<a href="#AnkerBeratung" class="linkbuttons buttonberatung" >Beratung anzeigen</a>
			<a href="#AnkerAbschluesse" class="linkbuttons buttonabschluesse" >Abschlüsse anzeigen</a>
			<a href="#AnkerDokumente" class="linkbuttons buttondokumente" >Dokumente anzeigen</a>
		</div>
	</div>
	
	<div class="edit-eingabefelder">
	<f:if condition="{edituserfield} != ''"><div class="edituserfield">Datensatz wird seit <strong>{edittstampfield} Uhr</strong> von {edituserfield} bearbeitet</div></f:if>
	<h1>Ratsuchende*n bearbeiten UID: {teilnehmer.uid}</h1>
	
	<f:flashMessages />
	
		<f:render partial="Teilnehmer/FormFields-Part1" arguments="{_all}" />
		
	 	<div id="AnkerBeratung">
	 		<f:render partial="Teilnehmer/FormFields-Part2" arguments="{_all}" />
	 	</div>
 	</div>
 	
</f:form>

<f:render partial="Abschluss/Abschluss4Teilnehmer" arguments="{teilnehmer : teilnehmer, abschluesse: abschluesse, calleraction: calleraction, callercontroller : callercontroller, callerpage : callerpage, thisaction : 'edit'}" />

<f:render partial="Dokument/Dokumente4Teilnehmer" arguments="{teilnehmer : teilnehmer, dokumente: dokumente, calleraction: calleraction, callercontroller : callercontroller, callerpage : callerpage, dokumentpfad : dokumentpfad, thisaction : 'edit'}" />

<f:flashMessages />

</f:section>