
<f:layout name="Default" />
<f:section name="HeaderAssets">
  		<link rel="stylesheet" href="{f:uri.resource(path: 'CSS/customtp13dbadmin.css')}"/>  		
</f:section>

<f:section name="main">
<h1>Ratsuchende*n bearbeiten</h1>

<f:flashMessages />

<f:render partial="FormErrors" arguments="{object:Teilnehmer}" />

<f:form action="update" name="teilnehmer" object="{teilnehmer}" arguments="{calleraction: calleraction, callercontroller : callercontroller}" >
	<f:form.submit value="Speichern" />
	<f:link.action class="linkbuttons" action="{calleraction}" controller="{callercontroller}">Zurück zur Liste</f:link.action>

	<f:render partial="Teilnehmer/FormFieldsErstberatung" arguments="{_all}" />

	<f:if condition="{dokumente}"><f:then>
		<div class="frame"><h2><f:translate key="dokumente" /></h2>
		<table>
		<f:for each="{dokumente}" as="dokument">
			<tr>
			<td>{dokument.name}</td>
			</tr>
		</f:for>
		</table>
		</div>
	</f:then></f:if>

	<f:form.submit value="Speichern" />
	<f:link.action class="linkbuttons" action="{calleraction}" controller="{callercontroller}">Zurück zur Liste</f:link.action>
</f:form>
</f:section>