{namespace iqtp13db=Ud\Iqtp13db\ViewHelpers}
<f:layout name="Default" />
<f:section name="HeaderAssets">
  		<link rel="stylesheet" href="{f:uri.resource(path: 'CSS/customtp13dbadmin.css')}"/>  		
</f:section>

<f:section name="main">

<f:flashMessages />
<br />
<h1>Daten Ratsuchende exportieren</h1>
Nach Klick auf den Button werden die Daten in eine Excel-Datei zum Download exportiert.<br>
Das Datum von/bis bezieht sich bei den Optionen Angemeldet und Gelöscht auf das Bestätigungsdatum der Anmeldung und bei der Option Archiviert auf das Datum 'Erstberatung abgeschlossen'.<br>

<div class="filterframe">
	<f:form class="exportfilterform" id="exportfilterform" method="post" controller="Teilnehmer" action="export" name="export" >
			<div>von: <f:form.textfield size="10" id="datepickerfiltervon" value="{filtervon}" name="filtervon" />
			bis: <f:form.textfield size="10" id="datepickerfilterbis" value="{filterbis}" name="filterbis" />				
			Auswahl Status: <f:form.select id="exportfilterselect" value="{filterberatungsstatus}" name="filterberatungsstatus" options="{settings.filterberatungsstatus}" optionValueField="key" optionLabelField="value" prependOptionValue="1" prependOptionLabel="-" />
	</f:form>
	
	<f:form method="post" controller="Teilnehmer" action="export" name="export" enctype="multipart/form-data" >
		<f:form.hidden value="{filterberatungsstatus}" name="filterberatungsstatus" />	
		<f:form.button type="submit" name="export">{anzgesamt} Ratsuchende exportieren</f:form.button>	
	</f:form>
</div>

</f:section>