<f:layout name="Default" />
<f:section name="HeaderAssets">
  		<link rel="stylesheet" href="{f:uri.resource(path: 'CSS/customtp13dbadmin.css')}"/>  		
</f:section>

<f:section name="main">

<div class="filterframe">
	<h1>Filter</h1>
	<f:form class="filterform" method="post" action="listarchiv" name="listarchiv" >
			<div>Name: <f:form.textfield size="20" value="{filtername}" name="name" /></div>
			<div>Ort: <f:form.textfield size="20" value="{filterort}" name="ort" /></div>
			<div>Beruf: <f:form.textfield size="20" value="{filterberuf}" name="beruf" /></div>
			<div>Geburtsland: <f:form.select value="{filterland}" name="land" options="{wohnsitzstaaten}" optionValueField="value" optionLabelField="value" /></div>
			<div>Gruppe: <f:form.textfield size="20" value="{filtergruppe}" name="gruppe" /></div>
			<f:if condition="{filteron}"><f:then><f:form.button name="filteraus" value="1" >Filter löschen</f:form.button></f:then></f:if>
			<f:form.submit name="filteran" value="Filtern" />			
	</f:form>
</div>

<f:flashMessages />

<h1>Liste Archiv: {anzgesamt} Einträge </h1>

<!--  <table><tr><td>nicht NIQ synchronisiert: &#9888;</td><td>NIQ synchronisiert: &#9989;</td></tr></table>  -->

<f:render partial="Paginator" arguments="{pagination: pagination, pages: pages, paginator: paginator, action: calleraction, orderby : orderby}" />
 
	<table  class="tx_iqtp13db" >
		<tr>
			<th>UID</th>
			<th><f:link.action action="listarchiv" arguments="{orderby : 'nachname', changeorder : 1}"><f:translate key="tx_iqtp13db_domain_model_teilnehmer.nachname" /></f:link.action></th>
			<th><f:link.action action="listarchiv" arguments="{orderby : 'vorname', changeorder : 1}"><f:translate key="tx_iqtp13db_domain_model_teilnehmer.vorname" /></f:link.action></th>
			<th><f:link.action action="listarchiv" arguments="{orderby : 'verification_date', changeorder : 1}">Anmeldedatum</f:link.action></th>
			<th><f:link.action action="listarchiv" arguments="{orderby : 'ort', changeorder : 1}"><f:translate key="tx_iqtp13db_domain_model_teilnehmer.plz" />/<f:translate key="tx_iqtp13db_domain_model_teilnehmer.ort" /></f:link.action></th>
			<th><f:link.action action="listarchiv" arguments="{orderby : 'geschlecht', changeorder : 1}"><f:translate key="tx_iqtp13db_domain_model_teilnehmer.geschlecht" /></f:link.action></th>
			<th>Leistungs-<br>bezug</th>
			<th>Anerkenn.-<br>zusch.<br>beantragt?</th>
			<th><f:link.action action="listarchiv" arguments="{orderby : 'berater.username', changeorder : 1}"><f:translate key="tx_iqtp13db_domain_model_teilnehmer.berater" /></f:link.action></th>
			<th><f:link.action action="listarchiv" arguments="{orderby : 'beratungdatum', changeorder : 1}"><f:translate key="tx_iqtp13db_domain_model_teilnehmer.beratungdatum" /></f:link.action></th>
			<th id="resizablecol1"><f:translate key="tx_iqtp13db_domain_model_abschluss.deutscher_referenzberuf" /></th>
			<th id="resizablecol2"><f:translate key="tx_iqtp13db_domain_model_abschluss.referenzberufzugewiesen" /></th>
			<th>vorherige Antragstellung</th>
			<th><f:link.action action="listarchiv" arguments="{orderby : 'erstberatungabgeschlossen', changeorder : 1}">Erstberatung abgeschlossen</f:link.action></th>
			<th id="resizablecol3"><f:link.action action="listarchiv" arguments="{orderby : 'kooperationgruppe', changeorder : 1}"><f:translate key="tx_iqtp13db_domain_model_teilnehmer.kooperationgruppe" /></f:link.action></th>
			<th>Anz. FK</th>
			<th> </th>
			<th> </th>
			<th> </th>
			<th> </th>
		</tr>
	
		<f:for each="{paginator.paginatedItems}" as="teilnehmer" iteration="it">
			<tr>
				<td><f:link.action action="show" controller="Teilnehmer" arguments="{teilnehmer : teilnehmer, calleraction: calleraction, callercontroller : callercontroller, callerpage : callerpage}">{teilnehmer.uid}</f:link.action></td>
				<td><f:link.action action="show" controller="Teilnehmer" arguments="{teilnehmer : teilnehmer, calleraction: calleraction, callercontroller : callercontroller, callerpage : callerpage}">{teilnehmer.nachname}</f:link.action></td>
				<td>{teilnehmer.vorname}</td>
				<td><f:format.date format="d.m.Y">@{teilnehmer.verificationDate}</f:format.date></td>
				<td>{teilnehmer.plz} {teilnehmer.ort}</td>
				<td class="tdcenter">{f:if(condition: '{teilnehmer.geschlecht} == 2', then: '<span style="color: #84a0ff;">M</span>')}
				{f:if(condition: '{teilnehmer.geschlecht} == 1', then: '<span style="color: #fe7a84;">W</span>')}
				{f:if(condition: '{teilnehmer.geschlecht} == 3', then: '<span>D</span>')}</td>
				<td>{f:if(condition: '{teilnehmer.leistungsbezugjanein} == 1', then: '✓', else: '')}</td>
				<td>{f:if(condition: '{teilnehmer.anerkennungszuschussbeantragt} == 1', then: '✓', else: '')}</td>
				<td>{teilnehmer.berater.username}</td>
				<td><f:format.date format="d.m.Y">{teilnehmer.beratungdatum}</f:format.date></td>
				<td>
					<f:for each="{abschluesse.{it.index}}" as="abschluss" iteration="iter">
						{f:if(condition: '{abschluesse.{it.index} -> f:count()} > 1', then: '{iter.index + 1}.', else: '')} {abschluss.deutscherReferenzberuf}<br>
					</f:for>
				</td>
				<td>
					<f:for each="{abschluesse.{it.index}}" as="abschluss" iteration="iter">
						<f:for each="{settings.berufe}" as="beruf" key="key">
							<f:if condition="{key} == {abschluss.referenzberufzugewiesen}">
								{f:if(condition: '{abschluesse.{it.index} -> f:count()} > 1', then: '{iter.index + 1}.', else: '')}
								
								{f:if(condition: '{abschluss.referenzberufzugewiesen} == "-3"', then: '{abschluss.sonstigerberuf}')}
								{f:if(condition: '{abschluss.referenzberufzugewiesen} == "-4"', then: '{abschluss.nregberuf}')}
								{f:if(condition: '{abschluss.referenzberufzugewiesen} > -3', then: '{beruf}')}
								<br>
								
							</f:if>
						</f:for>						
					</f:for>
				</td>
				<td>
					<f:for each="{abschluesse.{it.index}}" as="abschluss" iteration="iter">
						{f:if(condition: '{abschluss.antragstellungvorher} == 1', then: '✓')}
						{f:if(condition: '{abschluss.antragstellungvorher} == 2', then: '✓')}
						{f:if(condition: '{abschluss.antragstellungvorher} == 3', then: '✓')}					
					</f:for>					
				</td>
				<td>
				<f:if condition="{teilnehmer.erstberatungabgeschlossen} > 0">
				<f:then>
					<f:format.date format="d.m.Y">{teilnehmer.erstberatungabgeschlossen}</f:format.date>			
				</f:then>
				</f:if>				
				</td>
				<td>{teilnehmer.kooperationgruppe}</td>
				<td>{anzfolgekontakte.{it.index}}</td>
				<td><f:link.action class="linkbuttons" action="edit" arguments="{teilnehmer : teilnehmer, calleraction: calleraction, callercontroller : callercontroller, callerpage : callerpage}" controller="Teilnehmer">Bearbeiten</f:link.action></td>
				<td><f:link.action class="linkbuttons" action="new" arguments="{teilnehmer : teilnehmer, calleraction: calleraction, callercontroller : callercontroller, callerpage : callerpage}" controller="Folgekontakt">Folgekontakt</f:link.action></td>
				<td>
					<f:if condition="{niqstatuus.{it.index}} == 'gelb' || {niqstatuus.{it.index}} == 'rot'">
						<f:then>
							<span class="linkbuttons niqupload niqstatus{niqstatuus.{it.index}}" id="niq{teilnehmer.uid}" onclick="showNiqstatus({teilnehmer.uid});">NIQ Upload</span>							
							<div class="niqfehltlist" id="dialog-niqstatus{teilnehmer.uid}">
								NIQ Status ist {niqstatuus.{it.index}}, da folgende Felder fehlen:<br>
								<f:for each="{niqwasfehlt.{it.index}}" as="feld"><b>- {feld}</b><br></f:for>
							</div>
						</f:then>
						<f:else>
							<f:link.action class="linkbuttons niqstatus{niqstatuus.{it.index}}" action="sendtoniq" arguments="{teilnehmer : teilnehmer, calleraction: calleraction, callercontroller : callercontroller, callerpage : callerpage}">NIQ Update</f:link.action>
						</f:else>
					</f:if>
				</td>
				<td><f:link.action class="iconbuttons" action="listarchiv" onclick="return alert('Löschen wegen EU-DSGVO nur über IT-Abteilung und mit gleichzeitigem Hinweis an NIQ-Datenbank-Betreiber!');" ><img src="/typo3conf/ext/iqtp13db/Resources/Public/Icons/delete-640.png" width="32" height="32" alt="Löschen" /></f:link.action></td>
				
			</tr>
			<f:if condition="{anzfolgekontakte.{it.index}} != 0"><f:then>
				<f:render partial="Folgekontakt/Folgekontakte4List" arguments="{folgekontakte : folgekontakte, teilnehmer : teilnehmer, calleraction: calleraction, callercontroller : callercontroller, callerpage : callerpage}" />
			</f:then></f:if>
		</f:for>
	</table>
	
	<f:render partial="Paginator" arguments="{pagination: pagination, pages: pages, paginator: paginator, action: calleraction, orderby : orderby}" />
</f:section>



