
<f:layout name="Default" />

<f:section name="main">
<h1>Filter</h1>
<f:form method="post" controller="Teilnehmer" action="list" name="list"  noCacheHash="true" >
		Name: <f:form.textfield size="20" value="{filtername}" name="name" />&nbsp;&nbsp;
		Ort: <f:form.textfield size="20" value="{filterort}" name="ort" />&nbsp;&nbsp;
		Geburtsland: <f:form.textfield value="{filterland}" size="20" name="land" />&nbsp;&nbsp;&nbsp;&nbsp;
		<f:if condition="{filteron}"><f:then><f:form.button name="filteraus" value="1" >Filter löschen</f:form.button></f:then></f:if>
		<f:form.submit name="filteran" value="Filtern" />			
</f:form>
<br><br>
<h1>Liste Beratene: {anztn} Einträge <f:if condition="{filteron}"><f:then><span style="color: red;">(gefiltert)</span></f:then></f:if></h1>
<f:flashMessages />

<f:widget.paginate objects="{teilnehmers}" as="teilnehmerspag" configuration="{itemsPerPage: 25, insertAbove: 1}"> 
	<table  class="tx_iqtp13db" >
		<tr>
			<th><f:translate key="tx_iqtp13db_domain_model_teilnehmer.nachname" />, <f:translate key="tx_iqtp13db_domain_model_teilnehmer.vorname" /></th>
			<th><f:translate key="tx_iqtp13db_domain_model_teilnehmer.strasse" /></th>
			<th><f:translate key="tx_iqtp13db_domain_model_teilnehmer.plz" /></th>
			<th><f:translate key="tx_iqtp13db_domain_model_teilnehmer.ort" /></th>
			<th><f:translate key="tx_iqtp13db_domain_model_teilnehmer.geburtsland" />/-ort</th>
			<th><f:translate key="tx_iqtp13db_domain_model_teilnehmer.geschlecht" /></th>
			<th>Bestätigt</th>
			<th> </th>
			<th> </th>
		</tr>
	
		<f:for each="{teilnehmerspag}" as="teilnehmer">
			{f:if(condition: '{teilnehmer.verificationDate} != 0', then: '<tr style="background-color: bisque;">', else: '<tr>')}
				<td><f:link.action action="show" arguments="{teilnehmer : teilnehmer}"> {teilnehmer.nachname}, {teilnehmer.vorname}</f:link.action></td>
				<td>{teilnehmer.strasse}</td>
				<td>{teilnehmer.plz}</td>
				<td>{teilnehmer.ort}</td>
				<td>{teilnehmer.geburtsland}</td>
				<td>{f:if(condition: '{teilnehmer.geschlecht} == 2', then: '<span style="color: #84a0ff;">m</span>', else: '<span style="color: #fe7a84;">w</span>')}</td>
				<td>{f:if(condition: '{teilnehmer.verificationDate} != 0', then: 'JA', else: 'NEIN')}</td>
				<td><f:link.action class="linkbuttons" action="edit" arguments="{teilnehmer : teilnehmer}">Bearbeiten</f:link.action></td>
				<td><f:link.action class="linkbuttons" action="delete" arguments="{teilnehmer : teilnehmer}" onclick="return confirm('Wirklich löschen?');" >Löschen</f:link.action></td>
			</tr>
		</f:for>
	</table>
</f:widget.paginate> 
 

<f:link.action class="linkbuttons" action="new">Neuer Beratener</f:link.action>
</f:section>

