
<f:layout name="Default" />
<f:section name="HeaderAssets">
  		<link rel="stylesheet" href="{f:uri.resource(path: 'CSS/customtp13dbadmin.css')}"/>  		
</f:section>


<f:section name="main">

<h1>Daten Ratsuchende*r UID: {teilnehmer.uid}</h1>

<f:flashMessages />

<f:if condition="{showabschluesse} == '1'">
<f:then>
	<script>
		(function($) {
		    $(document).ready(function() {
		    	location.href = "#AnkerAbschluesse"; 
		    });
		})(jQuery);		
	</script>
</f:then>
</f:if>
<f:if condition="{showdokumente} == '1'">
<f:then>
	<script>
		(function($) {
		    $(document).ready(function() {
		         location.href = "#AnkerDokumente"; 
		    });
		})(jQuery);		
	</script>
</f:then>
</f:if>

<f:link.action class="linkbuttons" action="edit" arguments="{teilnehmer : teilnehmer, calleraction: calleraction, callercontroller : callercontroller, callerpage : callerpage}">Bearbeiten</f:link.action>
<f:link.action class="linkbuttons" action="savedatenblattpdf" controller="{callercontroller}" arguments="{teilnehmer:teilnehmer, callerpage : callerpage}">Datenblatt speichern (PDF)</f:link.action>
<f:link.action class="linkbuttons" action="{calleraction}" controller="{callercontroller}" arguments="{callerpage : callerpage}">Zurück zur Liste</f:link.action>

<div class="ankerbuttons">		
		<a href="#AnkerBeratung" class="linkbuttons buttonberatung" >Beratung anzeigen</a>
		<a href="#AnkerAbschluesse" class="linkbuttons buttonabschluesse" >Abschlüsse anzeigen</a>
		<a href="#AnkerDokumente" class="linkbuttons buttondokumente" >Dokumente anzeigen</a>
	</div>

<f:render partial="Teilnehmer/Properties" arguments="{teilnehmer:teilnehmer, historie : historie}" />
	
<f:link.action class="linkbuttons" action="edit" arguments="{teilnehmer : teilnehmer, calleraction: calleraction, callercontroller : callercontroller, callerpage : callerpage}">Bearbeiten</f:link.action>
<f:link.action class="linkbuttons" action="{calleraction}" controller="{callercontroller}" arguments="{callerpage : callerpage}">Zurück zur Liste</f:link.action>

<f:render partial="Abschluss/Abschluss4Teilnehmer" arguments="{teilnehmer : teilnehmer, abschluesse: abschluesse, calleraction: calleraction, callercontroller : callercontroller, callerpage : callerpage, thisaction : 'show'}" />

<f:render partial="Dokument/Dokumente4Teilnehmer" arguments="{teilnehmer : teilnehmer, dokumente: dokumente, calleraction: calleraction, callercontroller : callercontroller, callerpage : callerpage, thisaction : 'show'}" />

</f:section>