
<f:layout name="Default" />

<f:section name="main">

<f:flashMessages />

<div class="anmeldstart-frame">
	<div class="iq-teaser-logo-ohne-rand frame-type-text frame-layout-0 frame-no-backgroundimage frame-space-before-none frame-space-after-none">
		<div class="defaultframe">
			<div class="frame-inner head-links">
				
			</div>
			<div class="frame-inner head-mitte">
				<h1 class="text-center">IQ Beratungsportal</h1>
			</div>
			<div class="frame-inner head-rechts">
				<a href="https://www.charta-der-vielfalt.de/" target="_blank"><img class="head-logo-charta" src="/fileadmin/template/images/charta-der-vielfalt.svg" width="180" height="53" alt="Logo Charta der Vielfalt"></a>
			</div>
		</div>
	</div>
	<div class="frame-type-text frame-layout-0 frame-no-backgroundimage frame-space-before-none frame-space-after-none">
		<div class="defaultframe">
			<div class="frame-inner">
				<div class="anmeldstart-einftext"><f:translate key='tx_iqtp13db_domain_model_teilnehmer.start0intro' /></div>
				
				<f:form id="anmeldform" method="post" controller="Teilnehmer" action="anmeldseite0" >
					<div id="divanmeldwohnsitz">
						<label for="wohnsitzDeutschland">
							<f:translate key='tx_iqtp13db_domain_model_teilnehmer.start0wohnsitz' />			
						</label>
						<div class="divanmeldung-radiooptionsframe">
							<div class="divwebappradio-anmeldung"><f:form.radio id="anmeld-checkwohnsitzDeutschland1" name="wohnsitzDeutschland" value="1" /><span class="abschlussradiotext"><f:translate key="ja" /></span></div>
							<div class="divwebappradio-anmeldung"><f:form.radio id="anmeld-checkwohnsitzDeutschland2" name="wohnsitzDeutschland" value="2" /><span class="abschlussradiotext"><f:translate key="nein" /></span></div>
						</div>				
					</div>
					
					<div id="divanmeldplz">
						<label for="plz">
							<f:translate key='tx_iqtp13db_domain_model_teilnehmer.start0plz' />
						</label>
						<div class="divtext-anmeldung"><f:form.textfield size="8" pattern="[0-9][0-9][0-9][0-9][0-9]" class="anmeldplztextfield" id="anmeldplz" name="plz" /></div>
					</div>
					<f:form.button type="submit" class="linkbuttons anmeldstart"><f:translate key='weiter' /></f:form.button>					
				</f:form> 
			</div>
		</div>
	</div>
</div>

<span style="color: #efefef; font-size: 0.8rem; float: right;">{beratungsstelle}</span>
</f:section>