<f:section name="HeaderAssets">
  		<link rel="stylesheet" href="{f:uri.resource(path: 'CSS/customtp13dbadmin.css')}"/>  		
</f:section>

<f:layout name="Default" />

<f:section name="main">
<b>Beratungsstelle:</b> {beratungsstelle}<br>
<b>Beratungsstellen-ID:</b> {niqbid}<br>
<b>NIQ-Datenbank-Status: <f:format.raw>{niqdbstatus}</f:format.raw></b><br><br>
<h1>Status aktuell</h1>

<f:flashMessages />

<table>
	<tr>
		<td>Anmeldungen wartend</td>
		<td>{aktuelleanmeldungen}</td>
	</tr>
	<tr>
		<td>Erstberatungen laufend</td>
		<td>{aktuellerstberatungen}</td>
	</tr>
	<tr>
		<td>Erstberatungen abgeschlossen</td>
		<td>{aktuellberatungenfertig}</td>
	</tr>
	<tr>
		<td>Total archiviert</td>
		<td>{archivierttotal}</td>
	</tr>
</table>
<br>
<h2>Statistik letzte 12 Monate</h2>
<table>
	<tr>
		<th></th>
		<f:for each="{monatsnamen}" as="monat" iteration="iter">
			<th {f:if(condition: '{iter.index} == {aktmonat}', then: 'style="background-color: #ffcaf2;"')}> {monat}</th>
		</f:for>
		<th>Summe</th>
	</tr>
	<tr>
		<th>Anmeldungen<br>(wartend)</th>
		<f:for each="{angemeldeteTN}" as="tn" iteration="iter">
			<td {f:if(condition: '{iter.index} == {aktmonat}', then: 'style="background-color: #ffcaf2;"')}>{tn}</td>
		</f:for>
		<td>{SUMangemeldeteTN}</td>
	</tr>
	<tr>
		<th>Erstberatungen</th>
		<f:for each="{erstberatung}" as="eb" iteration="iter">
			<td {f:if(condition: '{iter.index} == {aktmonat}', then: 'style="background-color: #ffcaf2;"')}>{eb}</td>
		</f:for>
		<td>{SUMerstberatung}</td>
	</tr>
	<tr>
		<th>Folgekontakte</th>
		<f:for each="{qfolgekontakte}" as="qf" iteration="iter">
			<td {f:if(condition: '{iter.index} == {aktmonat}', then: 'style="background-color: #ffcaf2;"')}>{qf}</td>
		</f:for>
		<td>{SUMqfolgekontakte}</td>
	</tr>
	<tr>
		<th>Beratungen fertig</th>
		<f:for each="{beratungfertig}" as="bf" iteration="iter">
			<td {f:if(condition: '{iter.index} == {aktmonat}', then: 'style="background-color: #ffcaf2;"')}>{bf}</td>
		</f:for>
		<td>{SUMberatungfertig}</td>
	</tr>
	<tr>
		<th>davon NIQ erfasst</th>
		<f:for each="{niqerfasst}" as="ni" iteration="iter">
			<td {f:if(condition: '{iter.index} == {aktmonat}', then: 'style="background-color: #ffcaf2;"')}>{ni}</td>
		</f:for>
		<td>{SUMniqerfasst}</td>
	</tr>
		<tr>
		<th>&Oslash; Tage Wartezeit</th>
		<f:for each="{totalavgmonthw}" as="avgw" iteration="iter">
			<td {f:if(condition: '{iter.index} == {aktmonat}', then: 'style="background-color: #ffcaf2;"')}><f:format.number>{avgw}</f:format.number></td>
		</f:for>
		<td><f:format.number>{SUMtotalavgmonthw}</f:format.number></td>
	</tr>
	</tr>
		<tr>
		<th>&Oslash; Tage Beratungsdauer</th>
		<f:for each="{totalavgmonthb}" as="avgb" iteration="iter">
			<td {f:if(condition: '{iter.index} == {aktmonat}', then: 'style="background-color: #ffcaf2;"')}><f:format.number>{avgb}</f:format.number></td>
		</f:for>
		<td><f:format.number>{SUMtotalavgmonthb}</f:format.number></td>
	</tr>
</table>
<f:form method="post" controller="Teilnehmer" action="status" name="statsexp" enctype="multipart/form-data" noCacheHash="true" ><br />
	<f:form.submit name="statsexport" value="Statistik exportieren" />			
</f:form>

<hr>

<h2>Historie Änderung Daten Ratsuchende im Backend</h2>
<f:render partial="Paginator" arguments="{pagination: pagination, pages: pages, paginator: paginator, action: calleraction}" />

	<table  class="tx_iqtp13db" >
		<tr>
			<th>Datum/Zeit</th>
			<th>Kürzel</th>
			<th>Teilnehmer</th>
			<th>Feld</th>
			<th>alter Wert</th>
			<th>neuer Wert</th>
		</tr>
	
		<f:for each="{paginator.paginatedItems}" as="hist" iteration="it">
			<tr>		
				<td>{hist.tstamp -> f:format.date(format: "d.m.Y H:i")}</td>
				<td>{hist.berater.username}</td>
				<td>{hist.teilnehmer.nachname}, {hist.teilnehmer.vorname} (UID: {hist.teilnehmer.uid})</td>
				<td>{hist.property}</td>
				<td>{hist.oldvalue}</td>
				<td>{hist.newvalue}</td> 
			</tr>
		</f:for>
	</table>

</f:section>